@model MvcApplication1.Models.CartAuthenticateModel
@{
    Layout = "~/Views/Shared/BlankLayout.cshtml";
}

<form name="frmLaunchACS" method="Post" action="@Model.Centinel_ACSURL">
    <br>
    
    <br>
    <div style="text-align: center; margin: 20px;">

        <h1>Please wait...while redirecting to payment gateway</h1>

        <input type=hidden name="PaReq" value="@Model.CentinelPayload"/>
        <input type=hidden name="TermUrl" value="@Model.CentinelTermURL"/>
        <input type="hidden" name="MD" value="@Model.Centinel_TransactionId"/>
        @*<input id="submit-form" type="submit" />*@ 
        
    </div>
    

</form>

<script type="text/javascript">
        window.onload = function() {
            var auto = setTimeout(function() { autoRefresh(); }, 4000);

            function submitform() {
                document.forms["frmLaunchACS"].submit();
                
            }

            function autoRefresh() {
                clearTimeout(auto);
                auto = setTimeout(function() {
                    submitform();
                    autoRefresh();
                }, 4000);
            }
        }
   
</script>