@model MvcApplication1.Models.GenericModel
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>  
<div id="auto-refill" style="margin-left:9px;">
    <div id="auto-refill-scroller">
      <div class="top-bg">
        <h1>Confirmation Page </h1>
      </div>
      <div class="repeat-scroller-bg">
        <div class="editprofile_b">
          <div id="edit-profile" style="text-align:center">
            <h2 class="confirmation">Thank you for ordering!</h2>
            <h3 class="chargedh3">To activate your newly registered account
              please call us. </h3>
            <p class="us-flag">
			
		 <span class="usflag1" style="width:auto!important; margin:0px 36px 0px 29px;"><img src="@Url.Content("~/images/us-flag.png")" alt="US" class="imgus"> 1-877-463-4233</span> 
		 <span class="candaflag1" style="width:auto!important; margin:17px 60px 0 -1px !important;"><img src="@Url.Content("~/images/ca-flag.png")" alt="Canada" class="imgus">1-416-848-0234</span> 
		 <span class="ukflag1" style="width:auto!important; margin:17px 29px 0 0;"><img class="imgus" src="@Url.Content("~/images/uk-flag.png")" alt="UK"> 0808-234-7012</span> 
		 <a onclick="openwindow();" style="cursor: pointer; margin-left:30px;" target="_blank" class="click-chat-btn1"></a> </p>
          </div>
        </div>
      </div>
      <div class="bottom-scroller-bg"></div>
    </div>
  </div>
