@model MvcApplication1.Areas.Mobile.ViewModels.UpdateCreditCardViewModel
<div class="container-fluid">
    <div class="container">
        <h1 class=" title_login">Payment Information</h1>
        <div class="row">
            @using (Ajax.BeginForm("InsertUpdateCreditCard", "UiControls", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "ajaxContainerDiv" }))
            {
                @Html.AntiForgeryToken()
              
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block form_mar btn_bgreen">Submit<span class=" btn_next fa fa-chevron-right"></span></button>
                </div>
            }
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-block form_mar btn_bgray"><span class=" btn_prev fa fa-chevron-left"></span>Back</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")