<div class="modal fade" id="cvv_no" role="dialog" tabindex="-1" aria-labelledby="cvvNumber" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="cvvNumber">What is CVV?</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">


                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 form_mar ">
                            <h3 class="text-center">Where is my Card Id/PIN?</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="pop_border">
                                <h3 class="text-center">Visa and MasterCard Card Holders</h3>
                                <p><strong>CVV2: A new Three-Digit Value</strong> An important new security feature for card-not present transactions now appears on the back of most visa cards </p>
                                <img class="img-responsive center-block" src="@Url.Content("~/Content/MobileTheme/images/card_cvv2.jpg")">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="pop_border">
                                <h3 class="text-center">American Express Card Holders</h3>
                                <p><strong>The Card Identification #</strong> is the 4 digit, non embossed number printed above your account number on the face of your card. This number is recorded as an additional security precaution.</p>
                                <img class="img-responsive center-block" src="@Url.Content("~/Content/MobileTheme/images/learn_popup_img.jpg")">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
