@{
    ViewBag.Title = "Faq";
}

<div class="container-fluid ">
    <div class="container">
        <h1 class=" title_login">FAQ's</h1>
        <div class="row">
            <div class="col-xs-12">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid ">
    <div class="bwl_acc_container" id="accordion_8">
        <!-- end .bwl_acc_container -->

        <div class="search_result_container"></div>
        <!-- end .search_result_container -->

        <section>
            <h2 class="acc_title_bar default-title-bar default-title-bar-active"><a href="#">Is the Offer good from USA and Canada?</a>
            </h2>
            <div class="acc_container" style="display: block;">
                <div class="block animated fadeInDown" style="opacity: 1;">
                    <p>Yes, this offer is valid from USA and Canada. </p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">Will I be able to recharge the same plan? </a>
            </h2>
            <div class="acc_container" style="">
                <div class="block animated fadeInDown" style="opacity: 1;">
                    <p>For next time, you will be able to recharge your plan either with our customer representative; or you recharge your plan through our website [www.raza.com].</p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">What will be the rate next time when I recharge this plan? </a>
            </h2>
            <div class="acc_container" style="">
                <div class="block animated fadeInDown" style="opacity: 1;">
                    <p>
                        Regular rate will be applied for recharge of the above plan. Regular rates can be found at <a href="#">www.raza.com</a>
                    </p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">100% Unconditional Money Back Guarantee. </a>
            </h2>
            <div class="acc_container" style="">
                <div class="block animated fadeInDown" style="opacity: 1;">
                    <p>If for any reason you're not completely satisfied with any aspect of our product, whether the quality, the price or any other reason, you can call us anytime, regardless the date of your purchase, and we will refund the unused balance! You can count on it. </p>

                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">Will I be able to purchase this plan by calling the customer service? </a>
            </h2>
            <div class="acc_container" style="">
                <div class="block animated fadeInDown" style="opacity: 1;">
                    <h4></h4>
                    <p>No. This Offer is Online only.</p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">If I purchase this Plan will I be able to make calls to other countries? </a>
            </h2>
            <div class="acc_container" style="">
                <div class="block animated fadeInDown" style="opacity: 1;">
                    <p>Yes! You will be able to make calls to anywhere in the world. The rate to call countries will differ, based on the countries you are calling to. </p>
                </div>
            </div>
        </section>


    </div>
</div>
<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h5 class="text-center">Raza.com reserves the rights to withdraw or alter any Promotion Offer at any time without prior notice.</h5>
            </div>
        </div>
    </div>
</div>

