@{
    ViewBag.Title = "Confirmation";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center sub_titile"><i class="fa fa-check-circle confirm_check"></i>
                </h3>
                <div class="border_line"></div>
                <h3 class="text-center sub_titile">Recharge Successfull !!</h3>
                <h5 class="">A confirmation has been sent to your e-mail. Please call the customer service to activate your newly registered account.</h5>
                <div class="border_line"></div>
                <h5 class="text-center">Thank you for your business with Raza.com Keep talking !!</h5>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <h4>Dialing Instructions :</h4>
        <div class="inst_box">
            <div class="row">
                <div class="col-xs-12">
                    <h5>1. Dial Raza Access Number</h5>
                    <h5>2. Dial 011 + the Country Code + the
                        Phone Number followed by #.</h5>
                    <p>
                        (To call from Europe, dial 00 + the Country
                        Code + the Phone Number followed by #.)
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="border_line"></div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h5></h5>
            </div>
        </div>
    </div>
</div>
<div class="border_line"></div>


