<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Raza</title>
<link rel="stylesheet" href="css/style-raza-offerchoosing.css"/>
</head>

<body>
<div class="customer-banner">
	<ul>
    	<li><img src="images/customer-banner-top-left.jpg" alt="" /></li>
        <li><img src="images/customer-banner-top-right.jpg" alt="" /></li>
        <li><img src="images/customer-banner-bottom-left.jpg" alt="" /></li>
        <li><img src="images/customer-banner-bottom-right.jpg" alt="" /></li>
    </ul>
</div>

<div class="customer-price-table">
	<div class="customer-price-table-top"><img src="images/customer-price-table-top-bg.png" alt="" /></div>
    <div class="customer-price-table-content">
    	<div class="customer-price-top-section">
        	<div class="customer-price-top-section-column"><img src="images/img-usa.jpg" alt="" /></div>
            <div class="customer-price-top-section-column"><img src="images/img-selectcountry.jpg" alt="" /></div>
            <div class="customer-price-top-section-column"><a href="new-customers.html" class="new-customers-tab">New Customers</a></div>
            <div class="customer-price-top-section-column"><a href="existing-customers.html" class="existing-customer-tab">Existing Customers</a></div>
        </div>
    </div>
    <div><img src="images/customer-price-table-bottom-bg.png" alt="" /></div>
</div>

</body>
</html>
