@model MvcApplication1.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Forgotpassword";
}

 <input type="text"  class="btr"   placeholder="Enter the country you wish to call" />

<div class="flag"> <img src="@Url.Content("~/images/india_coupan_flag.jpg")" alt=""/></div>

           

              <div class="gray-bg">

                <fieldset>

                  <input type="text" placeholder="Enter your email address"  />

                  <input type="text" placeholder="Confirm Email Addresss" />

                </fieldset>

                <fieldset>

                  <input type="password" placeholder="Password" />

                  <input type="password" placeholder="Conform Password" />

                </fieldset>

              </div>

              <div class="clear"></div>

              <input type="submit" onclick="window.open('rate-page.html')" value="Shop Now" class="btn_shop">

              <div class="clear"></div>

              <div class="sprator"></div>

              <div class="text-bar"><i>We will not sell or rent your personally identifiable information to third parties.</i></div>

            </div>

          </form>

          <div class="contact_popup_bot"></div>

        </div>

        <div id="mask"></div>

      </div>

    </div>

  </div>

  <!--Top Header End-->

<!--Body Container Start-->
<form action='@Url.Content("~/Account/LogOn")' method ="POST" >

  <div id="inner_body_container">

    <div id="banner"><img src="@Url.Content("~/images/login_banner_new.jpg")"  alt=""/></div>

    <!-- End demo -->

    <div id="auto-refill">

      <div id="auto-refill-scroller">

        <div class="top-bg">

          <h1><span id="spnMsg">Account Login</span></h1>

        </div>

        <div class="repeat-scroller-bg">

          <div class="editprofile_b">

            <div id="edit-profile" class="edi_pro">

              <div class="left big-hth"> <span class="loginname"><strong>Existing  Customers:</strong></span>

                <p>

                  <label class="email">Email Address: </label>

                  <input name="EmailAddress" type="EmailAddress" id="EmailAddress" data-bind='value: EmailAddress'/>

                </p>

                <div class="spacer"></div>

                <div class="clear"></div>

                <p>

                  <label class="email"> Password:</label>

                  <input name="Password" id="Password" type="Password" data-bind='value: EmailAddress' />

                </p>

                <div class="spacer"></div>

                <div class="clear"></div>

				<div class="spacer_49"></div>

                <p >

                  <label></label>

                  <input name="Submit" type="Submit" id="Submit" value="" class="submit-btn-new"/>

                </p>

                <div class="spacer"></div>

                <div class="clear"></div>

                <p style="margin-bottom:0;">

                  <label></label>

                  <label class="remember" for="remember">

                  <input type="checkbox">

                  Remember Password </label>

                  </fieldset>

                  <strong><a href="#">Forgot Password?</a></strong> 

              </div>

             

            </div>

          </div>

        </div>

        <div class="bottom-scroller-bg"></div>

      </div>

    </div>

  </div>
  </form>
  <!--Body Container End-->

  <div class="spacer"></div>

  <div class="clear"></div>

  



