@{
    ViewBag.Title = "FreeTrial";
}

              
              
              <input type="text"  class="btr"   placeholder="Enter the country you wish to call" />
              <div class="flag_m"> <img src="@Url.Content("~/images/india_coupan_flag.jpg")" /></div>
              </fieldset>
              <div class="gray-bg">
                <fieldset>
                <input type="text" placeholder="Enter your email address"  />
                <input type="text" placeholder="Confirm Email Addresss" />
                </fieldset>
                <fieldset>
                <input type="password" placeholder="Password" />
                <input type="password" placeholder="Conform Password" />
                </fieldset>
              </div>
              <div class="clear"></div>
              <input type="submit" onclick="window.open('rate-page.html')" value="Shop Now" class="btn_shop">
              <div class="clear"></div>
              <div class="sprator"></div>
              <div class="text-bar"><i>We will not sell or rent your personally identifiable information to third parties.</i></div>
            </div>
          </form>
          <div class="contact_popup_bot"></div>
        </div>
        <div id="mask"></div>
      </div>
    </div>
	
  </div>
  <!--Top Header End-->
  <!--Body Container Start-->
  <div id="inner_body_container">

    <div id="banner"><img src="@Url.Content("~/images/banner-feed.png")" /></div>
    <!-- End demo -->
    <div id="feedback_panel">
      <div id="feedback-scroller">
        <div class="top-bg">
          <h1>Free Trial Offer FAQs</h1>
        </div>
        <div class="repeat-scroller-bg">
          <!--according start-->
          <ul id="acc1" class="accordion toggle1">
            <li class="shown ui-corner-left" onclick="getIDofAccLi(1)">
              <h5 class="h trigger" id="hid_2_1">What is a free Trial Offer?</h5>
              <div class="outer" id="1_1" style="display: none; ">
                <div class="inner">
                  <div class="inner_faq">
                    <p class="trial_margin">Get up to 100 Minutes to over 25 different countries! New customers can Sign-up today to experience quality long-distance service that only Raza.com can offer. There are no restrictions, taxes or hidden fees. Call any body, anywhere, any time.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="shown ui-corner-left" onclick="getIDofAccLi(2)">
              <h5 class="h trigger" id="hid_2_2">How many FREE minutes will I get to the country I am calling?</h5>
              <div class="outer" id="1_2" style="display: none; ">
                <div class="inner">
                  <table width="100%" border="0" cellspacing="0" rules="all" id="dgCDR" class="trial_table_margin border_3">
                    <tbody>
                      <tr align="middle" valign="center">
                        <td style="color:#fff; font-size:14px; font-weight:bold;" height="30" align="center" bgcolor="#757575"  class="col">COUNTRY</td>
                        <td style="color:#fff; font-size:14px; font-weight:bold;" align="center" bgcolor="#757575" class="col">MIN.</td>
                        <td style="color:#fff; font-size:14px; font-weight:bold;" align="center" bgcolor="#757575" class="col">COUNTRY</td>
                        <td style="color:#fff; font-size:14px; font-weight:bold;" align="center" bgcolor="#757575" class="col">MIN.</td>
                        <td style="color:#fff; font-size:14px; font-weight:bold;" align="center" bgcolor="#757575" class="col">COUNTRY</td>
                        <td style="color:#fff; font-size:14px; font-weight:bold;" align="center" bgcolor="#757575" class="col">MIN.</td>
                      </tr>
                      <tr align="middle" valign="center" bgcolor="#dcdcdc">
                        <td height="27"><center>
                            Afghanistan
                          </center></td>
                        <td height="27" align="center">20 </td>
                        <td height="27" align="center">Japan </td>
                        <td height="27" align="center">85</td>
                        <td height="27" align="center">Poland</td>
                        <td height="27" align="center">115</td>
                      </tr>
                      <tr align="middle" valign="center" bgcolor="#ffffff">
                        <td height="27"><center>
                            Bangladesh
                          </center></td>
                        <td height="27" align="center">100 </td>
                        <td height="27" align="center">Jordan </td>
                        <td height="27" align="center">40 </td>
                        <td height="27" align="center">Qatar</td>
                        <td height="27" align="center">25</td>
                      </tr>
                      <tr align="middle" valign="center" bgcolor="#dcdcdc">
                        <td height="27"><center>
                            Bulgaria
                          </center></td>
                        <td height="27" align="center">60 </td>
                        <td height="27" align="center">Lithuania </td>
                        <td height="27" align="center">35 </td>
                        <td height="27" align="center">Saudi Arabia</td>
                        <td height="27" align="center">35</td>
                      </tr>
                      <tr align="middle" valign="center" bgcolor="#ffffff">
                        <td height="27"><center>
                            Canada
                          </center></td>
                        <td height="27" align="center">100 </td>
                        <td height="27" align="center">Mexico</td>
                        <td height="27" align="center">25 </td>
                        <td height="27" align="center">South Korea</td>
                        <td height="27" align="center">70</td>
                      </tr>
                      <tr align="middle" valign="center" bgcolor="#dcdcdc">
                        <td height="27"><center>
                            China
                          </center></td>
                        <td height="27" align="center">100</td>
                        <td height="27" align="center">Nepal </td>
                        <td height="27" align="center">30 </td>
                        <td height="27" align="center">Sri Lanka</td>
                        <td height="27" align="center">30</td>
                      </tr>
                      <tr align="middle" valign="center" bgcolor="#ffffff">
                        <td height="27"><center>
                            Egypt
                          </center></td>
                        <td height="27" align="center">30</td>
                        <td height="27" align="center">Nigeria</td>
                        <td height="27" align="center">30</td>
                        <td height="27" align="center">Ukraine</td>
                        <td height="27" align="center">30</td>
                      </tr>
                      <tr align="middle" valign="center" bgcolor="#dcdcdc">
                        <td height="27"><center>
                            Ghana
                          </center></td>
                        <td height="27" align="center">15</td>
                        <td height="27" align="center">Oman</td>
                        <td height="27" align="center">20</td>
                        <td height="27" align="center">United Arab Emirates</td>
                        <td height="27" align="center">20</td>
                      </tr>
                      <tr align="middle" valign="center" bgcolor="#ffffff">
                        <td height="27"><center>
                            India
                          </center></td>
                        <td height="27" align="center">100 </td>
                        <td height="27" align="center">Pakistan</td>
                        <td height="27" align="center">30 </td>
                        <td height="27" align="center">United Kingdom</td>
                        <td height="27" align="center">100</td>
                      </tr>
                      <tr align="middle" valign="center" bgcolor="#dcdcdc">
                        <td height="27"><center>
                            Indonesia
                          </center></td>
                        <td height="27" align="center">30 </td>
                        <td height="27" align="center">Philippines </td>
                        <td height="27" align="center">30 </td>
                        <td height="27" align="center">United States</td>
                        <td height="27" align="center">100</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </li>
            <li class="shown ui-corner-left" onclick="getIDofAccLi(3)">
              <h5 class="h trigger" id="hid_2_3">Do I have to make any purchase in order to get this free trial offer?</h5>
              <div class="outer" id="1_3" style="display: none; ">
                <div class="inner">
                  <p class="trial_margin"><strong>No!</strong> purchase is necessary to get the free trial offer. </p>
                </div>
              </div>
            </li>
            <li class="shown ui-corner-left" onclick="getIDofAccLi(4)">
              <h5 class="h trigger" id="hid_2_4">After I have used Free Trial offer, will I be able to recharge the same plan/account?</h5>
              <div class="outer" id="1_4" style="display: none; ">
                <div class="inner">
                  <p class="trial_margin"><strong>Yes!</strong> You will be able to recharge the free trial offer online or by calling our <strong>24/7 customer service.</strong></p>
                </div>
              </div>
            </li>
            <li class="shown ui-corner-left" onclick="getIDofAccLi(5)">
              <h5 class="h trigger" id="hid_2_5">What will be per minute rate after the Free trial offer?</h5>
              <div class="outer" id="1_5" style="display: none; ">
                <div class="inner">
                  <p class="trial_margin">Visit our home page at <strong>www.Raza.com</strong> and select the calling from and calling to countries for our regular rates.</p>
                </div>
              </div>
            </li>
            <li class="shown ui-corner-left" onclick="getIDofAccLi(6)">
              <h5 class="h trigger" id="hid_2_6">Is this Free trial offer for New customers only?</h5>
              <div class="outer" id="1_6" style="display: none; ">
                <div class="inner">
                  <p class="trial_margin"><strong>Yes!</strong> This offer is for New customers only. </p>
                </div>
              </div>
            </li>
            <li class="shown ui-corner-left" onclick="getIDofAccLi(7)">
              <h5 class="h trigger" id="hid_2_7">Is this Free trial offer available ONLINE only?</h5>
              <div class="outer" id="1_7" style="display: none; ">
                <div class="inner">
                  <p class="trial_margin"><strong>Yes!</strong> This offer is valid only ONLINE.</p>
                </div>
              </div>
            </li>
            <li class="shown ui-corner-left" onclick="getIDofAccLi(8)">
              <h5 class="h trigger" id="hid_2_8">Is there any coupon code for the offer?</h5>
              <div class="outer" id="1_8" style="display: none; ">
                <div class="inner">
                  <p class="trial_margin"><strong>No!</strong> There is no coupon code required for this offer.</p>
                </div>
              </div>
            </li>
            <li class="shown ui-corner-left" onclick="getIDofAccLi(9)">
              <h5 class="h trigger" id="hid_2_9">Can we view our call details?</h5>
              <div class="outer" id="1_9" style="display: none; ">
                <div class="inner">
                  <p class="trial_margin"><strong>Yes!</strong> You can view call details online.</p>
                </div>
              </div>
            </li>
            <li class="shown ui-corner-left" onclick="getIDofAccLi(10)">
              <h5 class="h trigger" id="hid_2_10">Is the Free trial offer for USA, Canada and UK customers?</h5>
              <div class="outer" id="1_10" style="display: none; ">
                <div class="inner">
                  <p class="trial_margin"><strong>YES!</strong> The trial offer is available for new customers in the <strong>U.S., Canada and the U.K</strong>.</p>
                </div>
              </div>
            </li>
            <li class="shown ui-corner-left" onclick="getIDofAccLi(11)">
              <h5 class="h trigger" id="hid_11">When are free minutes effective?</h5>
              <div class="outer" id="1_11" style="display: none; ">
                <div class="inner">
                  <p class="trial_margin">As soon as you sign-up, you account will be activated, and you can enjoy Free Trial offer.</p>
                </div>
              </div>
            </li>
          </ul>
          <!--According End-->
        </div>
        <div class="bottom-scroller-bg"><img src="@Url.Content("~/images/bottom-bg.jpg")" width="990" height="13" alt="" /></div>
      </div>
    </div>
  </div>
  <!--Body Container End-->
  <!--Body Container End-->
  <div class="spacer"></div>
  <div class="clear"></div>
  

