<div class="left_panel">
      <div class="left-panel-inner">
      <div id="verticalTab">
        <div class="resp-tabs-container">
          <div>
            <div class="raza-app-inner">
              <h4>Send Top Up in less than 2 Minutes.</h4>
          <div class="countries-select-flag">
                <form action="#" method="post" accept-charset="utf-8" class="example_form">
                   <select>
	<option value="AF">Afghanistan</option>
	<option value="AX">Åland Islands</option>
	<option value="AL">Albania</option>
	<option value="DZ">Algeria</option>
	<option value="AS">American Samoa</option>
	<option value="AD">Andorra</option>
	<option value="AO">Angola</option>
	<option value="AI">Anguilla</option>
	<option value="AQ">Antarctica</option>
	<option value="AG">Antigua and Barbuda</option>
	<option value="AR">Argentina</option>
	<option value="AM">Armenia</option>
	<option value="AW">Aruba</option>
	<option value="AU">Australia</option>
	<option value="AT">Austria</option>
	<option value="AZ">Azerbaijan</option>
	<option value="BS">Bahamas</option>
	<option value="BH">Bahrain</option>
	<option value="BD">Bangladesh</option>
	<option value="BB">Barbados</option>
	<option value="BY">Belarus</option>
	<option value="BE">Belgium</option>
	<option value="BZ">Belize</option>
	<option value="BJ">Benin</option>
	<option value="BM">Bermuda</option>
	<option value="BT">Bhutan</option>
	<option value="BO">Bolivia, Plurinational State of</option>
	<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
	<option value="BA">Bosnia and Herzegovina</option>
	<option value="BW">Botswana</option>
	<option value="BV">Bouvet Island</option>
	<option value="BR">Brazil</option>
	<option value="IO">British Indian Ocean Territory</option>
	<option value="BN">Brunei Darussalam</option>
	<option value="BG">Bulgaria</option>
	<option value="BF">Burkina Faso</option>
	<option value="BI">Burundi</option>
	<option value="KH">Cambodia</option>
	<option value="CM">Cameroon</option>
	<option value="CA">Canada</option>
	<option value="CV">Cape Verde</option>
	<option value="KY">Cayman Islands</option>
	<option value="CF">Central African Republic</option>
	<option value="TD">Chad</option>
	<option value="CL">Chile</option>
	<option value="CN">China</option>
	<option value="CX">Christmas Island</option>
	<option value="CC">Cocos (Keeling) Islands</option>
	<option value="CO">Colombia</option>
	<option value="KM">Comoros</option>
	<option value="CG">Congo</option>
	<option value="CD">Congo, the Democratic Republic of the</option>
	<option value="CK">Cook Islands</option>
	<option value="CR">Costa Rica</option>
	<option value="CI">Côte d'Ivoire</option>
	<option value="HR">Croatia</option>
	<option value="CU">Cuba</option>
	<option value="CW">Curaçao</option>
	<option value="CY">Cyprus</option>
	<option value="CZ">Czech Republic</option>
	<option value="DK">Denmark</option>
	<option value="DJ">Djibouti</option>
	<option value="DM">Dominica</option>
	<option value="DO">Dominican Republic</option>
	<option value="EC">Ecuador</option>
	<option value="EG">Egypt</option>
	<option value="SV">El Salvador</option>
	<option value="GQ">Equatorial Guinea</option>
	<option value="ER">Eritrea</option>
	<option value="EE">Estonia</option>
	<option value="ET">Ethiopia</option>
	<option value="FK">Falkland Islands (Malvinas)</option>
	<option value="FO">Faroe Islands</option>
	<option value="FJ">Fiji</option>
	<option value="FI">Finland</option>
	<option value="FR">France</option>
	<option value="GF">French Guiana</option>
	<option value="PF">French Polynesia</option>
	<option value="TF">French Southern Territories</option>
	<option value="GA">Gabon</option>
	<option value="GM">Gambia</option>
	<option value="GE">Georgia</option>
	<option value="DE">Germany</option>
	<option value="GH">Ghana</option>
	<option value="GI">Gibraltar</option>
	<option value="GR">Greece</option>
	<option value="GL">Greenland</option>
	<option value="GD">Grenada</option>
	<option value="GP">Guadeloupe</option>
	<option value="GU">Guam</option>
	<option value="GT">Guatemala</option>
	<option value="GG">Guernsey</option>
	<option value="GN">Guinea</option>
	<option value="GW">Guinea-Bissau</option>
	<option value="GY">Guyana</option>
	<option value="HT">Haiti</option>
	<option value="HM">Heard Island and McDonald Islands</option>
	<option value="VA">Holy See (Vatican City State)</option>
	<option value="HN">Honduras</option>
	<option value="HK">Hong Kong</option>
	<option value="HU">Hungary</option>
	<option value="IS">Iceland</option>
	<option value="IN">India</option>
	<option value="ID">Indonesia</option>
	<option value="IR">Iran, Islamic Republic of</option>
	<option value="IQ">Iraq</option>
	<option value="IE">Ireland</option>
	<option value="IM">Isle of Man</option>
	<option value="IL">Israel</option>
	<option value="IT">Italy</option>
	<option value="JM">Jamaica</option>
	<option value="JP">Japan</option>
	<option value="JE">Jersey</option>
	<option value="JO">Jordan</option>
	<option value="KZ">Kazakhstan</option>
	<option value="KE">Kenya</option>
	<option value="KI">Kiribati</option>
	<option value="KP">Korea, Democratic People's Republic of</option>
	<option value="KR">Korea, Republic of</option>
	<option value="KW">Kuwait</option>
	<option value="KG">Kyrgyzstan</option>
	<option value="LA">Lao People's Democratic Republic</option>
	<option value="LV">Latvia</option>
	<option value="LB">Lebanon</option>
	<option value="LS">Lesotho</option>
	<option value="LR">Liberia</option>
	<option value="LY">Libya</option>
	<option value="LI">Liechtenstein</option>
	<option value="LT">Lithuania</option>
	<option value="LU">Luxembourg</option>
	<option value="MO">Macao</option>
	<option value="MK">Macedonia, the former Yugoslav Republic of</option>
	<option value="MG">Madagascar</option>
	<option value="MW">Malawi</option>
	<option value="MY">Malaysia</option>
	<option value="MV">Maldives</option>
	<option value="ML">Mali</option>
	<option value="MT">Malta</option>
	<option value="MH">Marshall Islands</option>
	<option value="MQ">Martinique</option>
	<option value="MR">Mauritania</option>
	<option value="MU">Mauritius</option>
	<option value="YT">Mayotte</option>
	<option value="MX">Mexico</option>
	<option value="FM">Micronesia, Federated States of</option>
	<option value="MD">Moldova, Republic of</option>
	<option value="MC">Monaco</option>
	<option value="MN">Mongolia</option>
	<option value="ME">Montenegro</option>
	<option value="MS">Montserrat</option>
	<option value="MA">Morocco</option>
	<option value="MZ">Mozambique</option>
	<option value="MM">Myanmar</option>
	<option value="NA">Namibia</option>
	<option value="NR">Nauru</option>
	<option value="NP">Nepal</option>
	<option value="NL">Netherlands</option>
	<option value="NC">New Caledonia</option>
	<option value="NZ">New Zealand</option>
	<option value="NI">Nicaragua</option>
	<option value="NE">Niger</option>
	<option value="NG">Nigeria</option>
	<option value="NU">Niue</option>
	<option value="NF">Norfolk Island</option>
	<option value="MP">Northern Mariana Islands</option>
	<option value="NO">Norway</option>
	<option value="OM">Oman</option>
	<option value="PK">Pakistan</option>
	<option value="PW">Palau</option>
	<option value="PS">Palestinian Territory, Occupied</option>
	<option value="PA">Panama</option>
	<option value="PG">Papua New Guinea</option>
	<option value="PY">Paraguay</option>
	<option value="PE">Peru</option>
	<option value="PH">Philippines</option>
	<option value="PN">Pitcairn</option>
	<option value="PL">Poland</option>
	<option value="PT">Portugal</option>
	<option value="PR">Puerto Rico</option>
	<option value="QA">Qatar</option>
	<option value="RE">Réunion</option>
	<option value="RO">Romania</option>
	<option value="RU">Russian Federation</option>
	<option value="RW">Rwanda</option>
	<option value="BL">Saint Barthélemy</option>
	<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
	<option value="KN">Saint Kitts and Nevis</option>
	<option value="LC">Saint Lucia</option>
	<option value="MF">Saint Martin (French part)</option>
	<option value="PM">Saint Pierre and Miquelon</option>
	<option value="VC">Saint Vincent and the Grenadines</option>
	<option value="WS">Samoa</option>
	<option value="SM">San Marino</option>
	<option value="ST">Sao Tome and Principe</option>
	<option value="SA">Saudi Arabia</option>
	<option value="SN">Senegal</option>
	<option value="RS">Serbia</option>
	<option value="SC">Seychelles</option>
	<option value="SL">Sierra Leone</option>
	<option value="SG">Singapore</option>
	<option value="SX">Sint Maarten (Dutch part)</option>
	<option value="SK">Slovakia</option>
	<option value="SI">Slovenia</option>
	<option value="SB">Solomon Islands</option>
	<option value="SO">Somalia</option>
	<option value="ZA">South Africa</option>
	<option value="GS">South Georgia and the South Sandwich Islands</option>
	<option value="SS">South Sudan</option>
	<option value="ES">Spain</option>
	<option value="LK">Sri Lanka</option>
	<option value="SD">Sudan</option>
	<option value="SR">Suriname</option>
	<option value="SJ">Svalbard and Jan Mayen</option>
	<option value="SZ">Swaziland</option>
	<option value="SE">Sweden</option>
	<option value="CH">Switzerland</option>
	<option value="SY">Syrian Arab Republic</option>
	<option value="TW">Taiwan, Province of China</option>
	<option value="TJ">Tajikistan</option>
	<option value="TZ">Tanzania, United Republic of</option>
	<option value="TH">Thailand</option>
	<option value="TL">Timor-Leste</option>
	<option value="TG">Togo</option>
	<option value="TK">Tokelau</option>
	<option value="TO">Tonga</option>
	<option value="TT">Trinidad and Tobago</option>
	<option value="TN">Tunisia</option>
	<option value="TR">Turkey</option>
	<option value="TM">Turkmenistan</option>
	<option value="TC">Turks and Caicos Islands</option>
	<option value="TV">Tuvalu</option>
	<option value="UG">Uganda</option>
	<option value="UA">Ukraine</option>
	<option value="AE">United Arab Emirates</option>
	<option value="GB">United Kingdom</option>
	<option value="US">United States</option>
	<option value="UM">United States Minor Outlying Islands</option>
	<option value="UY">Uruguay</option>
	<option value="UZ">Uzbekistan</option>
	<option value="VU">Vanuatu</option>
	<option value="VE">Venezuela, Bolivarian Republic of</option>
	<option value="VN">Viet Nam</option>
	<option value="VG">Virgin Islands, British</option>
	<option value="VI">Virgin Islands, U.S.</option>
	<option value="WF">Wallis and Futuna</option>
	<option value="EH">Western Sahara</option>
	<option value="YE">Yemen</option>
	<option value="ZM">Zambia</option>
	<option value="ZW">Zimbabwe</option>
</select>
                  <input type="tel" name="tel" placeholder="enter the phone number only">
                  <input type="button" value="submit" />
                </form>
              </div>
              
              <!--<div class="international-bottom">
                <ul>
                  <li><img src="images/number-to-topup.png" alt="number-to-topup" />
                    <p>number to top</p>
                  </li>
                  <li><img src="images/select-amount.png"  alt="select-amount"/>
                    <p>select amount</p>
                  </li>
                  <li><img src="images/send-minutes.png"  alt="send-minutes"/>
                    <p>send minutes</p>
                  </li>
                </ul>
                <h3>Send minutes to over 300 carriers in 120 countries</h3>
              </div>-->
           
             <div class="internationamobile-topup"> <img src="images_new/international-tab-img.png" />
                <div class="global-left-box">
                <h2 class="forwardcall-signup">Topup Now</h2>
                <h3>Send minutes to over 300 carriers in 120 countries</h3>
                <h6>international mobile topup</h6>
                </div>
              </div>
           
              
            </div>
          </div>
       
          <div>
            <div class="raza-app-inner">
              <h4>Forward Your Calls Anywhere Anytime!</h4>
              <div class="forwardcall-right-text"> <img src="images_new/forward-tab-inner-img.png" alt="forward" />
                <div class="global-left-box">
                <h2 class="forwardcall-signup">Forward your calls</h2>
                <h3>to cell, home, office phones<br />
                  and hotel numbers. </h3>
                <a class="learn-more-btn learn-btn" href="#">Learn more</a>
                <h6>Get your personal 1-800 Number. </h6>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="raza-app-inner">
              <h4>Call Me Back Local </h4>
              <div class="forwardcall-right-text forward-unique-num"> <img src="images_new/unique-localnumber-tab-img.png" alt="unique-localnumber" />
                <div class="global-left-box">
                <h2 class="forwardcall-signup">Share a unique local number</h2>
                <h3>with your family and friends back home<br /> and
                  recevie calls immediately. </h3>
                <a class="learn-more-btn  unique-btn" href="call-me-local-login.html">Learn more</a>
                <h6>A very Cost effective communication service.</h6>
                </div>
              </div>
            </div>
          </div>
 
          <div>
            <div class="raza-app-inner">
              <h4>Never Get Disconnected</h4>
              <div class="forwardcall-right-text"> <img src="images_new/autorefill-tab-img.png" alt="autorefill-tab" />
                <div class="global-left-box">
                <h2 class="forwardcall-signup">Signup for Auto-refill today!</h2>
                <h3>Get 10% free mins on every recharge</h3>
                <a class="learn-more-btn  unique-btn" href="#">Learn more</a>
                <h6>Save time and get extra minutes for free.</h6>
                </div>
              </div>
            </div>
          </div>
          
           <div>
            <div class="raza-app-inner">
              <h4>International Call Back</h4>
              <div class="forwardcall-right-text"> 
              
              
              <img src="images_new/global-calling-tab-img.png" alt="global-calling" class="gblbcalImg" />
              
               <div class="global-left-box">
               <h2 class="forwardcall-signup">Are you travelling ?</h2>
                <h3>Call back from over 20  Different Countries</h3>
                <a class="learn-more-btn  unique-btn" href="#">Learn more</a>
                <h6>No need to buy physical calling card when you travel.</h6>
                
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <ul class="resp-tabs-list">
          <li>
            <h4 class="international-topup">mobile topup</h4>
          </li>
          <!--<li><h4 class="raza-mobile-app">raza  app</h4></li>-->
          <li>
            <h4 class="call-forwarding">call forwarding</h4>
          </li>
          <li>
            <h4 class="callme-local">call me local</h4>
          </li>
          <li>
            <h4 class="autorefill-tab">autorefill</h4>
          </li>
          
          <li>
            <h4 class="globalcall-tab">global calling</h4>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
      
      <div class="advertise-banner">
        <div class="advertise_left">
          <h4>Agent Program</h4>
           <h5>Do you own a business?</h5>
          <p>Join our agent program and earn upto 15% in commission.</p>
          <a class="advertise-btn" href="#">learn more <i class="fa fa-caret-right" aria-hidden="true"></i></a>
		 </div>
        <div class="advertise_right">
         <h4>free</h4>
          <h5>trail offer</h5>
          <p>Get up to 100 Free mins to call over 25 countries.</p>
          <a class="advertise-btn" href="#">learn more <i class="fa fa-caret-right" aria-hidden="true"></i></a> </div>
       </div>
    </div>
	  
	  
   	
    
		
<script type="text/javascript">
    //custom drop menu
    $(function () {
        $("#dropmenu-cpopup li").click(function () {

            $("#cpopup_flag_holder").attr("src", $(this).attr("data-image"));
            $("#Country").val($(this).attr("data-value"));
            $("#PhoneCC").html('+' + $(this).attr("data-ccode"));
            $("#span-country").html( $(this).attr("data-ccname"));
            $("#PhoneCC2").val($(this).attr("data-value")); //SEW - added to pass CC2 value needed to append to Phone
            $('#PhoneNumber').focus();

        });
    });
    //end custom drop menu
</script>
