<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Raza</title>
<link rel="stylesheet" href="css/style-raza-offerchoosing.css"/>
</head>

<body>
<div class="offerchoosing">
	<div class="offerchoosing-close"><a href="#"><img src="images/offer-close-btn.jpg" alt="cloae" title="close" /></a></div>
	<div class="offerchoosing-offerdiv">
    	<span><img src="images/offer-banner-2014.jpg" alt="" /></span>
        <h2>New Year Special</h2>
        <p>get up to 2014 FREE min<br /> New &amp; Existing Customer</p>
    </div>
    
    <div class="offerchoosing-offerdiv">
    	<span><img src="images/offer-banner-dummy.jpg" alt="" /></span>
        <h2>India New Customer Special</h2>
        <p>250 min. FREE</p>
    </div>
    
    <div class="offerchoosing-offerdiv">
    	<span><img src="images/offer-banner-dummy.jpg" alt="" /></span>
        <h2>Pakistan New Year Special</h2>
        <p>4.9 cent ($10/205 min) <br /> New customer special</p>
    </div>
    
    <div class="offerchoosing-offerdiv">
    	<span><img src="images/offer-banner-dummy.jpg" alt="" /></span>
        <h2>Nepal New Customer Special</h2>
        <p>6.9 cent ($10/170 min)</p>
    </div>
    
</div>
</body>
</html>
