@model MvcApplication1.Models.UnsubscribeEmailViewModel
@{
    ViewBag.Title = "UnsubscribeEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="auto-refill">
    <div id="auto-refill-scroller">
        <div class="top-bg">
            <h1>
                <span id="spnMsg">Unsubscribe Emails</span></h1>
        </div>
        <div class="repeat-scroller-bg">
            <div id="announcing">
                <div class="editprofile_b">
                    <div id="refillenroll-form" align="center">
                        @{
                            if (!Model.Status && string.IsNullOrWhiteSpace(Model.Error))
                            {
                            <form method="POST" action="@Url.Action("UnsubscribeMemberFromEmails", "Account")">
                            <h3 style="font-size: 20px;">
                                By clicking Unsubscribe button, you will no longer receive Raza.com emails</h3>
                            <input type="hidden" name="EmailId" value="@Model.EmailId"/>
                                <input type="submit" id="btnSubmit" name="image2" value="" class="unsubscribe_mails"/>
                            </form>
                            }
                            else if (!string.IsNullOrWhiteSpace(Model.Error))
                            {
                            <h3 style="font-size: 20px; color: red">
                                Email is not valid.</h3>
                            }
                            else
                            {
                            <h3 style="font-size: 20px;">
                                You have unsubscribed to receive Raza.com emails</h3>
                            }
                        }
                        <p style="font-size: 16px;">
                        </p>
                    </div>
                </div>
            </div>
            <div class="bottom-scroller-bg">
            </div>
        </div>
    </div>
</div>
