@{
    ViewBag.Title = "BillingAndPayment";
}

<div class="full_height">
    <div class="container-fluid ">
        <div class="container">
            <h1 class=" title_login">Billing and Payment</h1>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="plan_detail">
                        <li>Our billing is based on a one minute rounding system.</li>
                        <li>There is no expiration of minutes for most of our plans.</li>
                        <li>We accept all major Debit and credit cards from USA, from Canada we accept all Credit cards and some visa Debit ( Only).</li>
                        <li>Payments also can be made through PayPal for most of our plans. Note that few discounted plans may not be eligible to use PayPal as payment method</li>
                        <li>Payments can be made using our Automated system, Raza Mobile Applications, Online , Live chat help or by calling our 24/7 customer service.</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
