@{
    ViewBag.Title = "ContactUs";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h3 class="text-center">Contact Us</h3>
                <h4 class="text-center sub_titile">Reach Us Anytime 24X7, 365 Days..!!</h4>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid contact_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h5>Toll Free Number’s</h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <p>
                    <i class="us flag"></i>1-877.463.4233
                </p>
                <p>
                    <i class="ca flag"></i>1-800.550.3501
                </p>
                <p>
                    <i class="gb flag"></i>+ 44 800-520-0329
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid contact_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h5>Local Number’s</h5>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <p>Chicago: 1-773.792.8150</p>
                <p>Toronto: 416-746-9797 </p>
                <p>London: + 44 800-520-0329 </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid contact_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h5>Fax Number’s</h5>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <p>
                    <i class="us flag"></i>1-773-792-8291
                </p>
                <p>
                    <i class="ca flag"></i>1- 416-746-5239
                </p>
                <p>
                    <i class=" message fa fa-envelope-o"></i><a href="mailto:support@Raza.com?Subject=Hello%20again" target="_top">support@Raza.com</a>
                </p>
                <p class="contact_mar">
                    <a href="mailto:sales@Raza.com" target="_top">sales@raza.com</a>
                </p>
                <p class="contact_mar">
                    <a href="mailto:info@Raza.com" target="_top">info@raza.com</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 recharge_buy form_mar">
                <a href="javascript:void();" onclick="openChatWindow();">
                    <h4 class="text_color text-center">Live Chat<span class=" comment fa fa-comments"></span></h4>
                </a>
            </div>
        </div>
    </div>
</div>
