@{
    ViewBag.Title = "Faq";
}

<div class="full_height">

    <!--<div id="loader">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>-->
    <div class="container-fluid ">
        <div class="container">
            <h1 class=" title_login">Faq's</h1>
            <div class="row">
                <div class="col-xs-12">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="bwl_acc_container" id="accordion_8">
        <!-- end .bwl_acc_container -->

        <div class="search_result_container"></div>
        <!-- end .search_result_container -->

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">Once I purchase a calling plan, how do I use it?</a></h2>
            <div class="acc_container" style="display: none;">
                <div class="block" style="opacity: 0;">
                    <h4></h4>
                    <p>Upon purchasing a calling plan from <strong>Raza.com,</strong> you will receive                                                 a confirmation email providing you with a toll-free access number and a customer service number. Simply, call the toll-free access number from the phone number you                                                 used to signup with (your Calling From Number) and then dial the phone number of                                                 the person you are calling. If you are a new customer, our customer support team                                                 will call you to verify your order. You can always add more  </p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">Can I use my Calling Plan to call a country other than the country that I originally</a></h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <p>Yes, however the rates that are advertised on the web only apply to the specific                                                 country for which the calling plan was intended. Please visit the respective rate                                                 page to check current rates for that country.</p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">If my Calling Plan expires can I be reimbursed for the unused portion of the card?</a></h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <p>No. Please make sure to exhaust your phone card prior to 6 months from the date                                                 of purchase. However, some cards have no expiration date. Please see the card details                                                 for expiration date information.</p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">Why do I have to wait for my account to be activated?</a></h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <p>
                        At <strong>Raza.communications </strong>
                        confirming your order is our way of ensuring                                                 consumer protection against credit card fraud. Our highly trained customer service                                                 representatives inspect and verify all new orders to guarantee your online security.                                                 This is a one time process. Once your account has been verified and activated you                                                 will be able to shop at <strong>Raza.com</strong>  at anytime.                                             
                    </p>

                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">How do I know which Calling Plan is right for me?</a></h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <h4></h4>
                    <p><strong>Raza.communications</strong>  offers calling plans to call anywhere in the                                                 world, with different plans tailored for mobile lines, land lines or a combination                                                 of both. We also offer plans for travellers to use in other countries, Call forwarding                                                 plans and much more. Click on the shop link in hte header of any page on <strong>Raza.com</strong> to get an idea of all the calling plans we have to offer.                                             </p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">What if I do not have a credit card? Is there another way to purchase from Raza.com?</a></h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <p>
                        Yes, you can mail us a money order or a cashiers check in any amount to:
                        <strong>Raza.communications<br>
                            5219 N. Harlem Ave.<br>
                            Chicago IL, 60656  </strong>
                    </p>
                    <p>
                        Please be sure to include your name, address, phone number, email address                                                 and the name of the card that you would like to order. Once we receive your payment                                                 we will call or e-mail the PIN to you. We also offer a new method of payment without                                                 credit card, known as E-Check! During checkout, you can select pay by E-Check, and                                                 use your checking account number and bank routing number to pay for your purchase!                                             
                    </p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">Why are the rates different when calling a cell phone?</a></h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <p>In most non-domestic countries, a surcharge is applied when calling to a cellular                                                 phone. This additional charge results in rate increases. However, for certain countries                                                 it is cheaper, such as India.</p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">Is it safe to purchase your service over the Internet?</a></h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <p>
                        Our technology makes it possible for sensitive data to be safely transmitted over                                                 the Internet; the information is encrypted using proprietary and secure socket layer                                                 (SSL) technology. We are also certified secure by McAfee, Thawte and Visa/Mastercard.                                            
                    </p>

                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">I lost the password to My Account. How do I get it back?</a></h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <h4></h4>
                    <p>Click the link  <strong>"Forget your Password - Click Here"</strong> under the username and password box on the login page and your password will be e-mailed to you promptly.</p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">I lost my access number. How do I get that back?</a></h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <p>You can always visit <strong>Local Access Number</strong> to look up local access numbers for your area.</p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">What if the rate on the site differs from the rate on the calling plan purchased?</a></h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <p>If the rates on the site differs from the rate of the calling plan, call customer service immediately and let us know. In 99% of the cases, we will refund your money.</p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">What is money back gurantee?</a></h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <p>
                        Only premium plans will allow you to use the remaining balance on the account. Discounted plans will cancel automatically upon auto-refill cancellation.                                           
                    </p>

                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">Can i use my remaining minutes if i cancel the auto-refill?</a></h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <h4></h4>
                    <p>Money Back gurantee is <strong>"if you are not satisfied with our service we refund you back the remaining(un-used) balance in your account".</strong> Any Balance that is 6 months or older will not be refunded. Couldn't find the answer to your question or problem? <strong>Feel free to contact us at 1-877-463-4233</strong></p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">Can I recharge my Raza Calling Plan?</a></h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <p>Absolutely, our website will allow you to add more money to your plan at any time! You can even use our Auto-Refill Feature and automatically recharge your account once it falls below $2. Some auto-refill plans may not allow you to recharge online.Please call the customers service or chat with a live agent for more details.</p>
                </div>
            </div>
        </section>



    </div>
</div>
