@{
    ViewBag.Title = "MobileTopTermsAndConditions";
}

<div class="full_height">
    <div class="container-fluid ">
        <div class="container">
            <div class="row">
                <h3 class="text-center">Mobile Topup Terms and Conditions</h3>
                <div class="col-xs-12 profile">
                    <ul class="list-inline list-unstyled form_mar">
                        <li>| <a href="#general">General</a> |</li>
                        <li>| <a href="#membership">Membership Information</a> |</li>
                        <li>| <a href="#username">Username and Password</a> |</li>
                        <li>| <a href="#data">Your data</a> |</li>
                        <li>| <a href="#account">Your account</a> |</li>
                        <li>| <a href="#services">The Services Top-Up</a> |</li>
                        <li>| <a href="#obligations">Your obligations</a> |</li>
                        <li>| <a href="#transactions">Transactions on the Account / Refunds / Returns</a> |</li>
                        <li>| <a href="#party">Third Party Services and Information</a> |</li>
                        <li>| <a href="#termination">Termination of the Agreement</a> |</li>
                        <li>| <a href="#contribution">Your contribution</a> |</li>
                        <li>| <a href="#vat">VAT and Tax</a> |</li>
                        <li>| <a href="#links">Links to other websites</a> |</li>
                        <li>| <a href="#variations">Variations of the Agreement</a> |</li>
                        <li>| <a href="#confidentiality">Use of Information and Confidentiality</a> |</li>
                        <li>| <a href="#intellectual">Intellectual Property</a> |</li>
                        <li>| <a href="#protection">Data Protection</a> |</li>
                        <li>| <a href="#temporary">Temporary Withdrawal of Service</a> |</li>
                        <li>| <a href="#security">Security, Maintenance and Availability</a> |</li>
                        <li>| <a href="#language">Language</a> |</li>
                        <li>| <a href="#limited">Limited Disclosures to Affiliates</a> |</li>
                        <li>| <a href="#incorrect">Incorrect or Fraudulent Personal Information</a> |</li>
                        <li>| <a href="#conduct">Other User Conduct</a> |</li>
                        <li>| <a href="#remedies">Remedies for Misuse of Your Account</a> |</li>
                        <li>| <a href="#accuracy">Accuracy of Information Submitted to Raza.com</a> |</li>
                        <li>| <a href="#chargeback">Chargeback's</a> |</li>
                        <li>| <a href="#secure">Secure Email Address Required</a> |</li>
                        <li>| <a href="#obligation">No Obligation to Verify</a> |</li>
                        <li>| <a href="#dollars">All charges in U.S. Dollars</a> |</li>
                        <li>| <a href="#verification">Credit Card Verification</a> |</li>
                        <li>| <a href="#denial">Credit Card Denial</a> |</li>
                        <li>| <a href="#customer">Customer Responsible for Credit or Debit Card Fees</a> |</li>
                        <li>| <a href="#adequate">Adequate Disclosure of Prepaid Mobile Recharge Information</a> |</li>
                        <li>| <a href="#authority">Authority to Purchase</a> |</li>
                        <li>| <a href="#ownership">Ownership of Data</a> |</li>
                        <li>| <a href="#intellectual">Use of Intellectual Property</a> |</li>
                        <li>| <a href="#limitation">Limitation of Liability</a> |</li>


                    </ul>
                </div>

            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 term_scroll ">

                <p class="form_mar">This Raza.com Customer Agreement ("Agreement") sets forth the terms and conditions that apply to your purchases of calling plans and other products from <strong>www.Raza.com</strong> (the "Raza.communications Website") By registering to use this Website or by purchasing and using our products, You (as hereinafter defined) agree to the terms and conditions in this Agreement, the Conditions of Use for the Raza.com website, and any changes that may be made to the Agreement or to the Conditions of Use. If you do not agree to the terms of this Agreement or have any questions about the Agreement, do not purchase or use our products without contacting Raza.communications immediately at 1877-463-4233.</p>
                <h3 id="general">General</h3>
                <p>The provision of Services to you through the Website is subject to your acceptance of the Agreement. By completing the Registration Form and/or by using the Website, you expressly agree to be bound by the terms and conditions below, the Raza.com Privacy Policy, and any other terms and conditions of this Agreement.</p>
                <p>If you object to this Agreement or any subsequent modifications to it, or become dissatisfied with your membership of the Website in anyway, your only remedy is too immediately:</p>

                <p>Discontinue your use of the Website; and terminate your membership by notifying us in writing. <a href="contact-us.html">Click here</a> for our contact information.</p>

                <p>Certain words in this Agreement have the meanings set under them at the end of this webpage.</p>

                <h3 id="membership">Membership Information.</h3>
                <p>When registering as a member of the Website, you must provide us with accurate, complete and up-to-date information as requested on the Registration Form. You agree that the information supplied with your Registration Form will be truthful, accurate and complete. It is your responsibility to inform us of any changes to that information, including your region of residence. You may do this at any time by clicking on the <strong>edit profile</strong> section of the<strong> my account</strong> on our Website. All personal information you provide us as a member will be treated in accordance with the <strong>Raza.com</strong> Privacy Policy. If you are under 18 years of age, you must obtain a parent/guardian's consent prior to using the Website. If you are an employee of a company or other entity or are acting on behalf of a company, you must be authorized to enter into these Terms of Use on behalf of your employer. There are no fees to become a member of <strong>Raza.com.</strong> It is free to sign up and become a <strong>Raza.com</strong> member. All registered users can utilize all of the great features My Account offers at no cost. </p>

                <h3 id="username">Username and Password</h3>
                <p>Once you become a member of the Website, we will use your email address as your username and the Password you created during registration. You are entirely responsible for all activities which occur under your username and Password, including unauthorized use of your or any other credit card. You must notify us immediately if you become aware of any unauthorized use of your username and Password. If you forget or lose your password, you should request a new password by visiting the 'Forgot your password' section on the login page. Our system will then automatically send your password to the email address on file. You also agree that you will only register in your own name. Each username and password must be used by a single user and is not transferable.</p>

                <h3 id="data">Your data</h3>
                <p>We will only send you information about the products that you have selected. You will be able to change preferences or opt-out of this service at any time in the 'Personal Settings' area. Personal information collected by us as part of this service will be treated in accordance with the Raza.com Privacy Policy ((Click here for the privacy policy, which forms part of this Agreement. Please note that the sending of personal information via e-mail over the internet may not be secure and can be intercepted by third parties or incorrectly delivered. You should not divulge personal information over the internet unless you are using a secure or encrypted communications technology. We shall be entitled, but not obliged, to record all communications from, or instructions given by, you to us, or messages sent by us to you through the Website. </p>

                <h3 id="account">Your account</h3>
                <p>If you are not resident in one of the listed regions and if the financial institution with which you have an Account is among the listed regions then you are not permitted to avail of the Services. The Website can only be used by you to affect a limited number of Top-Ups and/or Top-Ups to a limited value over specific time periods. You will be automatically notified through the Website when these limits are reached or should attempt to affect Top-Ups in excess of the limits. Other limits and exclusions may apply to the way which you can use this Website from time to time and you will be notified of these through your use of the Website. You shall ensure that all instructions given by you to us through the Website are accurate and complete, and that, where appropriate, you correctly identify the mobile phone account to which any amount is to be credited or debited. In particular, prior to confirming any instruction to us, you shall ensure that the instruction which is relayed back to you confirming the instruction that you send through the Website is the instruction which you intend to give. We are entitled to rely on any instruction from you and, for the avoidance of doubt, the processing by us of any such confirmed instruction shall be final and binding on you.</p>

                <p>You shall carefully examine any Top-Up information received by you, or any other information provided by us to you through the Website from time to time and shall report any errors or omissions to us in writing within 30 days from the date of dispatch of such statements or receipt of such information. In the event that no error or omission is reported by you within the time specified, we shall be entitled to rely on the conclusiveness of the relevant statement of account as respects further transactions, provided that nothing herein will prevent us or you subsequently adjusting information to correct an error or omission, but in that case without any claim to compensation or damages arising on account thereof. </p>


                <h3 id="services">The Services Top-Up</h3>

                <p>
                    A transfer of an amount from an Account to a mobile network operator (authorized by us from time to time) to pay for the provision of telecommunication services by that mobile network operator to a pre-paid mobile telephone effected using the Services and the Website. The Website shall only be provided to you by us in respect of Accounts in the listed territories (available on the website, and subject to change).TopUp's are purely for use domestically within the relevant listed jurisdictions (available on the website, and subject to change) and not for roaming within the EU.
The Website (including the Services delivered through it) and the Password must be used by you strictly in accordance with this Agreement. The Password will be provided by us directly to you. You must not disclose the Password, whether directly or indirectly, to any other person (including, but not limited to, any account aggregation service provider).
                </p>


                <h3 id="obligations">Your obligations</h3>

                <p>The equipment necessary for you to access the Website shall be obtained and maintained by you at your expense of and we may change the requirements for such equipment from time to time. You undertake to comply strictly with this Agreement. You acknowledge that your compliance with this Agreement is designed to minimize the risk of unauthorized use of the Website. You agree to indemnify us in full in respect of any loss or damages which may arise to us, you or any third party as a consequence of your non-compliance with this Agreement</p>

                <h3 id="transactions">Transactions on the Account / Refunds / Returns</h3>

                <p>You authorize us to act upon any instruction to debit an Account received through the Website which has been transmitted using the Password and/or any other authentication process which we may require to be used in connection with the Website without requiring us to make any further authentication or enquiry, and all such debits shall constitute your liability. Upon receipt of a proper and complete request from you for a Top-Up we will debit the Account and will forward an electronic request to the relevant mobile network operator to provide a credit of the amount transferred for the benefit of the pre-paid mobile phone number nominated by you. The mobile network operator shall be solely liable to you in respect of the provision of the mobile services to which the Top-Up applies.</p>

                <h4 class="text-uppercase">NO REFUNDS OR RETURNS ARE PERMITTED AS THIS IS A DIRECT TRANSFER.</h4>
                <p>Raza.com is an independent entity appointed by mobile network operators to act on their behalf to facilitate the purchase of Top-Up. Subject to your compliance with the Agreement and provided you have not acted fraudulently or in a negligent manner, we shall accept liability for the non-execution or defective execution of a Top-Up effected through the Website but such liability shall be limited to the amount of the unexecuted or defectively executed Top-Up.</p>

                <h3 id="party">Third Party Services and Information</h3>
                <p>
                    Many of the products and services offered for sale on Raza.com or through services that we may offer you, are submitted, created or developed by third parties, about the products, services and information of third parties. Information about some of the products and services on the Website is subject to specific restrictions concerning the persons to whom such information may be made available. Details of such restrictions are set out on the pages to which they relate and you should read those details carefully before proceeding to the rest of the relevant page.
Information about some of the products and services on this Website may be subject to additional Legal Notices and Warnings, identified as such. These notices and warnings are important and are for the protection of both you and us. Please take the time to carefully read all Legal Notices and Warnings on the pages of this Website that you visit. The third party products, services and information are not provided or endorsed by us and your legal relationship is with the third party supplier when purchasing such services or goods. We have not checked the accuracy or completeness of the information or the suitability or quality of the products and services of the third parties. You must make your own enquiries with the relevant third party supplier directly before relying on the third party information or entering into a transaction in relation to the third party products and services referred to on the Website.
We may receive fees and/or commissions from third parties for the sale ofleave our Website goods and services displayed or made available on the Website, for advertising goods and services on the Website, or in connection with the amount of visitors from that leave the Website to go to a linked site. You acknowledge and consent to us receiving the fees. You will be notified of the fees payable to us when you use the Website.
                </p>

                <h3 id="termination">Termination of the Agreement</h3>

                <ul class="plan_detail">
                    <li>We may terminate the Agreement and withdraw the Website and the Services provided through it:</li>

                    <li>On giving you at least 1 day prior written notice;</li>
                    <li>Immediately upon breach by you of any of the terms of this Agreement or where there are serious grounds for doing so and provided you are informed by notice in writing as soon as is reasonably possible after termination;</li>
                    <li>Immediately upon your bankruptcy or other contractual incapacity;</li>
                    <li>If you have not accessed the Website in any period of 12 consecutive months; or</li>
                    <li>If we reasonably believe that any of the Services have been used negligently, illegally or fraudulently by you, or by a third party as a result of your negligence or recklessness.</li>
                </ul>

                <p>
                    This Agreement does not have a minimum or finite duration and will continue to be binding on the parties until it is terminated. You may terminate the Agreement at any time by giving us not less than 1 days prior written notice to that effect, but without prejudice to your liability for any outstanding indebtedness on any Account or otherwise prior to the date of termination.
We reserve the right to process or cancel any transaction in progress on termination of this Agreement or on suspension or withdrawal of the Services. We are not responsible for any loss you may incur as a result of any transaction not being processed as part of the Services after termination of the Agreement or after any suspension or withdrawal of the Services.
                </p>


                <h3 id="contribution">Your contribution</h3>

                <p>When you send us any feedback, suggestions, ideas or other materials in relation to or via our site or the services, you agree that we can use, reproduce, publish, modify, adapt and transmit them to others free of charge and without restriction, subject to our obligations in our Privacy Statement.</p>


                <h3 id="vat">VAT and Tax</h3>

                <p>If VAT, sales tax or any other duty or tax is imposed on any supply made by us through <strong>Raza.com</strong> or the services, you must pay to us, in addition to any consideration payable or to be provided by you for this supply, an additional amount for the supply calculated by multiplying the prevailing VAT rate by the consideration for the relevant supply payable or to be provided (without any deduction or set off) by you under any other clause in this Agreement. Any amount payable by you is payable on demand by us, whether such demand is made by an invoice or otherwise.</p>

                <p>This Website is established in United States in accordance with the laws and will be governed by the laws of that country. When you use the Website, you accept that your use of the Website and any information on the Website, will also be governed by the laws of United States and if any claim or dispute arises from your use of the Website or any of the information on it, you agree that the domestic courts will have exclusive jurisdiction over all such claims or disputes.</p>

                <p><strong>Service Fees:</strong> When using the Services,you and we agree that we each will not attempt to repudiate the validity of your instructions relating to the Services or the communications regarding the instructions sent to you by us. Both you and we agree that the instructions, information, communications and/or authorizations given through the Services shall be treated as satisfying any legal requirements for communication in writing.</p>

                <p>Your agreement for the purchase of Top-Up is with the network operator. TopUp is an independent entity appointed by Mobile Network Operators to act on its behalf to facilitate the purchase of the mobile Top-Up.</p>
                <h3 id="links">Links to other websites</h3>

                <p>Some pages on this Website contain hypertext links to web sites not maintained by us. You are reminded that when you enter other web sites via such hypertext links, you will not be subject to these terms and conditions and you will not benefit from the protections afforded to you in using our Site. We will not be liable in any way for the content, availability or use of such linked web sites and you use such links entirely at your own risk.</p>

                <p>Access to and use of this Website is at the user's own risk and we do not represent or warrant that the use of this Website or any material downloaded from it will not cause damage to property, including but not limited to loss of data or computer virus infection. In no event do we accept liability of any description including liability for negligence for any damages whatsoever resulting from loss of use, data or profits arising out of or in connection with the access, use or performance of this Website or any its contents.</p>
                <h3 id="variations">Variations of the Agreement</h3>

                <p>Where we are not required to notify you otherwise by law, we may alter the Agreement from time to time. Any such alteration shall become effective and shall be binding upon you 14 days after notice of such alteration has been sent to you by any of the following means: through the post or by electronic message through Site. You shall be entitled, upon receiving notice of any alteration to this Agreement, to immediately terminate the Agreement but without prejudice to any rights or obligations which have arisen prior the termination date, including your liability for any indebtedness on any Account or which has otherwise arisen prior to that termination date.</p>
                <h3 id="confidentiality">Use of Information and Confidentiality</h3>

                <p>Subject to the terms of the Privacy Policy, and except to the extent that such disclosure is required under compulsion of law or pursuant to a direction or request issued by the Financial Regulator or other competent statutory or regulatory authority, we shall ensure that all your confidential personal data held by us in relation to this Agreement shall only be accessible to us, our agents or a company controlled by us and shall be processed or used by us for purposes and in a way compatible with the discharge of our obligation to you under the Agreement.</p>
                <p>
                </p>
                <p>You shall ensure that all information obtained from us by you relating to our operations, services, software, hardware and/or systems in connection with this Agreement shall be treated by you in strictest confidence and shall not be disclosed by you to any third party unless it is already in the public domain.</p>
                <h3 id="intellectual">Intellectual Property</h3>

                <p>The Intellectual Property Rights in all data, information, systems, processes or other material used by or developed by us for the purposes of providing the Services or performing its obligations under this Agreement shall, or upon their creation, remain vested in us or its licensors. You shall use such material only for the purpose of receiving the Services, as contemplated by this Agreement.</p>

                <p>Save where otherwise specified, the Intellectual Property Rights and contents of all the Website are owned by us or its licensors. Reproduction of part or all of the contents of the Website in any form is prohibited without our prior consent, other than that you may print or download one copy of the contents of the Website for personal non-commercial use.</p>

                <h3 id="protection">Data Protection</h3>

                <p>We will comply with its obligations under applicable data protection law as regards relevant data in its possession relating to you and shall make available for inspection by you any information held by us about you in accordance with those laws. The Privacy Policy published on the Website from time to time shall apply to the use of personal data relating to you and shall form part of this Agreement.</p>

                <h3 id="temporary">Temporary Withdrawal of Service</h3>

                <p>In the event of a breakdown, fault or malfunction of, or connected to, any system used in connection with the Website and the Services, or where there is a real or potential security risk, we shall be entitled, without incurring any liability to you, to temporarily suspend the relevant Services or access to the Website for such reasonable period as may be required to remedy, address or resolve the system issue.</p>

                <p>Force Majeure: We shall not be in breach of its obligations under this Agreement if there is any total or partial failure of performance of our duties and obligations occasioned by any act of God, fire, act of government or state, war, civil commotion, insurrection, embargo, inability to communicate with third parties for whatever reason, failure of any computer dealing or settlement system, failure of or delay in any mobile phone network, prevention from or hindrance in obtaining any energy or other supplies, labor disputes of whatever nature, late or mistaken payment by an agent or any other reason (whether or not similar in kind to any of the above) beyond our control</p>

                <h3 id="security">Security, Maintenance and Availability</h3>

                <p>You accept that electronic communications, the internet, telephone lines or SMS-based telecommunications media may not be secure and communications via such media may be intercepted by unauthorized persons or delivered incorrectly. In consequence we cannot guarantee the privacy or confidentiality of communications via such media although it will put in place security measures to protect these methods of communications</p>

                <h4>From time to time it may be necessary to or desirable for security reasons, maintenance, upgrades or other reasons to:</h4>
                <ul class="plan_detail">
                    <li>make certain or all of the Services unavailable to you; and/or</li>
                    <li>delay implementation of any new Services; and/or</li>
                    <li>withdraw, replace or reissue Passwords; and/or</li>
                    <li>change authentication procedures or processes for accessing the Website or the Services</li>
                </ul>

                <p>And while we will use reasonable endeavors to minimize any inconvenience caused to you, you accept that these events may occur and that we have no liability to it in the event of this happening. Where we change authentication procedures for accessing the Website or the Services then, notwithstanding any other term of this Agreement, we may introduce these procedures by giving instructions to you via the Website in respect of which such procedures are being introduced</p>
                <h3 id="language">Language</h3>

                <p>The Agreement and all other documentation which will be provide by us to communicate with you throughout the duration of the Agreement will be prepared in the English language, and all communications between us and you will also be conducted in the English language.</p>

                <h3 id="limited">Limited Disclosures to Affiliates</h3>

                <p>If you became a customer through an affiliate web site or a link from an affiliate, that affiliate may receive a commission on our sales to you. We are obligated to disclose certain information about your purchases to affiliates in accounting for the affiliate's commissions. Information disclosed to affiliates is limited to: first name, first initial of last name, date of purchase, purchase amount, number of free trials, trials to activation, number of new customer orders and number of repeat customer orders. We do not disclose any <strong>CPNI</strong> to affiliates and we do not disclose any calling information or credit card information to affiliates.</p>

                <h3 id="incorrect">Incorrect or Fraudulent Personal Information</h3>

                <p><strong>Raza.com</strong> also reserves the right to terminate any PINs on any services it Affiliated entities offers and to deny service or assistance to any customer or company that has provided incorrect personal information in posted orders.</p>

                <h3 id="conduct">Other User Conduct</h3>

                <p>You understand that all information, data, text, messages or other materials, whether publicly posted or privately transmitted, are the sole responsibility of the person from which such content originated. This means that you, and not Raza.com, are entirely responsible for all content that you upload post, email, transmit or otherwise make available via the Services. Raza.com does not control the content posted via the Service and, as such, does not guarantee the accuracy, integrity or quality of such Content. You understand that by using the Services, you may be exposed to Content that is offensive, indecent or objectionable. Under no circumstances will Raza.com be liable in any way for any Content, including, but not limited to, for any errors or omissions in any Content, or for any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Service.</p>

                <h4>You agree to not use the Services to:</h4>

                <ul class="plan_detail">
                    <li>upload, post, email, transmit or otherwise make available any Content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable;</li>
                    <li>Impersonate any person or entity, including, but not limited to, an Raza.com official, or falsely state or otherwise misrepresent your affiliation with a person or entity;</li>
                    <li>intentionally or unintentionally violate any applicable local, state, national or international law, or any regulations having the force of law;</li>
                    <li>"stalk" or otherwise harass another User; or</li>
                    <li>Collect or store personal data about other Users</li>
                </ul>

                <h3 id="remedies">Remedies for Misuse of Your Account</h3>

                Without limiting any other remedies, Raza.com may terminate or suspend your account and status as a Member if you misuse your account or any services.<p></p>

                <h3 id="accuracy">Accuracy of Information Submitted to Raza.com</h3>

                <p>You are responsible for the truth and accuracy of all information you provide publicly or privately to us or other Users during the registration, or in any public message area, including but not limited to chat, discussion forms, and your e-mail. Your Information: (a) shall not be fraudulent; (b) shall not infringe any third party's copyright, patent, trademark, trade secret or other proprietary rights or rights of publicity or privacy; (c) shall not violate any law, statute, ordinance or regulation (including without limitation those governing export control, consumer protection, unfair competition, anti-discrimination or false advertising; (d) shall not be defamatory, trade libelous, unlawfully threatening or unlawfully harassing; (e) shall not be obscene or contain child pornography or, if otherwise harmful to minors; (f) shall not contain any viruses, or other computer programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information; and (g) shall not link directly or indirectly to any other site; (h) shall not contain any item that, by paying to us the listing fee or the final value fee, could cause us to violate any applicable law, statute, ordinance or regulation.</p>

                <h3 id="chargeback">Chargeback's</h3>

                <p>If You, in breach of this User Agreement and the Refund Policy, request a chargeback on any order from Raza.com, Raza.com may, at its sole discretion (1) terminate your membership registration; (2) to deny service or assistance to You; (3) cancel all outstanding PINs from any mobile recharges you have purchased from Raza.com and seek refund from the Carriers on those PINs; (4) report information about You and the transaction to a chargeback abuser database; and (5) collect the amount due from You directly, including through legal action, if necessary.</p>

                <h3 id="secure">Secure Email Address Required</h3>

                <p>A <strong>"Secure Email Address"</strong> is an email address issued by employer, military, government or university. An email address from a free service (such as Yahoo.com, Hotmail.com, Gmail.com, etc.) is not a Secure Email Address. Raza.com may require you to have a Secure Email Address. If You do not register Your membership with a Secure Email Address, <strong>Raza.com</strong> may either (1) deny Your membership application; or (2) confirm your membership and Your order is by having a Raza.com customer service agent call from Our office switchboard to a phone number provided by You, which must match the phone number associated with Your credit card. Raza.com may confirm either the initial order and/or any subsequent orders, at the sole option of <strong>Raza.com.</strong></p>

                <h3 id="obligation">No Obligation to Verify</h3>

                <p><strong>Raza.com</strong> has no obligation to verify your information or your order and <strong>Raza.com</strong> may opt to process an order immediately, without verification, at its sole discretion. All verification performed is solely for the benefit of <strong>Raza.com</strong> and neither you, nor your credit card company, nor any other person is a third party beneficiary of any <strong>Raza.com</strong> verification.</p>

                <h3 id="dollars">All charges in U.S. Dollars</h3>

                <p>All payments to <strong>Raza.com</strong> must be made in U.S. Dollars. Your credit card must be able to process charges in U.S. Dollars.</p>

                <h3 id="verification">Credit Card Verification</h3>

                <p><strong>Raza.com</strong> may use credit card verification (CCV) services. If your name, phone number, address, security code, or other credit card information does not pass CCV, <strong>Raza.com</strong> may cancel your order without notice and not deliver your mobile recharges.</p>

                <h3 id="denial">Credit Card Denial</h3>

                <p>If your credit card charge is denied for any reason, including, but not limited to, insufficient credit availability, failed CCV, presentment of the payment in U.S. Dollars, or any other reason, <strong>Raza.com</strong> will cancel your order and not deliver the mobile recharges requested</p>

                <h3 id="customer">Customer Responsible for Credit or Debit Card Fees</h3>

                <p>You are responsible for any fees charged by your credit or debit card provider for purchases made at<strong> Raza.com,</strong> including, but not limited to, charges for currency exchange, over limit fees, interest, cash advance fees, and other charges.</p>

                <h3 id="adequate">Adequate Disclosure of Prepaid Mobile Recharge Info.</h3>

                <p>You acknowledge that all prices, charges, expiration dates, service fees, and other terms and conditions for each and every card offered by <strong>Raza.com</strong> are available on the <strong>Raza.com</strong> web site or by calling our customer service department at 866-299-3937. You acknowledge that all such information has been provided or made available to you in a manner in compliance with applicable law. You expressly represent that you have investigated the prices, charges, expiration dates, service fees, and other terms and conditions of each mobile recharge you purchase from Raza.com or have waived your right to do so.</p>
                <h3 id="authority">Authority to Purchase</h3>

                <p>You represent and warranty that you are an authorized user of all credit cards used to make purchases on <strong>Raza.com</strong> or have received permission from the owner of such account to make purchases</p>

                <h3 id="ownership">Ownership of Data</h3>
                <ul class="plan_detail">
                    <li>Since <strong>Raza.com</strong> is a reseller of mobile recharges, we have do not have direct access to any call records, except for limited use for customer service. In order to obtain a call history, you should contact the carrier directly</li>
                    <li>If, through a subpoena or other legal process, You, Your representations, or a third party, seek to compel production of Your calling history, purchase history, CPNI, or other information, You will pay us a handling fee of $100 to obtain these records, plus a copying fee of $1 per page for each record produced.</li>
                    <li>You acknowledge and agree that any information obtained by Raza.com through Your use of the Web Site or Services, or through your purchase of mobile recharges, is the property of <strong>Raza.com,</strong> and <strong>Raza.com</strong> reserves all rights to such property.</li>
                    <li><strong>Agency:Waiver</strong> You agree that you have entered into this Agreement for your own benefit and not for the benefit of another person, and that you may not subcontract or assign any of your rights or obligations under this Agreement</li>
                    <li><strong>Governing Law:</strong> All relations established by us with you prior to this Agreement being entered into and this Agreement, are governed by and will be construed with the laws of United States, and the courts of Texas shall have exclusive jurisdiction to resolve any disputes in connection with them.</li>
                    <li><strong>Severability </strong>If, at any time, any provision of this Agreement (or any part of a provision of this Agreement) is or becomes illegal, invalid or unenforceable, that shall not affect or impair the legality, validity or enforceability the remainder of this Agreement (including the remainder of a provision where only part thereof is or has become illegal, invalid or unenforceable).</li>
                    <li><strong>Waiver:</strong> Any waiver by us of a breach or default of any of the provisions of this Agreement shall not be construed as a waiver of any succeeding breach of the same or other provisions, nor shall any delay or omission on our part to exercise or avail of any right, power or privilege that we have or may have, operate as a waiver of any breach or default by you.</li>


                    <h3 id="intellectual">Use of Intellectual Property</h3>

                    <p>You shall not reproduce any of the <strong>Raza.com</strong> trademarks, copyrights content, or other intellectual property rights without the prior written permission from Raza.com.</p>

                    The agreement concluded between you us and for the purposes of receiving the any of the Services through the Website which consists of (1) the Registration Form; (2) these Terms and Conditions; and (3) the Privacy Policy appearing on the Website from time to time. In the event of any conflict or ambiguity between any of these documents, then these Terms and Conditions will prevail.
                </ul>

                <h3 id="limitation">Limitation of Liability</h3>

                <p><strong>Raza.com</strong> is not liable for any third party’s failure to perform obligation arrising out of a mobile recharge. All mobile recharges are sold without recourse against <strong>Raza.com</strong> for performance of the carrier’s obligations under such recharges.</p>

                <p><strong>Raza.com</strong> offers significant discounts on the purchase of mobile recharges. You Acknowledge that we are able to only offer these prices because of the liability limiations, indemnification provisions, and other provisions contained within this user agreement.</p>

                <p>The maximum liability of Raza.com for any loss, whether arising under aTort, contract, or other legal theory out of any mobile Recharge purchase from <strong>Raza.com</strong> is the lesser of (1) the actual purchase price paid by you for the mobile recharge out of which the dispute arrises; or (2) one hundred dolars ($100).</p>

                <p><strong>Raza.com</strong> will not be liable, under any circumstances, for any indirect, special incidential, or consequential damages of any kind (including lost profits, mental anguish, or emotional distress) arising out of your use or inability to use any mobile recharge purchased at <strong>Raza.com</strong></p>

                <p>Neither <strong>Raza.com</strong> nor its affiliates, officers directors, shareholers members or employees are liable to you for the negligence or grosse negligence of any party. In the event that the above limitation is greater than the limitation allowed by applicable law, our liability will limited to the maximum permitted by applicable law. You acknowledge that since <strong>Raza.com</strong> is a reseller, It is not liable for any 3rd parrty (carriers &amp; suppliers) obligations due to rates, quality and all other instances, you acknowledge and agree that Raza.com will not be liable, under any circumstances, for any indirect, special incidental, or consequential damages of any kind (including lost profits) regardless of the form of action whether in contract, tort (including negligence), or otherwise, even if <strong>Raza.com</strong> has been advised of the possibility of such damages, in no event shall Raza.com’s maximum aggregate liability exceed the total amount paid by you for the services. Because some states do not allow the exclusion or limitation of liability for consequential or incidental damages, in such states, our liability is limited to the maximum extent permitted by law.</p>
            </div>
        </div>
    </div>
</div>
