@{
    ViewBag.Title = "PrivacyPolicy";
}

<div class="full_height">
    <div class="container-fluid ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 profile">
                    <div class="dropdown">
                        <a href="#" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="features_icon fa fa-plus"></i>Privacy policy
   <!-- <span class="caret"></span>-->
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a role="menuitem" tabindex="-1" href="#general">General</a></li>
                            <li><a role="menuitem" tabindex="-1" href="#information">Information We Gather About All of Our Website Visitors</a></li>
                            <li><a role="menuitem" tabindex="-1" href="#cookies">Use of Cookies</a></li>
                            <li><a role="menuitem" tabindex="-1" href="#about">Information About You</a></li>
                            <li><a role="menuitem" tabindex="-1" href="#securing">Securing Your Personal Information</a></li>
                            <li><a role="menuitem" tabindex="-1" href="#disclosure">Third Party Disclosure and Protection</a></li>
                            <li><a role="menuitem" tabindex="-1" href="#children">Children On The Web</a></li>
                            <li><a role="menuitem" tabindex="-1" href="#privacy">Web site Privacy Policy Changes</a></li>
                            <li><a role="menuitem" tabindex="-1" href="#enforcement">Enforcement and Questions</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-xs-12 col-md-12 col-sm-12 term_scroll ">
                    <h3 id="general">General</h3>

                    <p><strong>Raza.com</strong> is committed to protecting your privacy and developing technology that gives you the most powerful and safe online experience. This Privacy Policy governs data collection and usage at our Website. Please read the complete Privacy Policy below.</p>

                    <p>The purpose of this Privacy Policy is to inform you, as a welcome visitor to our Website, about:</p>

                    <p>The kinds of information we may gather about you when you visit our Website</p>
                    <p>How we may use that information</p>
                    <p>Whether we disclose that information to anyone and</p>
                    <p>Your ability to correct that information.</p>

                    <p>Please note that this policy applies only to the<strong> Raza.com</strong> Website and not to other companies or organizations websites to which we link. We have clearly marked our Website with our logo so you know where this policy applies.</p>

                    <h3 id="information">Information We Gather About All of Our Website Visitors</h3>

                    <p><strong>Raza.com</strong> keeps track of the pages our customers visit within our Website in order to determine what pages and services are the most popular. This data is used to deliver customized content and advertising within <strong>Raza.com</strong> to customers whose behavior indicates that they are interested in a particular subject area. Our service automatically gathers certain usage information like the numbers and frequency of visitors to our Website and its areas. This is similar to the way television ratings tell the networks how many people tuned in to a program. We only use such data in the aggregate and not on an individual basis. This collective data helps us determine how much our customers use parts of the Website, so we can improve our site to assure that it is as appealing as we can make it for as many of you as possible.</p>

                    <p>For example, our Website may use a technology nicknamed "cookies" that tells us how and when pages in our site are visited, and by how many people. <strong>Raza.com</strong> cookies do not collect personally identifiable information and we do not combine information collected through cookies with other personally identifiable information to tell us who you are or even what your screen name or e-mail address is</p>

                    <h3 id="cookies">Use of Cookies</h3>

                    <p><strong>Raza.com</strong> may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a Web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.</p>

                    <p>One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize <strong>Raza.com</strong> pages, or register with our Website or for our services, a cookie helps us to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, email addresses, and so on. When you return to our Website, the information you previously provided can be retrieved, so you can easily use the Website features that you customized.</p>

                    <p>You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of our Web site.</p>

                    <p><strong>Raza.com</strong> displays retargeted ads to our site prospects across the Internet. We collect Non-Personally Identifiable Information about your visits to our website, and your interaction with our products and services. The anonymous information is collected through the use of a pixel tag, which is industry standard technology used by most major web sites. No Personally Identifiable Information is collected during this process. If you do not want us to collect this information, you may opt out of their service. Opting out will not affect your use of our site. To Opt-out of retargeting, please click here.</p>

                    <h3 id="about">Information About You</h3>

                    <p>Sometimes, we may specifically ask for information about you when you sign up to use a service or when you order a product. <strong>Raza.com</strong> does not sell, rent or lease its customer lists to third parties. We do, however, need certain information -- such as name, Internet address or screen name, billing address, type of computer, credit card number -- in order to provide that service or product to you. We may also use that information to let you know of additional products and services about which you might be interested. You can choose not to receive such information if you don't want to by letting us know on the registration screen when you sign up for the product or service</p>

                    <p><strong>Raza.com</strong> does not associate sensitive data, such as your race, religion, or political affiliations, with personally identifiable information. <strong>Raza.com</strong> takes precautions to segregate any sensitive data you may provide on our Website and any services that reference your race, religion, sexual orientation, ethnicity or political affiliations.</p>

                    <h3 id="securing">Securing Your Personal Information</h3>

                    <p><strong>Raza.com</strong> secures your personal information from unauthorized access, use or disclosure. We secure the personally identifiable information you provide on computer servers in a controlled, secure environment, protected from unauthorized access, use or disclosure. Personal information (such as a credit card number) is transmitted to other websites through the use of Secure Socket Layer (SSL) encrypted protection.</p>

                    <h3 id="disclosure">Third Party Disclosure and Protection</h3>

                    <p>We do not use or disclose information about your individual visits to our Website or information that you may give us, such as your name, address, email address or telephone number, to any outside companies. <strong>Raza.com</strong> may share data with trusted departments to help us perform statistical analysis.</p>

                    <p>The <strong>Raza.com</strong> website will never disclose your personal information without notice unless it is required to do so by law or in the good faith belief that such action is necessary to:</p>

                    <p>
                        Conform to the law or comply with legal process served on our Website;
    Protect and defend the rights or property of our Website; and act under exigent circumstances to protect the personal safety of users of our products or services, our Website, or the public.
                    </p>

                    <h3 id="children">Children On The Web</h3>

                    <p><strong>Raza.com</strong> takes special care to protect the safety and privacy of children using our services. We do not specifically collect information about children and believe that children should get their parents' consent before giving out any personal information. We encourage you to participate in your child's experience in cyberspace and to review our important safety tips before your child explores the Internet. <strong>Raza.com</strong> also recommends that parents use Web filtering technology to supervise their kids' access to the Web.</p>

                    <h3 id="privacy">Raza.com Web site Privacy Policy Changes</h3>

                    <p><strong>Raza.com</strong> will occasionally update this Privacy Policy to reflect company and customer feedback. When we post changes to this Privacy Policy, you will see the word "updated" next to the Privacy Policy link on the front page of our Website. If there are material changes to this Privacy Policy or in how we will use your personally identifiable information, then we will prominently post such changes prior to implementing the change. <strong>Raza.com</strong> encourages you to periodically review this Privacy Policy to be informed of how we are protecting your information.</p>

                    <h3 id="enforcement">Enforcement and Questions</h3>

                    <p>By upholding our commitment to protecting the privacy of your personal information, <strong>Raza.com</strong> has agreed to disclose its information practices. We welcome your comments regarding this Privacy Policy. If you have any questions or believe that <strong>Raza.com</strong> has not adhered to this Privacy Policy, please contact us at 1-877-463-4233 any time 24X7, 365 Days. </p>

                </div>
            </div>
        </div>
    </div>
</div>
