@{
    ViewBag.Title = "Security";
}

<div class="full_height">
    <div class="container-fluid ">
        <div class="container">
            <h1 class=" title_login">Security</h1>
            <div class="row">
                <div class="col-xs-12">
                    <p>Our technology makes it possible for sensitive data to be safely transmitted over the Internet; the information is encrypted using proprietary and secure socket layer (SSL) technology. We are also certified secure by McAfee, Thawte and Visa/MasterCard.</p>

                </div>
            </div>
        </div>
    </div>
</div>
