@{
    ViewBag.Title = "PasscodeSetup";
}

<div class="container-fluid">
    <div class="container demo">
        <h1 class=" title_login">Passcode Setup</h1>
        <div class="row">
            <div class="col-xs-12">
                <p>For additional security you can choose to have a 4 digit PassCode or Authorization code, this will be asked to enter when you place a call. </p>
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control form_mar " placeholder="Enter a 4 digit passcode please">
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control form_mar " placeholder="Reconfirm passcode">
            </div>

            <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-block form_mar btn_bgreen">Submit</button>
                <button type="button" class="btn btn-primary btn-block form_mar btn_bgray ">No Thanks</button>
            </div>
        </div>
    </div>
</div>
