<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections />
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="senderemailaddress" value="noreplyrazatest@gmail.com" />
    <add key="sendername" value="Raza.com" />
    <add key="forgotpasswordsubject" value="Password Retrieval" />
    <add key="onetouchsubject" value="Your One Touch Dial(s) details." />
    <add key="Quickkeysubject" value="Your Quickkey(s) number" />
    <add key="Refer-friend-refree" value="You referred friend(s) successfully." />
    <add key="Refer-friends" value="Refred by your friend to join raza.com" />
    <add key="Autorefillconfim" value="AutoRefill Confirmation" />
    <add key="Autorefillunsubscibe" value="AutoRefill Unsubscribed sucessfully" />
    <add key="Rechargeconfim" value="Recharge Confirmation" />
    <add key="Feedback" value="Your feedback submit succesfully." />
    <add key="OpenComplaint" value="Your Complaint submit succesfully." />
    <add key="Subscribemail" value="Email subscribed successfully." />
    <add key="SMTPServer" value="smtp.raza.com" />
    <add key="SMTPPort" value="25" />
    <!-- <add key="EmailPassword" value="nEer@!j"/> -->
    <!-- <add key="senderemailaddress" value="neeraj@raza.com"/> -->
    <add key="EmailPassword" value="" />
    <add key="senderemailaddress" value="" />
    <!--    <add key="conn" value="Server=localhost\SQLEXPRESS;Database=RAZA;Integrated Security=true;"/> -->

    <!-- App keys for payment processing -->
    <add key="USER" value="neeraj.kaushik-facilitator_api1.live.in" />
    <add key="VENDOR" value="neerajkaushik" />
    <add key="PARTNER" value="PayPal" />
    <add key="PWD" value="1387636574" />
    <add key="Signature" value="A9K.GrAwjW0fzng--3Zu87WSgAz6A98imvQC-zMy9aG95uxLk.19vTHc" />
    <add key="CentinelTxnUrl" value="https://centineltest.cardinalcommerce.com/maps/txns.asp" />
    <add key="CentinelProcessorId" value="202" />
    <add key="CentinelMessageVersion" value="1.7" />
    <add key="CentinelMerchantId" value="40158" />
    <add key="CentinelTransactionPwd" value="razatest" />
    <add key="PaypalEndpoint" value="https://api.sandbox.paypal.com" />
    <add key="Centinel_RetUrl" value="http://209.18.97.61/cart/ccVerifier" />
    <!-- App keys for payment processing -->

    <add key="CallingCardPurchase" value="Calling Card Purchase." />
    <add key="ServerName" value="http://www.raza.com" />
    <!-- <add key="ServerName" value="http://209.18.97.61" /> -->
    <add key="AutorefillUnsuccess" value="Autorefill does not success." />
    <add key="WelcomeRaza" value="Your Signup successfully." />
    <add key="LogEnable" value="N" />
    <add key="PartialLogEnable" value="N" />
    <add key="PartialLogEnable2" value="Y" />
    <add key="IsEnableForMobileRedirect" value="N" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /> -->
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.1, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages pageBaseType="MvcApplication1.Models.BaseViewPage" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="8" />
    </connectionManagement>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false" />
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMaxAge="14.00:00:00" cacheControlMode="UseMaxAge"></clientCache>
      <mimeMap fileExtension=".m4v" mimeType="video/mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />      
    </staticContent>

    <!--For GZIP Compression -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" />
    <!--For GZIP Compression -->
    
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>  

  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>