@{
    ViewBag.Title = "AboutUs";
}


<div class="container-fluid">
    <div class="container">
        <h1 class=" title_login">About Us</h1>
        <div class="row">
            <div class="col-xs-12">
                <p>The Industry Leader in International Calling Plans, Raza Keeps You Talking</p>

                <p>Life is short, the world is big, and nothing is more important than staying in touch with the people who matter to you the most. No matter where you are in the world, you deserve a reliable and affordable international calling plan. You can’t afford to pick just any plan—you don’t have time for poor call quality, iffy networks, and dropped calls.</p>

                <p>Raza Communications works for you to provide a clear, reliable network that you can access anywhere, anytime.Since 1995, we’ve been the industry pioneer, creating reliable and affordable international calling plans that keep you talking.</p>

                <p>At Raza, our goal is simple—to give you crystal clear call quality at the most competitive prices. We offer unparalleled rates to the places you call the most through our global network. And we do it all with 24/7 customer service, including live operators.</p>

                <p>Discover the difference a truly dedicated international calling plan can make. <a href="@Url.Action("SignUp", "Account")">Sign up</a> now for the world’s best international calling plans and keep talking to the people who matter most.</p>

            </div>
        </div>
    </div>
</div>
