@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title_login">Why Raza</h1>
                <h2 class="sub_login">International Calling Plans by Raza Keep You Talking for Less</h2>

                <p>Staying connected in today’s fast-paced world is easy when you get an international calling plan from Raza.com. Our state-of-the-art fiber optic network puts you in touch with more than 200 different countries.</p>
                <h2 class="sub_login">Raza provides more services and options to keep you talking:</h2>
            </div>
            <div class="col-xs-12 col-sm-6">
                <ul class="plan_detail content_bold">
                    <li>Unbeatable Calling Rates</li>
                    <li>Exceptional Call Quality</li>
                    <li>100% Money Back Guarantee</li>
                    <li>Unparalleled Customer Service</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 ">
                <ul class="plan_detail content_bold">
                    <li>More Minutes for Less</li>
                    <li>Online Account Management</li>
                    <li>More Popular Features</li>
                </ul>
            </div>
            <div class="col-xs-12">
                <p>No other prepaid calling plan gives you the power that Raza does. We’re the pioneering leaders in prepaid international calling plans and stand behind your every purchase with quality service and a money-back guarantee. If you have to call us, you’ll always speak to one of our highly trained, multilingual customer service agents who will help you with any question or concern you may have. </p>
            </div>
            <div class="col-xs-12">
                <h2 class="sub_login">Raza’s <a href="@Url.Action("Index", "Features")">Features</a> Outshine the Competition</h2>
                <p>Raza leads the world in international calling plans with popular <a href="@Url.Action("Index", "Features")">features</a> to make it easier for you to manage your calls.</p>

                <p>we’re working to add new features every day. Manage your account online with our user-friendly interface, and get special offers and exclusive deals directly from ?<b>Raza.</b></p>

                <p>Still not convinced? If you find a prepaid international calling plan at a lower price than ours, we’ll beat it! <a href="@Url.Action("SignUp", "Account")">Sign up</a> online now and start saving on your international calls with <b>Raza.com.</b></p>
            </div>

        </div>
    </div>
</div>
