img {

	border:0;

}

 @font-face {

 font-family: Swz721kc_1;

 src: url('../fonts/Swz721kc_1.ttf');

}

 @font-face {

 font-family: Swis721 Cn BT;

 src: url('../fonts/Swis721 Cn BT.ttf');

}

body {

	margin:0;

	padding:0;

	background:#fff;

	font-size:12px;

	font-family:Arial, Helvetica, sans-serif;

}

a:focus {

	outline:none;

	border:none;

}

a {

	color:#494646;

	text-decoration:none;

}

a:hover {

	color:#2789f0;

	text-decoration:none;

}

*img {

	border:none;

	outline:none;

}

#main_container {

	width:990px;

	margin:auto;

}

#keyword {

	float:right;

	text-align:right;

	color:#858585;

	font-weight:bold;

	margin:0px 0 20px 0;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

}

#top_header {

	width:990px;

	float:left;

}

.logo {

	width:215px;

	float:left;

	margin:16px 0 0 0;

}

.top_right_panel {

	width:775px;

	float:right;

}

.top_register {

	/*width:505px;*/

	height:auto;

	float:right;

}

.top_register .email_inputbox {

	width:130px;

	margin:0 5px 0 0;

	padding:3px 3px 2px 15px;

	font-family:Arial, Helvetica, sans-serif;

	position:relative;

	font-size:12px;

	border:1px solid #cfcfcf;

	-moz-border-radius:5px;

	-webkit-border-radius:5px;

	border-radius: 5px;

	behavior: url(PIE.htc);

	background:url(../images/bg-inp.jpg) repeat-x left bottom;

}

.top_register .email_passbox {

	width:72px;

	margin:0 5px 0 0;

	padding:3px 3px 2px 15px;

	font-family:Arial, Helvetica, sans-serif;

	position:relative;

	font-size:12px;

	border:1px solid #cfcfcf;

	-moz-border-radius:5px;

	-webkit-border-radius:5px;

	border-radius: 5px;

	behavior: url(PIE.htc);

	background:url(../images/bg-inp.jpg) repeat-x left bottom;

}

.top_register .top_login {

	width:71px;

	height:22px;

	background:url(../images/sprite_login.jpg) no-repeat left top;

	border:none;

	padding:0;

	margin:0 11px 0 0;

	cursor:pointer;

}

.top_register .top_login:hover {

	background:url(../images/sprite_login.jpg) no-repeat left -24px;

	border:none;

}

.live_support {

	width:560px;

	margin:0px 0 0 0;

	padding:12px 0 10px 0;

	float:right;

	

}

.live_support select {

	width:135px;

	height:24px;

	margin:3px 5px 0 0;

	padding:2px 3px 2px 4px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	position:relative;

	border:1px solid #cfcfcf;

	-moz-border-radius:5px;

	-webkit-border-radius:5px;

	border-radius: 5px;

	behavior: url(PIE.htc);

	background: #fff;

	float:right;

}

.live_support p {

	margin:0px;

	padding:3px 0 0 5px;

	float:right;

}

.live_support a {

	padding:3px 0 0 30px;

	height:26px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:18px;

	float:right;

	color:#424242;

	margin-left:15px;

	background:url(../images/custo_ser_icon.jpg) no-repeat left 0;

}

.menu-header a {

	color:#fff;

}

#menu-nav a {

	color:#fff;

}

#menu-nav ul ul a {

	color:#000;

	font-size:11px;

	font-family:Arial, Helvetica, sans-serif;

	line-height:1em;

	padding:5px 0 5px 13px;

	width:130px;

}

#menu-nav li:hover > a {

	color:#000;

	background:url(../images/right_select1.jpg) repeat-x left top; 

}

#menu-nav ul ul :hover > a {

	color:#C92626;

	background:none;

}

.menu-header .current-menu-item a {

	text-decoration:underline;

}

#menu-nav {

	width:990px;

	height:37px;

	display:block;

	float:left;

	background:url(../images/nav_bg.png) no-repeat left top;

	margin:0 0 0 1px;

}

#menu-nav .menu-header, div.menu {

	font-size:13px; 

	font-family:Arial, sans-serif;

	font-weight:normal;

}

#menu-nav .menu-header ul, div.menu ul {

	list-style:none;

	margin:0;

	padding:0;

}

#menu-nav .menu-header li, div.menu li {

	float:left;

	position:relative;

	z-index:99;

}

#menu-nav li {

	background:url(../images/nav_saperator.png) no-repeat right top;

	padding:0 2px 0 0

}

#menu-nav li.lastli {

	background:none;

}

#menu-nav li a {

	display:block;

	font-weight:BOLD;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	padding:10px 17px;

	text-transform:uppercase;

}

#menu-nav ul ul { 

	display:none;

	position:absolute;

	top:35px;

	left:0;

	float:left;

	width:243px;

	background:url(../images/dropdown_top.jpg) no-repeat left top;

	padding:20px 14px 0 0px!important;

	z-index:99999;

}

#menu-nav ul ul li {

	float:left!important;

	width:105px;

	background:url(../images/arrowred.jpg) no-repeat left;

	margin:0 0 0 14px;

}



#menu-nav ul ul ul {

	left:100%;

	top:0;

}

#menu-nav ul li:hover > ul {

	display:block;

}

#menu-nav li a.homeselected {

	color:#000;

	background:url(../images/home_selected.jpg) no-repeat left top; 

	

}

#menu-nav .signin1 {

	width:67px;

	height:27px;

	float:left;

	margin:0;

	padding:5px 0 0 16px;

	cursor:pointer;

}

#menu-nav li .img_sign {

	MARGIN:0px;

	padding:0px 15px 0px 5px;

	float:left;

}

/*===========================Body Container Start=============================================*/































































#body_container {

	width:990px;

	float:left;

	margin:0px 0 0px 0;

	padding:5px 0 20px 0;

}

/*banner pannel css Start*/































































#banner {

	width:990px;

	float:left;

}

#banner-india {

	background:url(../images/india-banner.jpg) no-repeat top left;

	width:990px;

	margin:0px;

	padding:0px;

	float:left;

	height:237px;

}

#banner-india .yellow-bg {

	background:url(../images/yellow-bg.png) no-repeat bottom right;

	width:550px;

	float:right;

	margin:180px 0 0 0;

	padding:18px 0px 10px 0px;

}

#banner-india .yellow-div {

	float:left;

	margin:0px 0 0 110px;

	height:30px;

	padding:0px;

}

#banner-india .yellow-div p {

	margin:0px;

	font-weight:bold;

	float:left;

	padding:8px 7px 10px 7px;

}

#banner-india .yellow-div span {

	background:url(../images/combo.png) no-repeat;

	margin:0px;

	float:left;

	width:168px;

	padding:2px 0px 5px 7px;

}

#banner-india .yellow-div select {

	font-size:12px;

	width:155px;

	background-color:transparent;

	border:0px;

	padding:0px;

	font-weight:bold;

	border:#fff 1px solid;

}

#banner-india .yellow-div select:hover {

	font-size:12px;

	width:155px;

	background-color:transparent;

	border:0px;

	padding:0px;

	font-weight:bold;

	border:#999 1px solid;

}

#banner-india .search-ind {

	background:url(../images/search.png) no-repeat top left;

	border:0px;

	color:#FFFFFF;

	width:60px;

	height:26px;

	margin:2px 0 0 5px;

	font-size:11px;

	padding:0px;

}

/*----------glabal call nav Panel Css Start---------------------*/































































#global-nav {

	background:url(../images/global-call-bg.jpg) no-repeat left top;

	margin:2px 0 0 0;

	width:990px;

	height:42px;

	float:left;

}

#global-nav A SPAN {

	PADDING-RIGHT:0px;

	height:40px;

	cursor:pointer;

	padding-top:0px;

}

#global-nav {

	margin-left:0;

}

#global-nav A {

	FLOAT:left;

	margin:-2px 0 0 0;

}

#global-nav A SPAN {

	FLOAT:none;

}

#global-nav A SPAN {

	DISPLAY: block;

	FLOAT:left;

}

#global-nav A {

	font-size:11px;

	COLOR:#000;

	font-family:Arial, Helvetica, sans-serif;

	TEXT-DECORATION:none;

}

#global-nav A SPAN {

	PADDING-RIGHT:10px;

}

#global-nav A SPAN p {

	float:left;

	padding:5px 0 0 0;

	margin:0px;

}

#global-nav A:hover {

	PADDING-LEFT:10px;

	BACKGROUND:url(../images/right_select.jpg) no-repeat left top;

	COLOR: #000;

}

#global-nav A:hover SPAN {

	PADDING-RIGHT:10px;

	background:url(../images/right_select-hover.jpg) no-repeat right top;

}

#global-nav A.selected {

	PADDING-LEFT:10px;

	BACKGROUND:url(../images/right_select.jpg) no-repeat left top;

	COLOR:#359cd3;

}

#global-nav A.selected SPAN {

	PADDING-RIGHT:10px;

	background:url(../images/right_select-hover.jpg) no-repeat right top;

}

#global-nav A:hover SPAN {

	PADDING-RIGHT:10px;

	background:url(../images/right_select-hover.jpg) no-repeat right top;

}

#global-nav UL {

	padding:0 0 0 0px;

	margin:0;

	display:inline;

	list-style:none;

}

#global-nav LI {

	MARGIN:0px;

	LIST-STYLE-TYPE: none;

	display:inline;

	padding:2px 7px 0 5px;

	float:left;

}

#global-nav li.last {

	MARGIN:0px;

	LIST-STYLE-TYPE: none;

	display:inline;

	padding:2px 7px 0 5px;

	background:none;

	float:left;

}

#global-nav li img {

	MARGIN:0px;

	padding:0px 5px 0px 5px;

	float:left;

}

/*----------News Panel Css Start---------------------*/































































#news {

	background:url(../images/news.jpg);

	background-repeat:no-repeat;

	margin:7px 0 0 0;

	width:990px;

	height:42px;

	float:left;

}

#news h1 {

	width:160px;

	font-family:Swz721kc_1;

	font-size:22px;

	color:#000;

	margin:0px 0 0 0;

	;

	float:left;

	padding:8px 0 0 8px;

}

#news .country {

	width:165px;

	height:auto;

	margin:7px 0px 0px 0px;

	padding:0 15px 0 0;

	border-right:1px solid #bf0000;

	float:left;

}

#news .country img {

	/*width:34px;

	height:27px;*/

	margin:2px 17px 0 0;

	float:left;

}

#news .country span {

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	float:left;

}

#news .arrow1 {

	width:18px;

	height:28px;

	margin:7px 0 0 10px;

	float:left;

}

/*----------Left Panel Css Start---------------------*/































































#left_panel {

	width:720px;

	float:left;

	margin:10px 0 0 0;

}

#tab-scroller {

	width:710px;

	height:auto;

	padding:0px 10px 0px 0px;

}

#tab-scroller .top-scroller-bg {

	background:url(../images/top-scroller.jpg);

	background-repeat:no-repeat;

	width:710px;

	height:44px;

	padding:0px;

}

#tab-scroller .repeat-scroller-bg {

	background:url(../images/repeat-scroller.jpg);

	background-repeat:repeat-y;

	width:710px;

	height:auto;

	padding:0px;

}

#tab-scroller .bottom-scroller-bg {

	background:url(../images/bottom-bg.jpg);

	background-repeat:no-repeat;

	width:990px;

	height:13px;

	padding:0px;

}

#tab-scroller .top-scroller-bg h1 {

	font-size:22px;

	font-weight:normal;

	margin:0px;

	padding:10px 0px 0px 10px;

}

.plan_bot {

	width:402px;

	float:left;

	height:13px;

}

.plan_mid {

	width:402px;

	float:left;

	background:#dc640f url(../images/plan_midbg.jpg) repeat-x left top;

	min-height:524px;

}

.plan_mid h1 {

	margin:0;

	padding:0 0 0 15px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:22px;

	font-weight:normal;

	color:#fff;

}

.left_travel {

	width:170px;

	float:left;

	padding:5px 0 0 0;

}

.hot_deals {

	width:402px;

	float:left;

	margin:12px 0 0 0;

}

.hot_deals h2 {

	margin:0 0 0 0;

	padding:14px 0 5px 16px;

	background:url(../images/hot_dealbg.jpg) no-repeat left top;

	font-family:Arial, Helvetica, sans-serif;

	font-size:18px;

	color:#111111;

}

.deals_banner {

	width:400px;

	float:left;

	margin:0;

	padding:0;

	border-left:1px solid #e4e3e3;

	border-right:1px solid #e4e3e3;

}

.deals_banner img {

	margin:0 0 0 1px;

	padding:0;

}

.hot_botbg {

	width:402px;

	float:left;

	height:27px;

}

.worldwide_destination {

	width:402px;

	float:left;

	margin:12px 0 0 0;

}

.worldwide_destination h3 {

	margin:0;

	padding:0;

	font-size:12px;

	font-family:Arial, Helvetica, sans-serif;

	color:#000;

	border-bottom:1px solid #a6a5a5;

}

.worldwide_destination ul {

	margin:0;

	padding:0;

	list-style:none;

}

.worldwide_destination ul li {

	margin:0 0 0 0px;

	padding:0 0 0 8px;

	float:left;

	font-size:11px;

	color:#0278fd;

	width:115px;

	background:url(../images/desti_arrow.jpg) no-repeat left 40%;

	line-height:16px;

}

.worldwide_destination img {

	margin:0 5px 0 0;

	padding:0;

}

.worldwide_destination ul li a {

	text-decoration:none;

	color:#0278fd;

}

.worldwide_destination ul li a:hover {

	text-decoration:none;

	color:#494646;

}

.season_banner {

	width:402px;

	float:left;

	margin:12px 0 0 0;

}

.mobile_app {

	width:393px;

	float:left;

	margin:12px 0 0 0;

}

.top_mobile_app {

	width:393px;

	float:left;

	background:url(../images/mobile_appbg.jpg) no-repeat left top;

	min-height:86px;

}

.top_mobile_app h2 {

	margin:0;

	padding:7px 0 0 10px;

	font-size:13px;

	font-weight:normal;

	font-family:Georgia, "Times New Roman", Times, serif;

}

.top_mobile_app h2 span {

	color:#ec0019;

}

.left_app {

	width:155px;

	float:left;

	padding:28px 0 0 10px;

}

.left_app span {

	color:#ec0019;

	font-size:18px;

	font-weight:bold;

}

.right_app {

	width:215px;

	float:left;

}

.right_app img {

	margin:0 0 0 20px;

	padding:0;

}

.bot_mobile_app {

	width:390px;

	float:left;

}

.follow-us {

	width:142px;

	float:left;

	height:104px;

	background:url(../images/follow-us.jpg) no-repeat left top;

	margin:12px 0 0 3px;

}

.follow-us h2 {

	margin:0;

	padding:7px 0 0 10px;

	font-size:13px;

	font-weight:normal;

	font-family:Georgia,"Times New Roman",Times,serif;

}

.follow-us img {

	padding:30px 0 20px 6px;

	margin:0 0 0px 0;

}

.subscribe1 {

	width:164px;

	float:left;

	height:104px;

	background:url(../images/subscribe1.jpg) no-repeat left top;

	margin:12px 0 0 5px;

}

.subscribe1 h2 {

	margin:0;

	padding:7px 0 0 10px;

	font-size:13px;

	font-weight:normal;

	font-family:Georgia,"Times New Roman",Times,serif;

}

.subscribe1 p {

	width:99%;

	margin:0px;

	padding:7px 5px 0 5px;

	font-size:12px;

	font-weight:normal;

}

.subscribe1 .email_inputbox {

	width:110px;

	height:18px; 

	float:left;

	margin:10px 0px 0 5px;

	padding:2px 3px 2px 4px;

	font-family:Arial, Helvetica, sans-serif;

	position:relative;

	border:1px solid #cfcfcf;

	-moz-border-radius:5px;

	-webkit-border-radius:5px;

	border-radius: 5px;

	behavior: url(PIE.htc);

	background: #fff;

}



.subscribe1 .email_but {

	margin:12px 4px 0 0;

	padding:0; 

	float:right;

}



/*----------Left Panel Css End---------------------*/































































































/*----------Right Panel Css Start---------------------*/































































#right_panel {

	width:270px;

	float:left;

	margin:10px 0 0 0px;

}

#scroll-border {

	background:url(../images/scroll-bg.jpg);

	background-repeat:no-repeat;

	width:270px;

	height:484px;

	float:right;

}

#scroll-bg {

	width:260px;

	height:464px;

	margin:5px 0 5px 0;

	padding:5px 0px 5px 3px;

	float:left;

	overflow:auto;

}

#scroll-bg h1 {

	font-size:15px;

	font-weight:bold;

	color:#000;

	margin:0px 0 11px 0;

	padding:2px 0 0 12px; 

	text-align:center;

}

.scroll-td {

	background:url(../images/scroll-td.jpg) repeat-x left bottom;

	width:98%;

	float:left;

	margin:0px 0 0 3px;

	padding:0px 0 0 0;

}

.scroll-td img {

	float:left;

	margin:0px 0 0 0px;

	padding:3px 0 7px 10px;

}

.scroll-td span {

	width:90px;

	font-weight:bold;

	float:left;

	margin:0px 0 0 0px;

	padding:3px 0 7px 20px;

}

.scroll-td p {

	font-weight:bold;

	float:left;

	margin:0px 0 0 0px;

	padding:3px 0 7px 40px;

}

/*----------Right Panel Css End---------------------*/







.button_img {

	float:right; 

	margin:0;

	padding:0;

	}

	























































#search_save-box {

	z-index:50;

	width:480px;

	height:150px;

	float:left;

	position:absolute;

	top:0px;

	right:0px;

	background-color:none;

}

.search-image {

	width:233px;

	height:104px;

	float:left;

	margin:5px 0 0 0;

}

#search_save {

	-moz-border-radius:8px;

	-webkit-border-radius:8px;

	border-radius: 8px;

	behavior: url(PIE.htc);

	background: url(../images/search-box.jpg) no-repeat top left;

	float: right;

	height: 229px;

	margin: 2px 0px 0 0;

	padding: 0 0 0 0;

	width: 236px;

}

#search_save h1 {

	padding:0px 0 0 0px;

	margin:10px 0 0 15px;

	float:left;

	font-size:14px;

	color:#c70000;

}

#search_save select {

	width:205px;

	height:30px;

	margin:5px 5px 0 15px;

	padding:5px 3px 5px 30px;

	font-size:14px;

	font-weight:bold;

	font-family:Arial, Helvetica, sans-serif;

	position:relative;

	border:1px solid #c20001;

	-moz-border-radius:5px;

	-webkit-border-radius:5px;

	border-radius: 5px;

	behavior: url(PIE.htc);

	background:url(../images/blue_arrow.jpg) no-repeat 5% 50%;

	float:left;

}

#search_save .button {

	width:70px;

	height:28px;

	margin:5px 10px 0 0px;

	padding:2px 0px 0px 0px;

	float:right;

	cursor:pointer;

}

#search_save .landline-box {

	margin:25px 0 0 20px;

	padding:0px;

	width:216px;

	float:left;

}

#search_save .landline {

	margin:0px 0px 0px 5px;

	padding:0px;

	width:92px;

	float:left;

}

#search_save .landline img {

	margin:0px 0px 0px 0px;

	padding:0px;

}

#search_save .landline span {

	margin:0 0 0px 0px;

	color:#000;

	line-height:25px;

	font-size:12px;

	font-weight:bold;

}

#search_save .landline h1 {

	margin:0 0 0px 5px;

	color:#000;

	font-size:22px;

	font-weight:bold;

}

#search_save .landline p {

	margin:0 0 0px 0px;

	color:#000;

	font-size:11px;

	float:right;

}

/*===========================Body Container End=============================================*/































/*----------------Footer Css-----------------------------------------*/































































#footer {

	width:100%;

	margin:auto;

}

#footer_container {

	width:990px;

	float:left;

	padding:0 0 50px 0;

}

.ftrlogo {

	width:990px;

	float:left;

	text-align:center;

	margin:0;

	padding:0;

}

.ftrlogo img {

	margin:18px 0px 0 0px;

	padding:0 20px 0 20px;

	border-right:1px solid #e3e3e3;

}

.ftrlogo img.last {

	margin:18px 0px 0 0px;

	padding:0 20px 0 20px;

	border-right:none;

}

.footer_logo {

	width:990px;

	float:left;

	margin:20px 0 0 0;

	background:url(../images/ftr_logobg.jpg) repeat-y left top;

	min-height:200px;

}

.footer_box1 {

	width:auto;

	float:left;

	border-right:1px solid #ddd;

	margin:0;

	padding:0;

	min-height:56px;

}

.footer_box2 {

	width:auto;

	float:left;

	border-right:1px solid #ddd;

	margin:0;

	padding:0;

	min-height:56px;

}

.footer_box3 {

	width:auto;

	float:left;

	border-right:1px solid #ddd;

	margin:0;

	padding:0;

	min-height:56px;

}

.footer_box4 {

	width:auto;

	float:left;

	margin:0;

	padding:0;

	min-height:56px;

}

.ftr_links {

	width:988px;

	float:left;

	padding:10px 0 0 0;

	text-align:center;

	font-size:14px;

}

.copyright {

	width:990px;

	float:left;

	margin:0px 0 0 0;

}

.copyright ul {

	margin:0 0 0 270px;

	padding:0;

	list-style:none;

}

.copyright ul li {

	margin:0;

	padding:0 3px 0 3px;

	float:left;

	color:#2789f0;

}

.copyright ul li a {

	margin:0;

	padding:0;

	font-size:11px;

	color:#2789f0;

}

.copyright ul li a:hover {

	margin:0;

	padding:0;

	font-size:11px;

	color:#494646;

}

.copyright p {

	text-align:center;

	font-size:14px;

	padding:0px 0 0px 0;

	color:#666;

}

#tabs-4 table {

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

}

span.slider_caption {

	margin:0;

	padding:10px 0 0 20px;

	float:left;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

}

span.slider_caption a {

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#e87917;

	text-decoration:underline;

}

span.slider_caption a:hover {

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#e87917;

	text-decoration:none;

}

#f_fixed {

	width:100%;

	float:left;

	z-index:9996;

	position:fixed;

	bottom:0;

}

.footer_fixed {

	width:1193px;

	background:url(../images/footer_fixed.jpg) bottom fixed;

	height:28px;

	margin:auto;

}

.left_fixed {

	width:160px;

	float:left;

	padding:7px 0 0 30px;

	color:#717171;

}

.mid_fixed {

	width:640px;

	float:left;

	padding:7px 0 0 0px;

}

.right_fixed {

	width:300px;

	float:left;

	padding:7px 0 0 0px;

}

.close_fixed {

	width:20px;

	float:left;

	padding:12px 0 0 0px;

	margin:0 0 0 43px;

}

#f_fixed img.aero_fixed {

	position:fixed;

	bottom:0;

	right:0;

	z-index:9996;

	margin:0px 50px 20px 0;

}

#f_fixed img.feedback_fixed {

	position:fixed;

	bottom:0;

	right:0;

	z-index:9996;

	margin:0px 40px 120px 0;

}

/*---------------------Footer Tabbing Css-----------------------------------*/































































#tabbing_footer {

	width:100%;

	float:left;

}

.ftr_featured {

	color:#ec0019;

	margin:0 0 0 0;

	padding:7px 10px 0 10px;

	float:left;

	border-bottom:1px solid #999999;

	height:20px;

}

.ftrbot_logobg {

	width:990px;

	float:left;

}

/*------------tabbing search css----------------------*/































































#search_save-box_new {

	z-index:50;

	width:480px;

	height:150px;

	float:left;

	position:absolute;

	top:0px;

	right:0px;

	background-color:none;

}

.search-image_new {

	width:233px;

	height:104px;

	float:left;

	margin:5px 0 0 0;

}

#search_save_new {

	-moz-border-radius:8px;

	-webkit-border-radius:8px;

	border-radius: 8px;

	behavior: url(PIE.htc);

	background: #fff;

	width:233px;

	height:125px;

	padding:0px 0 0 5px;

	float:right;

	margin:10px 0 0 0px;

}

#search_save_new select {

	width:230px;

	height:35px;

	margin:5px 5px 0 0;

	padding:5px 3px 5px 30px;

	font-size:16px;

	font-weight:bold;

	font-family:Arial, Helvetica, sans-serif;

	position:relative;

	border:1px solid #c20001;

	-moz-border-radius:5px;

	-webkit-border-radius:5px;

	border-radius: 5px;

	behavior: url(PIE.htc);

	background:url(../images/blue_arrow.jpg) no-repeat 5% 50%;

	float:left;

}

#search_save_new .button_new {

	width:93px;

	height:28px;

	margin:5px 5px 0 50px;

	padding:2px 0px 0px 0px;

	float:left;

	cursor:pointer;

}

.bllink {

	color:#000;

}

.feedbackicon {

	position: fixed;

	right: 50px;

	bottom: 92px;

	visibility: visible;

	font-size:12px;

	text-align:center;

}

/*Feedback start here*/































#feedback_panel {

	width:990px;

	float:left;

	margin:10px 0 0 0;

}

#feedback-scroller {

	height: auto;

	padding: 0 10px 0 0;

	width: 990px;

}

#feedback-scroller .top-bg {

	background: url("../images/f-top-bg.jpg") no-repeat scroll 0 0 transparent;

	height: 44px;

	padding: 0;

	width: 990px;

}

#feedback-scroller .top-bg h1 {

	font-size: 22px;

	font-weight: normal;

	margin: 0;

	padding: 10px 0 0 10px;

}

#feedback-scroller .repeat-scroller-bg {

	float:left;

	background: url("../images/repeat-bg.jpg") repeat-y scroll 0 0 transparent;

	height: auto;

	padding: 0px;

	width: 990px;

}

#feedback-scroller .repeat-scroller-bg1 {

	height: auto;

	padding: 0px;

	width: 950px;

	margin-left:10px;

}

#feedback-scroller .bottom-scroller-bg {

	background: url("../images/bottom-bg.jpg") no-repeat scroll 0 0 transparent;

	float:left;

	height: 13px;

	padding: 0;

	width: 990px;

}

#feedback {

	/*background:url(../images/feedback-bg.png) no-repeat;*/

	background-position:right;

	margin:0px;

	padding:0px;

	float:left;

}

#feedback h1 {

	margin:0px;

	padding:0px;

	font-family:Arial, Helvetica, sans-serif;

	font-weight:bold;

	font-size:30px;

}

#feedback span {

	margin:0px;

	padding:0px;

	float:left;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	color:#4b4b4b;

}

#feedback .column1 {

	margin: 0 0 0 0px;

	width:300px;

	float:left;

	padding: 0 20px 0 20px;

}

#feedback .column2 {

	margin: 0 0 0 0px;

	width:500px;

	float:right;

	padding: 0 20px 0 20px;

}

#feedback ul {

	list-style: none outside none;

	margin: 20px 0 20px 0px;

	padding: 0;

}

#feedback ul li {

	color: #0278FD;

	float: left;

	font-size: 12px;

	margin: 0px auto;

	padding: 0 0 0 0;

	width: 100%;

}

#feedback ul label {

	float: left;

	font-size: 12px;

	margin:5px 0 15px 0;

	padding:0px;

	width:100%;

}

#feedback ul li.feed_input {

	background: url(../images/input-bg.png) no-repeat scroll left top transparent;

	border:none;

	color: #5A5A5A;

	float: left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	margin: 0px 0 0;

	padding:0;

	width: 286px;

	height:30px;

}

#feedback ul li.feed_input input {

	background:none;

	background-color:transparent;

	border:0 none;

	color: #5A5A5A;

	float: left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	margin: 0px 0 0;

	padding:5px 5px 0 5px;

	width:270px;

	height:20px

}

.submit {

	background: url("../images/submit.png") no-repeat scroll left top transparent;

	border: medium none;

	float: left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-weight:bold;

	margin:23px 0 0;

	padding: 8px 5px 8px 5px;

	width: 127px;

}

#feedback ul li.feed_input select {

	background:none;

	background-color:transparent none;

	border:0 none;

	color: #5A5A5A;

	float: left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	margin: 5px 0 0 5px;

	padding:0px 5px 0 5px;

	width:281px;

	height:20px

}

/*Contact Divs*/































































































































































#contact {

	margin:0px;

	padding:0px 0 10px 0;

	float:left;

}

#contact h1 {

	margin:0px;

	padding:0px;

	font-family:Arial, Helvetica, sans-serif;

	font-weight:bold;

	font-size:30px;

}

#contact span {

	margin:0px;

	padding:0px;

	float:left;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	color:#4b4b4b;

}

#contact .column1 {

	margin: 0 0 0 12px;

	width:300px;

	float:left;

	padding: 0 0px 0 0px;

}

#contact .column2 {

	margin: 0 0 0 0px;

	width:500px;

	float:right;

	padding: 0 20px 0 20px;

}

#contact1 ul {

	list-style: inside circle;

	margin: 20px 0 20px 40px;

	padding: 0;

}

#contact1 ul li {

	color: #0278FD;

	float: left;

	font-size: 14px;

	font-weight:bold;

	margin: 0px auto;

	padding: 0 0 0 0;

	width: 100%;

}

#contact ul {

	list-style: none outside none;

	margin:0px 0 20px 0px;

	padding: 0;

}

#contact ul li {

	color: #0278FD;

	float: left;

	font-size: 12px;

	margin: 0px auto;

	padding: 0 0 0 0;

	width: 100%;

}

#contact ul label {

	float: left;

	font-size: 12px;

	margin:5px 0 15px 0;

	padding:0px;

	width:100%;

}

#contact ul li.feed_input {

	background: url(../images/input-bg.png) no-repeat scroll left top transparent;

	border:none;

	color: #5A5A5A;

	float: left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	margin: 0px 0 0;

	padding:0;

	width: 286px;

	height:30px;

}

#contact ul li.feed_input input {

	background:none;

	background-color:transparent;

	border:0 none;

	color: #5A5A5A;

	float: left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	margin: 0px 0 0;

	padding:5px 5px 0 5px;

	width:270px;

	height:20px

}

input.submit {

	background: url("../images/submit.png") no-repeat scroll left top transparent;

	border: medium none;

	float: left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-weight:bold;

	margin:23px 0 0!important;

	padding: 8px 5px 8px 5px!important;

	width: 127px!important;

}

#contact ul li.feed_input select {

	background:none;

	background-color:transparent none;

	border:0 none;

	color: #5A5A5A;

	float: left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	margin: 5px 0 0 5px;

	padding:0px 5px 0 5px;

	width:281px;

	height:20px

}

#contact ul li.text_area {

	background: url(../images/text-area.png) no-repeat scroll left top transparent;

	border:none;

	color: #5A5A5A;

	float: left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	margin: 0px 0 0;

	padding:0;

	width: 286px;

	height:85px;

}

#contact ul li.text_area textarea {

	background:none;

	background-color: transparent;

	border: 0 none;

	color: #5A5A5A;

	float: left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	margin: 0px 0 0;

	padding: 8px 5px 4px 5px;

	width: 276px;

	height:73px;

}

/*Contact Divs end*/















































































#inner_body_container {

	float: left;

	margin: 0 0;

	padding: 5px 0 0px;

	width: 990px;

}

#inner_footer_container {

	float: left;

	padding: 0 0 50px;

	width: 990px;

}

#feedback ul li.text_area {

	background: url(../images/text-area.png) no-repeat scroll left top transparent;

	border:none;

	color: #5A5A5A;

	float: left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	margin: 0px 0 0;

	padding:0;

	width: 286px;

	height:85px;

}

#feedback ul li.text_area textarea {

	background:none;

	background-color: transparent;

	border: 0 none;

	color: #5A5A5A;

	float: left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	margin: 0px 0 0;

	padding: 8px 5px 4px 5px;

	width: 276px;

	height:73px;

}

/*mobileapps dav start here*/















































#mobile_apps_panel {

	width:240px;

	float:left;

	margin:10px 0 0 0;

}

#mobile-scroller {

	height: auto;

	padding: 0 10px 0 0;

	width: 241px;

}

#mobile-scroller ul {

	list-style:none outside;

	;

	padding: 0 0px 0 50px;

	margin:0px;

}

#mobile-scroller ul li {

	background:url(../images/arrow-m.png) no-repeat left top;

	padding: 0 0px 0 30px;

	color:#3d5bbb;

	font-weight:bold;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	margin:0px;

}

#mobile-scroller .top-bg {

	background: url("../images/mobile-top-bg.png") no-repeat scroll 0 0 transparent;

	height: 44px;

	padding: 0;

	width: 251px;

}

#mobile-scroller .top-bg h1 {

	font-size: 18px;

	font-family:Swis721 Cn BT;

	text-align:center;

	color:#0289fa;

	font-weight: normal;

	margin: 0;

	padding: 10px 0 0 0;

}

#mobile-scroller .repeat-scroller-bg {

	background:#fff url(../images/mobile-repeat.png) repeat-x left bottom;

	border-left:1px solid #dadada;

	border-right:1px solid #dadada;

	height: auto;

	padding: 0;

	width: 249px;

	margin:0;

}

#mobile-scroller .txt-box {

	padding:10px;

	margin:0px;

	width: 231px;

}

#mobile-scroller img {

	margin:10px 0 0 17px;

	padding:0px;

	width: 215px;

}

#mobile-scroller h1 {

	font-size: 18px;

	font-family:Swis721 Cn BT;

	color:#0289fa;

	font-weight: normal;

	margin: 0;

	padding: 20px 0 0 17px;

}

#mobile-scroller .bottom-scroller-bg {

	background: url("../images/mobile-bottom-bg.png") no-repeat scroll 0 0 transparent;

	height: 13px;

	padding: 0;

	width: 251px;

	float:left;

	margin:-1px 0 0 0;

}

#mobile_apps_panel2 {

	width:729px;

	float:right;

	margin:30px 0 0 10px;

}

.top_mobile_button {

	width:729px;

	float:right;

	margin:0px 0 0 10px;

}

.iphone-button {

	float:left;

	width:228px;

}

.iphone-button a {

	background: url("../images/iphone-button.png") no-repeat scroll left top transparent;

	float: left;

	height: 44px;

	margin: 30px 0 0 10px;

	padding: 0;

	text-indent: -50000px;

	width: 228px;

}

.iphone-button a:hover {

	background-position: 0 -46px;

}

.android-button {

	float:left;

	width:215px;

}

.android-button a {

	background: url("../images/android-button.png") no-repeat scroll left top transparent;

	float: left;

	height: 44px;

	margin: 30px 0 0 25px;

	padding: 0;

	text-indent: -50000px;

	width: 215px;

}

.android-button a:hover {

	background-position: 0 -46px;

}

.blackberry-button {

	float:left;

	width:235px;

}

.blackberry-button a {

	background: url("../images/blackberry-button.png") no-repeat scroll left top transparent;

	float: left;

	height: 44px;

	margin: 30px 0 0 40px;

	padding: 0;

	text-indent: -50000px;

	width: 235px;

}

.blackberry-button a:hover {

	background-position: 0 -46px;

}

.mob_box_1 {

	height: 324px;

	left: 0px;

	overflow: hidden;

	position: relative;

	top: 37px;

	width: 200px;

}

.mob_box_1 img {

	margin: 0;

	padding: 5px;

}

#iphone-bg {

	background:url(../images/iphone-bg.png) no-repeat top left;

	float: left;

	height: 364px;

	margin: 0px 0 0 10px;

	padding: 67px 14px 0 19px;

	width: 197px;

}

#android-bg {

	background:url(../images/android-mob.png) no-repeat top left;

	float: left;

	height: 431px;

	margin: 0px 0 0 10px;

	padding: 42px 0 0 21px;

	width: 208px;

}

#blackberry-bg {

	background:url(../images/blackberry-mob.png) no-repeat top left;

	float: left;

	height: 404px;

	margin: 0px 0 0 10px;

	padding:68px 0px 0 17px;

	width: 223px;

}

/*## ContentCntr ##*/















	  















#contentcntr {

	width:990px;

	float:left;

}

/*## ContentCntr Left ##*/















	 















.contentcntrleft {

	width:644px;

	float:left;

}

.contentcntrrct {

	width:644px;

	float:left;

	height:37px;

	background:url('../images/rencentbox.png') no-repeat;

	margin:11px 0 9px 0;

}

.contentcntrrct h1 {

	font-size:18px;

	font-weight:normal;

	padding:7px 0 0 18px;

	margin:0;

}

.contentcntrpart {

	width:654px;

	float:left;

	padding:10px 0 5px 0;

	margin:0;

}

.contentcntrtext {

	width:654px;

	float:left;

}

.contentcntrtext img {

	margin:0 8px 0 0;

	padding:0;

	border:none;

}

.contentcntrtext h1 {
	font-size:14px;

	color:#5a5a5c;

	margin:0;

	padding:0px 0px 0 4px;

	font-weight:bold;

}

.contentcntrtext p {

	padding:5px 10px 10px 9px;

	color:#5a5a5c;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	line-height:24px;

	font-weight:normal;

	margin:0;

}

.contentcntr_read {

	width:600px;

	float:right;

}

.contentcntr_read a {

	font-size:16px;

	font-weight:normal;

	color:#0180a9;

	float:right;

	padding:3px 27px 0px 0px;

}

.contentcntrline {

	width:630px;

	float:left;

	background:url(../images/line.png) repeat-x;

	margin:20px 0 0 0;

	padding:0;

	height:2px;

}

/*## ContentCntr ##*/















	  















#contentcntr {

	width:990px;

	float:left;

}

/*## ContentCntr Left ##*/















	 















.contentcntrleft {

	width:644px;

	float:left;

}

.contentcntrrct {

	width:644px;

	float:left;

	height:37px;

	background: url(../images/ret-top.jpg) no-repeat;

	margin:11px 0 9px 0;

}

.contentcntrrct h1 {

	font-size:18px;

	font-weight:normal;

	padding:7px 0 0 18px;

	margin:0;

}

.contentcntrpart {

	width:654px;

	float:left;

	padding:10px 0 5px 0;

	margin:0;

}

.contentcntrtext {

	width:654px;

	float:left;

}

.contentcntrtext img {

	margin:0 8px 0 0;

	padding:0;

	border:none;

}

.contentcntrtext h1 {

	/*width:625px;*/

	font-size:14px;

	color:#5a5a5c;

	margin:0;

	padding:0px 0px 0 6px;

	font-weight:bold;

}

.contentcntrtext p {

	padding:5px 10px 10px 9px;

	color:#5a5a5c;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	line-height:24px;

	font-weight:bold;

	margin:0;

}

.contentcntr_read {

	width:488px;

	float:right;

}

.contentcntr_read a {

	font-size:11px;

	font-weight:bold;

	color:#017eaa;

	float:right;

	padding:3px 27px 0px 0px;

}

.contentcntrline {

	width:630px;

	float:left;

	background:url(../images/line.png) repeat-x;

	margin:20px 0 0 0;

	padding:0;

	height:2px;

}

/*## /*## ContentCntr Left ##*/  































































/*## contentcntr right ##*/















 















.contentcntrgt {

	width:324px;

	float:left;

	padding: 0 0 0 0px;

	margin:9px 0 0px 20px;

}

.contentcntrgt_top {

	width:322px;

	float:left;

	background:url(../images/round_red.jpg) left top no-repeat;

	height:39px;

}

.contentcntrgt_top h2 {

	margin:0;

	padding:15px 0 0 20px;

	font-size:13px;

	font-weight:normal;

	color:#FFFFFF;

}

.contentcntrgt_mid {

	width:320px;

	float:left;

	border-left:1px solid #d4d2d2;

	border-right:1px solid #d4d2d2;

}

.contentcntrgt_mid img {

	margin:0 0 0 1px;

	padding:0;

}

.contentcntrgt_bot {

	width:322px;

	float:left;

	margin: 0 0 10px 0;

}

.contentcntrgtinp {

	width:276px;

	float:left;

	border:solid 1px #dedede;

	margin:10px 0 10px 20px;

	height:33px;

	padding: 6px;

	-moz-border-radius:10px;

	-webkit-border-radius:10px;

	border-radius: 10px;

	behavior: url(PIE.htc);

	background:url(../images/bg-inp.jpg) repeat-x left bottom;

	color:#717171;

}

.archives {

	width:322px;

	float:left;

}

.navi {

	width:320px;

	float:left;

}

.navi ul {

	list-style:none;

	margin:0px;

	padding:5px 0 0 20px;

}

.navi ul li {

	line-height:22px;

}

.navi ul li a {

	font-size:14px;

	color:#717171;

	text-decoration:none;

}

.navi ul li a:hover {

	color:#FF0000;

}

.facebook_friend {

	width:322px;

	float:left;

	height:265px;

	background:url(../images/face-pulag.jpg) no-repeat;

	margin:0 0 10px 0;

}

.rajatwitter_mid {

	width:320px;

	float:left;

	background-color:#efefef;

	border-left:1px solid #d4d2d2;

	border-right:1px solid #d4d2d2;

}

.rajatwitter_mid img {

	margin:0 0 0 1px;

	padding:0;

}

.rajatwitter_part {

	width:315px;

	-moz-border-radius:5px;

	-webkit-border-radius:5px;

	float:left;

	padding-top:10px;

	margin:4px;

	background-color:#FFFFFF;

	height:300px;

	overflow:auto;

}

.rajatwitter_img {

	width:50px;

	float:left;

	margin:0 0px 0 5px;

}

.rajatwitter_text {

	width:218px;

	float:left;

	padding:0 0 0 10px;

}

.rajatwitter_text p {

	padding:0px 0px 0px 10px;

	color:#5a5a5c;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:normal;

	margin:0;

}

.rajatwitter_text span {

	color:#e89b7d;

	font-size:12px;

}

.rajatwitter_clr {

	width:218px;

	float:left;

	font-size:11px;

}

.rajatwitter_dot {

	width:290px;

	float:left;

	background:url(../images/line.png) repeat-x;

	margin:10px 0 10px 5px;

	padding:0;

	height:2px;

}

.rajatwitter_twt {

	width:100px;

	float:left;

	padding: 0 0 0 20px;

}

.rajatwitterjoin {

	width:140px;

	float:right;

	color:#2a6ca6;

	font-size:12px;

	padding:5px 0 0 0;

}

.rajatwittercode {

	width:320px;

	float:left;

	padding:10px 0 0 0;

}

.rajatwitter_bus {

	width:322px;

	height:300px;

	float:left;

	background:url(../images/small_bus.jpg) no-repeat;

}

.rajatwitter_bot {

	width:320px;

	height:auto;

	float:left;

	background:url(../images/twitter_bot.jpg) no-repeat;

}

.rajatwitter_read {

	width:300px;

	float:left;

}

.rajatwitter_read a {

	width:300px;

	float:left;

	font-size:14px;

	color:#509db6;

	font-weight:bold;

	text-decoration: underline;

	padding:10px 0 0 5px;

}

/*### iphone ###*/	















			 















.iphonebanner {

	width: 990px;

	float:left;

	height: 282px;

	background:url(../images/iphonebanner.jpg) no-repeat;

}

/*### cantaincntr ###*/















	















.cantaincntr {

	width:990px;

	float:left;

}

.cantaincntr_left {

	width:250px;

	float:left;

}

.cantaincntri_top {

	width:233px;

	height:50px;

	float:left;

	background:url(../images/iphone_top.jpg) no-repeat;

	margin:10px 0 0 0;

}

.cantaincntri_mid {

	width:231px;

	height:490px;

	border-left:solid 1px #efecec;

	border-right:1px solid #efecec;

	margin:0;

	padding:0;

	float:left;

	overflow-y:scroll;

	border-bottom:solid 1px #9e9e9e;

}

.cantaincntri_mid_iphn {

	width:231px;

	float:left;

	padding:10px 0 0 0;

}

.cantaincntri_mid img {

	margin:0 0 5px 10px;

	padding:0;

}

.cantaincntri_mid p {

	font-size:13px;

	font-weight:normal;

	color:#1c7ba1;

	padding:0px 0px 5px 13px;

	margin:0;

}

.cantaincntri_mid_dot {

	width:196px;

	height:16px;

	background:url(../images/dot_line.jpg) left bottom repeat-x;

	margin:0 0 5px 10px;

	float:left;

}

.cantaincntri_mid span {

	color:#1c7ba1;

	margin:0 5px 0 10px;

	float:left;

}

.cantaincntri_top h1 {

	font-size:14px;

	font-weight:normal;

	color:#fff;

	margin:0;

	text-align:center;

	padding-top:13px;

}

.cantaincntri_bot {

	width:233px;

	height:9px;

	float:left;

	background:url(../images/iphone_bot.jpg) no-repeat;

}

.cantaincntr_right {

	width:740px;

	float:left;

}

.cantaincntr_right_hed {

	width:740px;

	float:left;

}

.cantaincntr_right_hed h1 {

	font-size:24px;

	font-weight:normal;

	color:#5b595b;

	margin:0;

	padding:10px 0 30px 0px;

}

.cantaincntr_right_hed p {

	font-size:13px;

	font-weight:normal;

	color:#5b595b;

	padding:0px 0px 0 0px;

	margin:0;

	line-height:22px;
	font-family:Georgia, "Times New Roman", Times, serif;

}

.cantaincntr_right_hed a {

	color:#FF0000;

	font-size:14px;

	font-weight:normal;

	text-decoration:underline;

}

.cantaincntr_right_hed p img {margin:0 12px 0 0px;}

.cantaincntr_right_iphone {

	width:740px;

	float:left;

	padding:40px 0 38px 0;

}

.cantaincntr_right_banner {

	width:734px;

	float:left;

	height:128px;

	background:url(../images/round_text.png) no-repeat;

}

.cantaincntr_right_banner h1 {

	font-size:23px;

	font-weight:normal;

	color:#5b595b;

	margin:0;

	padding:14px 0 0px 24px;

	color:#0873a0;

}

.cantaincntr_right_banner p {

	font-size:12px;

	font-weight:normal;

	color:#5b595b;

	padding:40px 0px 0 34px;

	margin:0;

}

.cantaincntr_right_banner a {

	font-size:18px;

	font-weight:normal;

	color:#0873a0;

	text-decoration:underline;

	padding:0px 0px 0 0px;

	margin:0;

}

.cantaincntr_right_get {

	float:right;

	position:relative;

	padding:0;

	margin:-20px 20px 0 0;

	cursor:pointer;

}

.cantaincntr_right_app {

	width:600px;

	height:41px;

	float:left;

	background:url(../images/appstore.png) no-repeat;

	margin:25px 0 0 10px;

}

.cantaincntr_right_bot {

	width:750px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:normal;

	padding:15px 0 0 0;

	float:left;

	color:#353535;

}

.cantaincntr_right_app h1 {

	font-size:18px;

	float:right;

	font-weight:normal;

	color:#5b595b;

	margin:0;

	padding:0px 0 0px 10px;

	color:#0873a0;

}

.cantaincntr_right_app p {

	font-size:13px;

	font-weight:bold;

	font-family:Arial, Helvetica, sans-serif;

	color:#5b595b;

	padding:5px 0px 0 0px;

	margin:0;

}

/*feed Back content */































.headinginner {

	background:url(../images/headingbg.jpg) repeat-x top;

	display:block;

	height:37px;

	font-family:Arial, Helvetica, sans-serif;

	font-weight:normal;

	padding:7px 0 0 10px;

}

.headinginner a {

	display:block;

	color:#000000!important;

	font-family:Arial, Helvetica, sans-serif;

	font-weight:normal;

}

#all {

	display:block;

	font-size: 20px;

	color:#000000!important;

	font-weight:normal;

	font-family:Arial, Helvetica, sans-serif;

	text-decoration:none;

}

.inimgagebod {

	float:right;

	border:#F7F7F7 1px solid;

	padding:5px;

	margin-left:20px;

}

.privacy a {

	color:#06F!important;

	text-decoration:underline;

	font-size:15px;

	font-weight:bold;

}

.privacy a:hover {

	color:#C30!important;

	text-decoration:none;

}

.terms a {

	color:#06F!important;

	text-decoration:underline;

	font-size:15px;

	font-weight:bold;

}

.terms a:hover {

	color:#C30!important;

	text-decoration:none;

}

.plans a {

	color:#06F!important;

	text-decoration:underline;

	font-size:15px;

	font-weight:bold;

}

.plans a:hover {

	color:#C30!important;

	text-decoration:none;

}

.faq a {

	color:#06F!important;

	text-decoration:underline;

	font-size:15px;

	font-weight:bold;

}

.faq a:hover {

	color:#C30!important;

	text-decoration:none;

}

.faq1 table {

	margin:0px 0 10px 0;

}

.faq1 td {

	border:1px solid #c6cbcc;

	padding:5px!important;

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	margin:0px;

}

.faq1 td INPUT {

	border:NONE;

	padding:3px;

}

.refer-friend td {

	border:1px solid #c6cbcc;

	padding:5px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	margin:0px;

}

.refer-friend td INPUT {

	border:NONE;

	padding:3px;

}

/*iphone css*/















 















 #iphone_apps_panel-box {

	width:729px;

	float:right;

	margin:0px 0 10px 0;

}

#iphone_apps_panel2 {

	width:729px;

	margin:0px;

	float:left;

}

.refer-friend table {

	border:1px solid #a3a3a3;

}

/*### contact us ###*/































.refer-friend h2 {

	font-size:14px;

	font-family:Arial, Helvetica, sans-serif;

	padding:0 0 0 4px;

}

.refer-friend p {

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	padding: 0 0 0 7px;

}

.refer-friend ul {

	list-style:none;

	margin:0;

	padding:0px;

}

.refer-friend ul li {

	line-height:20px;

}

.refer-friend ul li a {

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:bold;

	padding:0 0 0 8px;

	text-decoration:underline;

}

.custumer-box {

	float:left;

	width:100%;

	margin:0px;

	padding:0px;

}

.cust {

	width:400px;

	float:left;

}

.cust_left {

	width:140px;

	float:left;

	padding:0 0 0 80px;

}

.cust_right {

	width:150px;

	float:left;

}

.both {

	clear:both;

}

.refer-friendtext {

	width:990;

	float:left;

}

.refer-friendtext_form {

	width:940px;

	float:left;

	height:200px;

	border:1px solid #cfcfcf;

	-moz-border-radius:5px;

	-webkit-border-radius:5px;

	border-radius: 5px;

	padding:0;

	behavior: url(PIE.htc);

	margin:20px 0 0 20px;

	background:url(../images/bg-input.gif) left top repeat-x;

}

.form_field {

	width:800px;

	float:left;

	padding:4px 0 0 0;

}

.refer-friendtext_form label {

	width:340px;

	font-size:14px;

	color: #000000;

	padding:10px 40px 0 2px;

	font-family:Arial, Helvetica, sans-serif;

	float:left;

	font-weight:bold;

	text-align:right;

}

.refer-friendtext_inpt {

	width:195px;

	height:27px;

	float:left;

	background: url(../images/input_form.gif) left top no-repeat;

	border:0;

	padding:0px 0 0 0px;

}

.refer-friendtext_inpt input {

	width:181px;

	height:20px;

	background:none;

	background-color:transparent;

	border:0;

	padding:4px 3px 3px 6px;

	font-family:Arial, Helvetica, sans-serif;

	font-style:normal;

}

.redtext {

	color:#C00;

}

.bigtext {

	font-size:18px;

	text-decoration:underline;

}

.wcont {

	width:250px;

	float:left;

	margin:10px 0 0 10px;

}

.wcont h4 {

	font-size:16px;

	text-decoration:underline;

	margin:0px;

}

.wcont ul li {

	line-height:24px;

	margin:0px;

}

questiontab {

	margin:0px!important;

	border-bottom:#CCC 1px dashed!important;

}

#formaincontent {

	width:100%;

	border-bottom:#CCC 1px dashed!important

}

#formaincontent a {

	font-size:16px!important;

	color:#03F;

	font-weight:bold;

}

.hiddentab {

	overflow: auto;

	padding:0px;

	margin:0px;

	display: none;

}

/*greate india*/















#left_part {

	width:768px;

	float:left;

	margin:0px 8px 0 0;

	padding:0 0 20px 0;

}

#left_part .dial-direct {

	background:url(../images/dial-bg.png) no-repeat top left;

	float:left;

	margin:2px 0px 0px 14px;

	padding:0 0 0px 0;

	width:752px;

	height:113px;

}

#left_part .dial-direct img {

	float:left;

	margin:20px 0px 0 5px;

	padding:0 0 0px 0;

	width:250px;

	height:77px;

}

#left_part .dial-direct .flash {

	float:left;

	margin:12px 0px 0 18px;

	padding:0 0 0px 0;

	width:470px;

	height:76px;

}

#left_part .data {

	padding:0 0px 0px 10px;

}

#left_part .datanew {

	padding:0 0px 0px 10px;

	border-right:#bababa 1px solid;

}

#left_part .datanew1 {

	padding:0 0px 0px 10px;

}

#left_part .select3 {

	width:50px;

	float:left;

	margin:0 0px 0 20px;

	padding:0px 0px 0px 0px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	position:relative;

	border:1px solid #cfcfcf;

	background: #fff;

}

#left_part strong {

	margin:0px;

	padding:0px;

	font-size:14px;

	color:#cd0000;

	font-weight:bold;

}

#left_part .all-rates {

	margin:0px;

	padding:0px 20px 0 0;

	font-size:12px;

	color:#959595;

	background:url(../images/td-bg.png) repeat-x top left;

}

#left_part .plan-rate {

	margin:0px;

	background:url(../images/td-bg.png) repeat-x top left;

}

#left_part .gray {

	margin:0px;

	border-top:1px solid #bababa;

	border-right:1px solid #bababa;

	padding:0px;

	font-size:12px;

	color:#959595;

}

#left_part .buy {

	margin:0px;

	border-top:1px solid #bababa;

	padding:0px;

}

#left_part h2 {

	font-size:16px;

	font-family:Arial, Helvetica, sans-serif;

	padding:10px 0px 10px 10px;

}

#left_part .data1 {

	font-size:12px;

	font-weight:bold;

	border-top:1px solid #bababa;

	border-right:1px solid #bababa;

	font-family:Arial, Helvetica, sans-serif;

	padding:0 10px 0 10px;

}

#left_part .featured {

	padding:0 10px 0 10px;

}

#left_part .data-last {

	font-size:11px;

	font-weight:bold;

	border-top:1px solid #bababa;

	font-family:Arial, Helvetica, sans-serif;

	padding:0 10px 0 10px;

}

#left_part .data2 {

	font-size:12px;

	font-weight:bold;

	font-family:Arial, Helvetica, sans-serif;

	padding:0 0px 0 10px;

}

#left_part .data4 {

	font-size:12px;

	font-weight:bold;

	font-family:Arial, Helvetica, sans-serif;

	padding:0 0px 0 0px;

}

#left_part .data3 {

	font-size:11px;

	color:#cd0000;

	border-top:1px solid #b4b4b4;

	border-right:1px solid #b4b4b4;

	font-weight:bold;

	font-family:Arial, Helvetica, sans-serif;

}

#left_part .data3-last {

	font-size:11px;

	color:#cd0000;

	border-top:1px solid #b4b4b4;

	font-weight:bold;

	font-family:Arial, Helvetica, sans-serif;

}

#left_part .buy-botton {

	background:url(../images/buy1.png) no-repeat left top;

	border:0px;

	cursor:pointer;

	color:#FFFFFF;

	font-weight:bold;

	width:67px;

	height:22px;

	margin:0px;

	padding:0px;

}

#left_part .buy-botton1 {

	background:url(../images/buy2.png) no-repeat left top;

	border:0px;

	font-size:11px;

	cursor:pointer;

	color:#FFFFFF;

	font-weight:bold;

	width:43px;

	height:18px;

	margin:0px;

	padding:0px;

}

#left_part .dial1 {

	padding:0px;

	margin:0px;

}

#left_part .dial1 img {

	padding:0px;

	margin:2px 5px 0 10px;

	float:left;

}

#left_part .dial1 span {

	padding:0px;

	margin:0px;

	font-size:11px;

	font-weight:bold;

	font-family:Arial, Helvetica, sans-serif;

	float:left;

}

#right_part {

	float: left;

	margin: 10px 0 0 0;

	width: 210px;

}

#right_part .scroll-border1 {

	background: url("../images/scroll-bg1.png") no-repeat scroll 0 0 transparent;

	float: right;

	height: 46px;

	width: 210px;

}

#right_part .scroll-repeat {

	background: url("../images/scroll-repeat.png") repeat-y scroll 0 0 transparent;

	float: right;

	width: 210px;

}

#right_part .scroll-bottom {

	background:url("../images/scroll-bottom.png") no-repeat left top;

	width:208px;

	height:16px;

	margin:0px 2px 0px 0px;

	padding:0px;

	float:right;

}

#right_part #scroll-bg1 {

	float: left;

	margin: 0px 0;

	padding: 0px 0 5px 3px;

	width: 200px;

}

.scroll-border1 h1 {

	color: #000000;

	font-size: 15px;

	float:left;

	font-weight: bold;

	margin: 0 0 11px;

	padding: 15px 0 0 15px;

}

.scroll-border1 h2 {

	color: #000000;

	font-size: 15px;

	float:right;

	font-weight: bold;

	margin: 0 0 11px;

	padding: 15px 15px 0 0px;

}

#right_part .scroll-td1 {

	background: url("../images/scroll-td.jpg") repeat scroll 0 0 transparent;

	float: left;

	margin: 0 0 0 3px;

	padding: 0 0 0;

	width: 98%;

}

#right_part .scroll-td1 span {

	float: left;

	font-weight: bold;

	margin: 0 0 0 0;

	padding: 3px 0 7px 15px;

	width: 120px;

}

#right_part .scroll-td1 p {

	float: left;

	color:#c70000;

	font-weight: bold;

	margin: 0 0 0 0;

	padding: 3px 0 7px 10px;

}

.ratepagebanner {

	border:#dddddd 2px solid;

	padding:10px 0 10px 0;

}

.row :hover {

	background-color: #CCCCCC;

	border:#036 1px solid;

}

.dataheading {

	font-size:13px;

	font-weight:bold;

	border-top:1px solid #bababa;

	border-right:0;

	font-family:Arial, Helvetica, sans-serif;

	text-align:center;

	color:#c60000;

}

.dataheading2 {

	font-size:13px;

	font-weight:bold;

	border-top:1px solid #bababa;

	border-right:1px solid #bababa;

	font-family:Arial, Helvetica, sans-serif;

	text-align:center;

	color:#c60000;

}

.dataheading1 {

	font-size:13px;

	font-weight:bold;

	border-top:1px solid #bababa;

	border-right:1px solid #bababa;

	font-family:Arial, Helvetica, sans-serif;

	padding-left:10px;

	color:#c60000;

}

.msgfaq{color:#663399; font-size:11px; font-weight:bold;}

.newmsg12{ float:left; margin:0 0 0 570px;

}

.callingcoun{background: url(../images/accordian.png) no-repeat top left!important; margin:0px!important; width:262px!important; border:0!important;}

.callingcoun_text{overflow: auto; padding:0px 0 0px 20px!important; border:1px solid #d8d5d5!important; margin:0px 0 5px 0!important; -moz-border-radius:8px; -webkit-border-radius:8px!important; width:240px!important;

}

.showntext{

	padding:0 20px;

}

.menu_div{clear:both;float:left;

}

.menu_div_bot{float:left; width:257px; clear:left; display:block;}







#android-bg .mob_box_1 {

	height: 324px;

	left: -5px;

	overflow: hidden;

	position: relative;

	top: 14px;

	width:192px;

}

#android-bg .mob_box_1 img {

	margin: 0;

	padding: 5px;

}

#blackberry-bg .mob_box_1 {

	height: 324px;

	left: 0px;

	overflow: hidden;

	position: relative;

	top: 38px;

	width: 208px;

}

#blackberry-bg .mob_box_1 img {

	margin: 0;

	padding: 5px;

}

#menu-nav li a .home_icon{

	float:left;

	width:21px;

	height:19px;

	background:url(../images/home_icon.png) no-repeat bottom left;

	position:relative;

	margin-top:-3px;

	margin-right:6px;

}

#menu-nav li a:hover .home_icon{

	background:url(../images/home_icon.png) no-repeat top left;}

#menu-nav li a.homeselected span.home_icon{

	background:url(../images/home_icon.png) no-repeat top left;}

#menu-nav li a .account_icon{

	float:left;

	width:18px;

	height:13px;

	background:url(../images/myacco_icon.png) no-repeat bottom left;

	position:relative;

	margin-top:0px;

	margin-right:6px;

}

#menu-nav li a:hover .account_icon{

	background:url(../images/myacco_icon.png) no-repeat top left;}

#menu-nav li a .shop_icon{

	float:left;

	width:16px;

	height:17px;

	background:url(../images/shop_icon.png) no-repeat bottom left;

	position:relative;

	margin-top:-1px;

	margin-right:6px;

}

#menu-nav li a:hover .shop_icon{

	background:url(../images/shop_icon.png) no-repeat top left;}

#menu-nav li a .feature_icon{

	float:left;

	width:18px;

	height:17px;

	background:url(../images/feat_icon.png) no-repeat bottom left;

	position:relative;

	margin-top:-1px;

	margin-right:6px;

}

#menu-nav li a:hover .feature_icon{

	background:url(../images/feat_icon.png) no-repeat top left;}

	

#menu-nav li a .supp_icon{

	float:left;

	width:18px;

	height:17px;

	background:url(../images/support_icon.png) no-repeat bottom left;

	position:relative;

	margin-top:-1px;

	margin-right:6px;

}

#menu-nav li a:hover .supp_icon{

	background:url(../images/support_icon.png) no-repeat top left;}

#menu-nav li a .recha_icon{

	float:left;

	width:16px;

	height:17px;

	background:url(../images/rech_icon.png) no-repeat bottom left;

	position:relative;

	margin-top:-1px;

	margin-right:6px;

}

#menu-nav li a:hover .recha_icon{

	background:url(../images/rech_icon.png) no-repeat top left;}

	

#menu-nav li a .cart_icon{

	float:left;

	width:18px;

	height:16px;

	background:url(../images/cart_icon.png) no-repeat bottom left;

	position:relative;

	margin-top:-1px;

	margin-right:6px;

}

#menu-nav li a:hover .cart_icon{

	background:url(../images/cart_icon.png) no-repeat top left;}
.iphone_con{padding:91px 0 0 70px;
	float:left;
	width:auto;
	}
.android_con{
	padding:152px 0 0 70px;
	float:left;
	width:auto;
}
.blackberry_con{
	padding:239px 0 0 79px;
	float:left;
	width:auto;
}

.prev_btn{background: url(../images/left_desti_arrow.jpg) no-repeat 0 0 ;
    cursor: pointer;
    height: 22px;
    width: 22px;
	float:left;
	margin:0 2px 0 0;
}
.next_btn{background: url(../images/right_desti_arrow.jpg) no-repeat 0 0 ;
    cursor: pointer;
    height: 22px;
    width: 22px;
	float:left;
	margin:0 0 0 2px;
}
.faq_text{
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:19px;
}

.faq_acc{
	 border: 1px solid #dbdbdb;
	 background:#fcfcfc;
    float: left;
    margin: 0 0 12px;
    padding: 5px;
    width: 98%;
}
.feedback_faq{
	float:left;
	width:930px;
}
.feedback_faq ul{
	padding:0;
	margin:0;
	width:930px;
	float:left;
}
.feedback_faq ul li{
	margin:0 0 0 12px;
	background:url(../images/arrorw072.jpg) no-repeat left 12px ;
}
.feedback_faq h2{
	margin:10px 0 10px 0;
	
}
.feedback_faq ul h5{
	margin:0;
	padding:0 0 0 12px;
	
}
.feedback_faq .h a.innerac{
	font-size:13px!important;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000!important;
	font-weight:normal!important;
}
.feedback_faq .inner{
	padding-left:12px!important;
	padding-top:0!important;
}
.submit1 {
	background:url(../images/submi_btn.png) no-repeat left top;
	width:72px!important;
	height:26px;
	margin:0px!important;
	color:#000;
	border:0px;
	padding:0px!important;
	cursor:pointer;
}
.submit1:hover {
	background:url(../images/submi_btn.png) no-repeat left bottom;
	color:#fff;
	text-shadow:none;
}
.reachus{
	background:url(../images/reach_img.png) no-repeat center top;
	width:100%;
	float:left;
	padding:10px 0 0 0;
	margin:0 0 10px 0;
	height:39px;
}
.sitemap_text ul{
	padding:0;
	list-style:none;
}
.sitemap_text ul li{
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:17px;
	padding:0 0 0 15px;
	background:url(../images/arrorw072.jpg) no-repeat left 5px;
}
.sitemap_text ul li a{
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
}
.sitemap_text ul li a:hover{
	color:#2789f0;
}
.sitemap_text ul li ul{
	padding:5px 0 5px 30px;
}
.sitemap_text ul li ul li{
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:17px;
	padding:0 0 0 15px;
	background:url(../images/circle.jpg) no-repeat left 7px;
}
.dataheading4 {

	font-size:13px;

	font-weight:bold;

	border-top:1px solid #bababa;

	border-right:1px solid #bababa;

	font-family:Arial, Helvetica, sans-serif;

	text-align:left;
	padding-left:10px;

	color:#c60000;

}