/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */
.dk_container {
	background-color: #f3f3f3;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 109px;
	float: left;
	margin-right: 10px;
	position: relative;
	padding: 2px 7px;
	margin-top: -1px;
}
.dk_container:focus {
	outline: none!important;
}
.dk_container a {
	cursor: pointer;
	font-size: 15px!important;
	font-weight: bold!important;
	text-decoration: none;
	outline: none!important;
}
.dk_toggle {
	color: #333;
	padding: 7px 105px 1px 10px!important;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-transition: border-color .5s;
	-moz-transition: border-color .5s;
	-o-transition: border-color .5s;
	transition: border-color .5s;
	position: relative;
}
.dk_toggle:hover {
	border-color: #8c8c8c!important;
}
.dk_toggle:after {
	position: absolute;
	right: 13px;
	top: 15px;
	content: '';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #4B4B4B;
}
/* Applied when the dropdown is focused */
.dk_focus .dk_toggle {
/*  border-color: #40b5e2;
  box-shadow: 0 0 5px #40b5e2;
  -moz-box-shadow: 0 0 5px #40b5e2;
  -webkit-box-shadow: 0 0 5px #40b5e2;*/ }
/* Applied whenever the dropdown is open */
.dk_open {
	/*  box-shadow: 0 0 5px #40b5e2;
  -moz-box-shadow: 0 0 5px #40b5e2;
  -webkit-box-shadow: 0 0 5px #40b5e2;*/
  /**
   * Help: Dropdown menu is covered by something
   * Try setting this value higher
   */
	z-index: 10;
}
.dk_open .dk_toggle {
}
/* The outer container of the options */
.dk_options {
	background: #f3f3f3;
	/* Removes transparent background on iOS5+ scroll */
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
.dk_options a {
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	padding: 10px 10px;
}
.dk_options a:hover,  .dk_options .dk_option_current a {
	/*border-bottom-color: #004c72;*/
	text-decoration: none;
}
.dk_options li:last-child a {
	border-bottom: none;
}
.dk_options .disabled {
	cursor: default;
}
.dk_options .disabled a {
	color: #aaa;
}
.dk_options .disabled:hover, .dk_options .disabled:hover a {
	cursor: default;
	border-bottom-color: #999;
	text-shadow: none;
}
/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
	max-height: 250px!important;
	border: 1px solid #ddd!important;
	border-bottom-width: 2px!important;
	width: 150px!important;
	border-bottom-color: #ddd!important;
	color: #333;
	left: 0!important;
	text-shadow: #fff 0 1px 0!important;
	border-radius: 0 0 5px 5px!important;
	-moz-border-radius: 0 0 5px 5px!important;
	-webkit-border-radius: 0 0 5px 5px!important;
	background: #f2f2f2!important;
	border-radius: 5px!important;
	top: 11px!important;
	list-style: none;
}
/******  End Theme ******/
/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container a {
	outline: 0;
}
.dk_toggle {
	display: -moz-inline-stack;
	display: inline-block;
 	*display: inline;
	position: relative;
	zoom: 1;
}
.dk_label {
	padding: 0px 0 5px 0px;
}
.dk_open {
	position: relative;
}
.dk_open .dk_options {
	display: block;
}
.dk_open .dk_label {
	color: inherit;
	width: 100px;
	float: left;
}
.dk_options {
	display: none;
	margin-top: -8px;
	position: absolute;
	right: 0;
	width: 100%;
}
.dk_options a, .dk_options a:link, .dk_options a:visited {
	display: block;
}
.dk_options_inner {
	overflow: auto;
	position: relative;
	-webkit-overflow-scrolling: touch;
}
/* Hides only dropkick <select> instances */
.dk_container select {
	position: absolute;
	top: -99999em;
	visibility: hidden;
}
/*  nativeMobile override */ 
.dk_mobile {
	position: relative;
}
.dk_mobile select {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: visible;
	opacity: 0;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
/***** End Critical to the continued enjoyment of working dropdowns ******/

.default .dk_container a {
	width: 70px!important;
}
.k_option_current {
	width: 100%!important;
}
.dk_options_inner li a {
	width: 136px!important
}
.dk_options_inner li {
	margin-left: 5px!important;
	width: 145px!important;
}
.dk_container a span{
		background:none!important;
		height:auto!important;
		padding-left:0!important;
}
.dk_container a{
		line-height:normal!important;
}



.stump_bg  .dk_toggle {
	display: -moz-inline-stack;
	display: inline-block;
 *display: inline;
	position: relative;
	zoom: 1;
}
.stump_bg  .dk_open {
	position: relative;
}
.stump_bg  .dk_open .dk_options {
	display: block;
}
.stump_bg  .dk_open .dk_label {
	color: inherit;
	width: 100px;
	float: left;
}
.stump_bg  .dk_options {
	display: none;
	margin-top: -1px;
	position: absolute;
	right: 0;
	width: 100%;
}
.stump_bg  .dk_options a, .dk_options a:link, .dk_options a:visited {
	display: block;
}
.stump_bg  .dk_options_inner {
	overflow: auto;
	position: relative;
	-webkit-overflow-scrolling: touch;
}
/* Hides only dropkick <select> instances */
.stump_bg  .dk_container select {
	position: absolute;
	top: -99999em;
	visibility: hidden;
}
/*  nativeMobile override */ 
.stump_bg  .dk_mobile {
	position: relative;
}
.stump_bg  .dk_mobile select {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: visible;
	opacity: 0;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
/***** End Critical to the continued enjoyment of working dropdowns ******/

.stump_bg  .default .dk_container a {
	width: 70px!important;
}
.stump_bg  .dk_option_current {
	width: 100%!important;
}
.stump_bg  .dk_options_inner li a {
	width: 136px!important
}
.stump_bg  .dk_options_inner li {
	margin-left: 5px!important;
	width: 145px!important;
	background: none!important;
}
.stump_bg  .dk_toggle:after {
	position: absolute;
	right: 140px; /* change by mohi for lowest rate (158px!important) to 140px. */
	top: 13px;
	content: '';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #4B4B4B;
}
.stump_bg  .dk_container{
	width:60px;
	margin-right:6px;
	padding:0px;
}
.stump_bg .dk_options_inner{
	height:162px!important;
	overflow-x:hidden;
}


/*----------call forwarding drop down--------------- */
.right-panel  .dk_toggle {
	display: -moz-inline-stack;
	display: inline-block;
 *display: inline;
	position: relative;
	zoom: 1;
}
.right-panel .dk_open {
	position: relative;
}
.right-panel  .dk_open .dk_options {
	display: block;
}
.right-panel  .dk_open .dk_label {
	color: inherit;
	width: 100px;
	float: left;
}
.right-panel  .dk_options {
	display: none;
	margin-top: -1px;
	position: absolute;
	right: 0;
	width: 100%;
}
.right-panel  .dk_options a, .dk_options a:link, .dk_options a:visited {
	display: block;
}
.right-panel  .dk_options_inner {
	overflow: auto;
	position: relative;
	-webkit-overflow-scrolling: touch;
}
/* Hides only dropkick <select> instances */
.right-panel  .dk_container select {
	position: absolute;
	top: -99999em;
	visibility: hidden;
}
/*  nativeMobile override */ 
.right-panel  .dk_mobile {
	position: relative;
}
.right-panel  .dk_mobile select {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: visible;
	opacity: 0;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
/***** End Critical to the continued enjoyment of working dropdowns ******/

.right-panel  .default .dk_container a {
	width: 70px!important;
}
.right-panel  .dk_option_current {
	width: 100%!important;
}
.right-panel  .dk_options_inner li a {
	width: 136px!important
}
.right-panel  .dk_options_inner li {
	margin-left: 5px!important;
	width: 145px!important;
	background: none!important;
}
.right-panel  .dk_toggle:after {
	position: absolute;
	right: 258px!important;
	top: 13px;
	content: '';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #4B4B4B;
}
.right-panel  .dk_container{
	width:113px;
	margin-right:6px;
	padding:0px;
}
.right-panel .dk_options_inner{
	height:162px!important;
	overflow-x:hidden;
}

.dk_options_inner{
		display:block!important;
}
.dk_options_inner a {
		padding:10px!important;
}
.dk_options_inner a:hover{
	color:#bf0000!important;
}
.stump_bg .dk_toggle {

	padding: 7px 105px 7px 10px!important;

}