#ftr_tabs .ui-tabs-panel{display:block;border:0;margin:0;padding:0 20px 0 20px;background:#eee;font-size:13px;font-family:Arial,Helvetica,sans-serif;color:#6b6b6b;line-height:17px;border-bottom:1px solid #999;width:950px;margin-left:-38px;border:0}
#bonus_box .signupnow{margin-left:350px;margin-top:-50px}
.example_form{float:left;margin-right:10px}
.new_raza_width{width:550px !important}
.menber_text{margin-top:0 !important}
.container_tabbing .ui-tabs.ui-tabs-vertical .ui-tabs-panel h2{font-size:16px !important;padding-top:15px}
.nav-tabs{margin:-52px 0 0 220px}
.family ul li,.quick_how ul li{width:100%}
a.tooltip-account .to-image{margin-left:85px;position:relative}
.small_botshadow{margin-top:-2px}
.internal{float:left !important;width:19px;height:19px;margin:13px 0 0 22px !important}
.pass-forgot{float:left !important;margin-top:5px !important}
.for-got-margin{float:left;margin-top:-40px !important}
#menu-nav li a{padding:10px 15px !important}
.nav-tabs{margin:-52px 0 0 219px}
.inner_images{margin-top:15px}
.extra{float:none !important}
.learn-more-text{margin-top:-5px}
.new_payment_left b img{margin-right:5px}
.below_checkbox_mobile{margin-top:10px !important}
