.js #main .accordion{visibility:hidden}
.js #side .accordion{display:none}
.accordion{margin:0 !important;padding:0 2px 0 2px}
.accordion li{list-style-type:none;display:block;padding:0;margin:0 0 5px 0;clear:left}
.accordion li.last-child{margin-left:19px;list-style-type:disc}
#side ul.accordion ul{margin:0;padding:0}
.accordion .inner{margin-bottom:0;padding:.5em 0 1em 0;position:relative;overflow:hidden;border:1px solid #93b8e6;border-top:0}
.accordion .inner-two{margin-bottom:0;padding:.5em 0 .2em 0;position:relative;overflow:hidden}
.accordion .inner-new{padding-left:20px !important}
.accordion .inner .inner{padding-bottom:0}
.accordion .h{padding:10px 33px 10px 15px;cursor:pointer;font-size:16px !important;margin:0 !important}
.repeat-scroller-bg h4,.repeat-scroller-bg h5{font-family:Arial,Helvetica,sans-serif;font-size:13px;margin:15px 0 0 12px !important;font-weight:bold}
#tabs_support h4,#feedback-scroller h4{background:#f8f8f8 url(../images/add-white.png) no-repeat 657px 9px;font-family:Arial,Helvetica,sans-serif}
#tabs_support h4.open{background:#f8f8f8 url(../images/white-sub.png) no-repeat 657px 9px;font-family:Arial,Helvetica,sans-serif;border:1px solid #93b8e6}
#tabs_support h4{font-size:13px;font-weight:bold}
#feedback-scroller h6{background:#f3f3f3 url(../images/add-white.png) no-repeat 927px 9px;font-size:13px;font-weight:bold !important}
#feedback-scroller h6.open{background:#f8f8f8 url(../images/white-sub.png) no-repeat 927px 9px;font-family:Arial,Helvetica,sans-serif;border:1px solid #93b8e6}
#tabs_support h5,#feedback-scroller h5{background:#f3f3f3 url(../images/add-icon.png) no-repeat 958px 9px}
.nav-tabs-new{width:41% !important;margin-left:527px !important;margin-top:-44px !important}
.accordion .hp{background:url(../images/privacy.jpg) no-repeat top;height:40px;display:block}
.accordion .htc{background:url(../images/termscondition.jpg) no-repeat top;height:40px;display:block}
.accordion .hfaq{background:url(../images/faq.jpg) no-repeat top;height:40px;display:block}
.accordion .hcont{background:url(../images/contact.jpg) no-repeat top;height:40px;display:block}
.accordion .hfeed{background:url(../images/feedback.jpg) no-repeat top;height:40px;display:block}
.accordion .hblog{background:url(../images/bloghead.jpg) no-repeat top;height:40px;display:block}
.accordion .hsite{background:url(../images/sitemap.jpg) no-repeat top;height:40px;display:block}
.accordion .h a.innerac{color:#06F;font-weight:bold;font-size:14px;padding:8px 0 8px 0;display:block}
.accordion .h span{padding:8px 0 0 65px;display:block}
.accordion .headingmain{background:url(../images/headingbg.jpg) repeat-x top;display:block;height:37px;font-family:Arial,Helvetica,sans-serif;font-weight:normal;padding:10px 0 0 10px;width:960px}
.accordion p{margin-top:.5em;font-size:13px}
a.trigger{padding:0;background:url(../images/plus.png) no-repeat 98% 70%;font-size:12px;cursor:pointer;font-weight:bold;color:#000}
a.trigger.inhead{color:#000;padding:0 0 0 10px}
a.trigger.open{background:url(../images/minus.png) no-repeat 98% 70%}
.last-child a.trigger{padding-left:1px;background-image:none;font-weight:normal}
#main a.trigger{background-color:#f0f0f0}
#main a.trigger.open{border-color:#dadada;background-color:#e7e7e7}
#main a:hover.trigger.open,#main a:focus.trigger.open,#main a:active.trigger.open{border-color:#bcd}
#side a.active{font-weight:700;color:#f72;text-decoration:none}
.dasbod{border-bottom:#CCC 1px dashed !important}
ul.tems_li{margin:0;padding:0}
ul.tems_li li{margin:0;padding:10px 0}
.accordion .gua{background:url(../images/acc_guarantee_bg.jpg) no-repeat top;height:39px;display:block;width:976px}
.accordion .pin{background:url(../images/acc_pin_bg.jpg) no-repeat top;height:39px;display:block;width:976px}
.accordion .view{background:url(../images/acc_view_bg.jpg) no-repeat top;height:39px;display:block;width:976px}
.accordion .keys{background:url(../images/acc_keys_bg.jpg) no-repeat top;height:39px;display:block;width:976px}
.accordion .autorefill{background:url(../images/acc_autorefill_bg.jpg) no-repeat top;height:39px;display:block;width:976px}
.accordion .follow{background:url(../images/acc_follow_bg.jpg) no-repeat top;height:39px;display:block;width:976px}
.accordion .refer{background:url(../images/acc_refer_bg.jpg) no-repeat top;height:39px;display:block;width:976px}
.accordion .giftcard{background:url(../images/giftcard.jpg) no-repeat top;height:39px;display:block;width:976px}
a.trigger-new{padding:9px 0 0 65px;font-size:18px;font-weight:normal;color:#FFF;font-family:Arial,Helvetica,sans-serif}
.accordion .loaccess{background:url(../images/feedback-n.jpg) no-repeat top;height:40px;display:block}
.accordion .opencomplaint{background:url(../images/sitemap_2.png) no-repeat top;height:40px;display:block}
.accordion .livechat{background:url(../images/feed-live-tab.jpg) no-repeat top;height:39px;display:block}
.rewarcalu{background:url(../images/reward_cal.png) no-repeat top;height:39px;display:block}
.rewardpointp{background:url(../images/rewardpoint.png) no-repeat top;height:40px;display:block}
.accordion .howwork1{background:url(../images/howwork1.png) no-repeat top;height:39px;display:block}
.accordion .howwork2{background:url(../images/howwork2.png) no-repeat top;height:40px;display:block}
.accordion .daial{background:url(../images/dail.jpg) no-repeat top;height:39px;display:block}
.accordion .referafriend{background:url(../images/referafriend.jpg) no-repeat top;height:39px;display:block}
.accordion .securitybg{background:url(../images/securitybg.jpg) no-repeat top;height:39px;display:block}
.accordion .howtousbg{background:url(../images/howtousbg.jpg) no-repeat top;height:39px;display:block}
.accordion .connectionbg{background:url(../images/connectionbg.jpg) no-repeat top;height:39px;display:block}
.accordion .billingbg{background:url(../images/billingbg.jpg) no-repeat top;height:39px;display:block}
.accordion .signupbg{background:url(../images/signupbg.jpg) no-repeat top;height:39px;display:block}
.accordion .featbg{background:url(../images/featbg.jpg) no-repeat top;height:39px;display:block}
.accordion .plansbg{background:url(../images/plansbg.jpg) no-repeat top;height:27px;display:block}
.accordion .accomanagebg{background:url(../images/accomanagebg.jpg) no-repeat top;height:39px;display:block}
.accordion li .trial_list{list-style-type:none;display:block;padding:0;margin:0 0 5px 11px !important;clear:left;width:950px !important}
.web-page{width:96%;float:left;border:0;margin-top:10px;padding-left:25px}
.web-page input{width:200px;float:left;padding:10px !important;border:1px solid #ddd;margin-right:10px;font-weight:bold;font-size:14px;margin-right:51px}
.web-page textarea{width:96%;float:left;border:1px solid #ddd;padding:10px;font-size:16px;font-weight:bold;min-height:100px}
.web-btn{margin:30px 0 0 0 !important;float:left}
.web-page .img-text{float:left;padding:0 10px;margin-left:235px}
.web-page a{float:left;margin:5px 0 0 10px;text-align:center}
.web-page .text-write{width:200px !important;margin-left:0 !important;font-size:14px !important}
.web-page .mid-panal{width:247px;float:left;margin:-14px 10px}
.web-page .selective_web{width:224px;float:left;padding:8px 5px !important;border:1px solid #ddd;margin-right:10px;font-size:14px;margin-right:51px;color:#bebebe}
ul.faq_list{width:100%;margin:0;padding:0}
ul.faq_list li{list-style:circle;margin:0 25px;padding:5px 0}
