body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
	line-height:18px;
}
a{
    color: #2789F0;
}
a:hover{
    color: #000000;
}
.onetofaq {
    background: url(../images/greybg_b.jpg) no-repeat left bottom;
    float: left;
    padding: 0 0 30px;
    width: 970px;
}
.onetofaqinner {
    background: url(../images/bgn.jpg) repeat-y left top;
    float: left;
    margin: 0px 0 0;
    padding: 12px 20px 0;
    width: 931px;
}
.tctextheader{
	font-size: 22px;
    font-weight: normal;
    margin: 0;
    padding: 0px 0 10px 0px;
}
.bgtop{
	background: url(../images/greybg_t.jpg) no-repeat left top;
    float: left;
    margin: 10px 0 0;
    padding: 25px 20px 0;
    width: 931px;
	height:30px;
}