.top_logoff{background:url(../images/logout_button.png) no-repeat left top;width:78px;height:22px;float:left;margin:12px 12px 12px 84px;border:0;cursor:pointer !important}
TR.odd{background-color:#eeeded}
TR.even{background-color:white}
.right_botshadow{background:url(../images/account_shadownew.png) no-repeat left bottom !important;float:left;width:972px;height:33px;margin:0 0 5px 0}
.f2{float:left}
.recharge-left{width:73%;float:left}
.recharge-right{width:20%;float:left}
.grey_Reg{background:#eee;width:97%;float:left;padding:9px 10px;margin:10px 0;font-size:18px}
.pin-big-text{float:left;width:95%;font-size:20px;margin-bottom:10px}
.pln-ul{width:100%;float:left;margin:0;list-style:none;padding:0}
.pln-ul li{width:100%;float:left;font-size:14px;padding:8px}
.pln-ul li input{float:left;cursor:pointer;margin-top:2px !important}
.pln-ul li input:focus{border-color:none !important;box-shadow:none !important;outline:none !important}
.showdiv.div-new{font-size:15px;line-height:19px;background:#f9f9f9;border:1px solid #ddd;padding:10px !important;width:90%;margin-top:8px !important;margin-left:16px !important;float:left;position:relative}
.regComment{color:#a0a0a0;font-size:11px;margin-top:3px;float:left;padding-left:5px;clear:left}
.terms-width{padding-left:15px !important;text-align:center !important;font-size:20px !important}
.Deleteconf{background:url(../images/btnYes.png)no-repeat left top;width:70px !important;height:26px;vertical-align:middle;margin-top:10px;margin-left:65px;color:#000;border:0;padding:0 !important;cursor:pointer;border:none !important}
.Deletecancl{background:url(../images/No-btn.png)no-repeat left top;width:70px !important;height:26px;vertical-align:middle;margin-top:-26px;margin-left:140px;color:#000;border:0;padding:0 !important;cursor:pointer;border:none !important}
.contact-detail-new1{width:274px;float:left}
.drop_left_bg{background:url(../images/drop_left_bg.jpg) repeat-y}
.drop_top_mid_bg{background:url(../images/drop_top_mid_bg.jpg) repeat-x}
.drop_right_bg{background:url(../images/drop_right_bg.jpg) repeat-y}
.drop_bot_mid_bg{background:url(../images/drop_bot_mid_bg.jpg) repeat-x}
.dropdown_account select{width:144px !important}
#backgroundPopup{z-index:999;position:fixed;display:none;height:100%;width:100%;background:#000;top:0;left:0}
#backgroundValidation{z-index:1001;position:fixed;display:none;height:100%;width:100%;background:#000;top:0;left:0}
#toPopup{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;background:none repeat scroll 0 0 #fff;color:#333;display:none;font-size:14px;left:50%;margin-left:-150px;position:fixed;top:180px;width:400px;z-index:9999}
#toPopupforward{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;background:none repeat scroll 0 0 #fff;color:#333;display:none;font-size:14px;left:50%;margin-left:-150px;position:fixed;top:180px;width:274px;z-index:9999}
.contact-detail-new1 h4{font-size:16px;text-align:center}
div.close-confirm{background:url("../images/close.png") no-repeat scroll 0 0 transparent;cursor:pointer;height:23px;position:absolute;right:-9px;top:-2px;width:30px}
div.close-confirm1{background:url("../images/close.png") no-repeat scroll 0 0 transparent;cursor:pointer;height:24px;position:absolute;right:-13px;top:-20px;width:30px}
.contact-detail-new1 h2{font-size:18px !important;text-transform:uppercase;background:#ececec;border-bottom:1px solid #cecece;font-weight:bold;padding:15px 22px 15px;margin-top:-14px;border-radius:5px 5px 0 0;text-align:center}
div#popup_content{margin:4px 7px}
.delete-button-class{background:url("../images/new_delete_icon.png")}
.pinless-status-msg{color:red}
.light-yellow-bg{background-color:yellow}
.unsubscribe_mails{background:url(../images/Unsubscribe.png) no-repeat left top;width:110px !important;height:26px;margin:0 !important;color:#000;border:0;padding:0 !important;cursor:pointer;border:none !important}
.unsubscribe_mails:hover{background:url(../images/Unsubscribe.png) no-repeat left -26px}
.localaccessDefaultTable{font-size:12px;font-weight:bold;border-top:1px solid #bababa;border-right:1px solid #bababa;font-family:Arial,Helvetica,sans-serif;padding-left:10px}
.tool-text_1 p{float:left;font-size:13px !important;background:url(../images/new_check_arrow.png) no-repeat left 6px !important;padding:5px 21px;list-style:none;text-align:left;border:none !important}
.responseMessage{font-size:13px;color:red}
#edit-profile_Recharge_conf{background:url(../images/greybg_t.jpg) no-repeat scroll left top transparent;float:left;margin:10px 0 0;padding:12px 20px 0 20px;width:931px}
#edit-profile_Recharge_conf .left{margin:0;padding:0;width:461px;float:left;border-right:1px solid #ddd}
#edit-profile_Recharge_conf p{margin:9px 0 10px 0;padding:0}
#edit-profile_Recharge_conf .col{color:#fff;font-size:15px;font-weight:bold;font-family:Arial,Helvetica,sans-serif}
#edit-profile_Recharge_conf input{margin:0;padding:8px 10px;border:1px solid #ddd;width:230px;font-size:15px;font-weight:bold}
#edit-profile_Recharge_conf span{margin:0;padding:0;font-size:14px;font-weight:bold}
#edit-profile_Recharge_conf select{margin:0;padding:6px 10px;border:1px solid #ddd;width:251px;font-size:15px;font-weight:bold}
.validation-error-msg{font-size:13px;font-weight:bold;color:red;padding-left:5px;padding-top:5px}
.logo_3{width:327px;float:left;margin:13px 0 0 50px}
.rechargeplan .radioPayPal{margin:5px 5px 0 10px !important;width:auto !important;float:left !important}
.validation-popup-header{float:left;width:400px}
.validation-popup-header h2{font-size:18px !important;text-transform:uppercase;background:#ececec;border-bottom:1px solid #cecece;color:#000;padding:15px 22px 15px;margin-top:-14px;border-radius:5px 5px 0 0;text-align:center}
.loader-block{position:fixed;left:0;top:0;width:100%;height:100%;z-index:9999;overflow:hidden;background:url("../images/loading-new.gif") 50% 50% no-repeat}
#loader-back{display:none;z-index:9998;position:fixed;height:100%;width:100%;top:0;left:0}
.contact-detail-new h2{font-size:18px !important;text-transform:uppercase;background:#ececec;border-bottom:1px solid #cecece;padding:15px 22px 15px;margin-top:-14px;border-radius:5px 5px 0 0;text-align:center;font-weight:bold}
.autorefil-deactive-btn{width:97px !important;font-size:15px;font-weight:bold;text-align:center;color:#fff;padding:0;float:left;height:26px;background:url(../images/de-act-new.png) left top no-repeat}
.autorefil-deactive-btn:hover{color:#fff;background:url(../images/de-act-new.png) left bottom no-repeat;text-shadow:none}
.nothnks{background:url(../images/no-thanks.png) no-repeat left top;width:97px !important;height:26px;margin:0 15px 15px 10px !important;color:#000;border:0;padding:0 !important;float:left;cursor:pointer}
.deactive-btn-red{width:103px;font-size:15px;font-weight:bold;text-align:center;color:#fff;margin:0 !important;padding:0 !important;float:left;height:26px;background:url(../images/deactivate-red.png) left top no-repeat}
.deactive-btn-red:hover{color:#fff;background:url(../images/deactivate-red.png) left bottom no-repeat}
.submit1-gray{background:url(../images/submit-gray-refill.png) no-repeat left top;width:72px !important;height:26px;float:left;margin:0 !important;color:#000;border:0;padding:0 !important;cursor:pointer}
.submit1-gray:hover{background:url(../images/submit-gray-refill.png) no-repeat left bottom;color:#fff;text-shadow:none}
.expandable{width:auto;width:460px;position:absolute;z-index:9999;display:none;left:50%;margin-left:-150px;position:fixed;top:180px}
.expandable td{padding:2px 0 0 0 !important}
.expandable_mid{width:auto !important;float:left}
.validation-error-msg li{list-style-type:disc}
.deleteexpandable{width:400px;position:absolute;z-index:9999;display:none;left:50%;margin-left:-150px;position:fixed;top:180px}
.deleteexpandable td{padding:2px 0 0 0 !important}
.deleteexpandable_mid{width:auto !important;float:left}
.error_phone_12{margin:0;font-family:Arial,Helvetica,sans-serif;font-size:27px;color:#960000;margin:-69px 0 0 148px !important;float:left;padding:18px 108px !important;margin:-11px 0 0 -22px !important}
.yes_btn:hover{background:url(../images/yes_btn.png) no-repeat left bottom}
.yes_btn{width:66px;height:27px;background:url(../images/yes_btn.png) no-repeat left top;float:left;margin:4px 0 8px 94px}
.no_btn{width:66px;height:27px;background:url(../images/no-btn1.png) no-repeat left top;float:left;margin:4px 0 8px 23px}
.no_btn:hover{background:url(../images/no-btn1.png) no-repeat left bottom}
div.loader{background:url("../images/loader1.gif") no-repeat scroll 0 0 transparent;height:32px;width:32px;display:none;z-index:9999;top:40%;left:50%;position:absolute;margin-left:-10px}
.banner_featurescent{background:url(../images/bannerupper_links.png) no-repeat left top;width:90px;height:23px;float:left;position:absolute;z-index:1;margin:290px 0 0 300px}
.expandable1{width:300px;margin-left:100px}
.expandable_mid1{width:auto !important;float:left}
.expandable1 td{padding:2px 0 0 0 !important}
#backgroundPopup1{z-index:999;position:fixed;display:none;height:100%;width:100%;background:#000;top:0;left:0}
.error_phone_2{box-shadow:none !important;color:#960000 !important;float:left !important;font-family:Arial,Helvetica,sans-serif;font-size:14px !important;font-weight:normal !important;margin:-40px 0 0 136px !important}
.error_phone{margin:0;font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#960000;margin:-69px 0 0 120px !important;float:left}
.error_phone_1{margin:0;font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#960000;margin:-51px 0 0 148px !important;float:left}
.expandable_mid2{width:318px;float:left}
#click_error{color:#f05a5a;font-family:Arial,Helvetica,sans-serif;font-size:14px;text-decoration:underline}
#click_error:hover{color:#f05a5a;text-decoration:none}
.logonexpandable{width:300px;margin-left:57px}
.logonexpandable td{padding:2px 0 0 0 !important}
.expandableapply{width:300px;margin-left:280px}
.expandable_mid1{width:auto !important;float:left}
.expandableapply td{padding:2px 0 0 0 !important}
.expandableapply ul li{list-style-type:disc;color:#960000}
.webexpandableapply{width:300px;margin-left:280px}
.expandable_mid1{width:auto !important;float:left}
.webexpandableapply td{padding:2px 0 0 0 !important}
.webexpandableapply ul li{list-style-type:disc;color:#960000}
a.tooltip strong{line-height:30px}
a.tooltip:hover{text-decoration:none}
a.tooltip span{z-index:10;display:none;padding:18px 9px 18px 9px !important;margin-top:-31px !important;margin-left:22px !important;width:250px;border-radius:5px;box-shadow:0 0 9px #c7c7c7;-webkit-box-shadow:0 0 9px #c7c7c7;-moz-box-shadow:0 0 9px #c7c7c7;line-height:14px;font-size:11px;font-weight:normal !important}
a.tooltip:hover span{display:inline;position:absolute;border:1px solid #ccc;color:#000;height:auto !important;background:#fff}
under a.current b,#global_call a.current b,#retail_fill a.current b,#one-touch a.current b,#raza_rewards a.current b,#auto_refill a.current b{background:url(../images/retail_agent_arrow.png) center top no-repeat}
#web-affiliate b.arrow_first,#retail-tabs-under b.arrow_first,#global_call b.arrow_first,#retail_fill b.arrow_first,#one-touch b.arrow_first,#raza_rewards b.arrow_first,#auto_refill b.arrow_first{margin-left:20px}
#web-affiliate b,#retail-tabs-under b,#global_call b,#retail_fill b,#one-touch b,#raza_rewards b,#auto_refill b{position:absolute;width:21px;height:11px;top:38px}
h6.open{background:url(../images/white-sub.png) no-repeat scroll 860px 12px #f3f3f3;border:1px solid #93b8e6}
h4.open{background:url(../images/white-sub.png) no-repeat scroll 860px 12px #f3f3f3;border:1px solid #93b8e6}
.plan_rates_ab1:hover{color:#4242fb}
a:hover{color:#2789f0;text-decoration:none}
.plan_rates_ab1{color:#4242fb;cursor:pointer;font-size:17px;font-weight:bold;padding:3px 8px 3px 7px;top:0;width:89px;z-index:99999;text-decoration:underline}
.retails_class{zoom:1}
.plan_rates_ab{color:#4242fb;cursor:pointer;font-size:17px;font-weight:bold;margin:-146px 0 0 -635px;padding:3px 8px 3px 7px;position:absolute;top:0;width:89px;z-index:99999;text-decoration:underline}
.plan_rates_srch{color:#4242fb;cursor:pointer;font-size:17px;font-weight:bold;padding:3px 8px 3px 7px;margin-left:28px;top:0;width:89px;z-index:99999;text-decoration:underline}
.plan_rates_srch:hover{color:#4242fb}
.plan_rates_ab2{color:#4242fb;cursor:pointer;font-size:17px;font-weight:bold;margin:-146px 0 0 -651px;padding:3px 8px 3px 7px;position:absolute;top:0;width:89px;z-index:99999;text-decoration:underline}
.plan_rates_ab3{color:#4242fb;cursor:pointer;font-size:17px;font-weight:bold;margin:-153px 0 0 -651px;padding:3px 8px 3px 7px;position:absolute;top:0;width:89px;z-index:99999;text-decoration:underline}
.coupon-msg{color:red;font-weight:bold;margin-top:17px !important;margin-right:150px !important}
.chckout-couponmsg{color:red;font-weight:bold;margin-top:20px !important}
.creditcard-status{font-size:13px;margin-left:200px !important;margin-top:84px !important;color:red}
.creditcard-status_tp{font-size:13px;text-align:center !important;color:red}
.loader-sr{position:fixed;left:0;top:0;width:500px;height:500px;z-index:9999;overflow:hidden;background:url("../images/loading-new.gif") 50% 50% no-repeat}

a img { border:0; }
.recommended { width: 950px; height:376px; background:#fff; font-family:Arial; }
.recommended-left { float:left; width: 207px; padding-top:68px; padding-left:168px; }
.recommended-right { float:left; padding-top:144px;  }
.recommended-right h1 { font-size:19px; color:#000; font-weight:normal; margin:0; padding:0 0 12px 0; }
.recommended-right p {  margin:0; padding:0 0 0 36px; }
.recommended-right p span { float:left; display:block; padding-top:10px; padding-right:3px; font-size:17px; color:#000; font-weight:bold;  }
.recommended-right p a { float:left; display:block; }