.jcarousel-skin-tango .jcarousel-container {



	width:729px;



	float:left;



}



.jcarousel-skin-tango .jcarousel-direction-rtl {



}



.jcarousel-skin-tango .jcarousel-container-horizontal {



	width: 200px;



	margin:25px 0 0 0;



	padding:0 0px 0 0px;



}



.jcarousel-skin-tango .jcarousel-container-vertical {



	width: 75px;



	padding: 40px 20px;



}



.jcarousel-skin-tango .jcarousel-clip-horizontal {



	width:  200px;



}



.jcarousel-skin-tango .jcarousel-clip-vertical {



	width:  75px;



	height: 245px;



}



.jcarousel-skin-tango .jcarousel-item {



	width: 219px;



}



.jcarousel-skin-tango .jcarousel-item-horizontal {



	margin-left: 0;



	margin-right: 4px;



}



.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {



	margin-left: 10px;



	margin-right: 0;



}



.jcarousel-skin-tango .jcarousel-item-vertical {



	margin-bottom: 10px;



}



.jcarousel-skin-tango .jcarousel-item-placeholder {



	background: #fff;



	color: #000;



}



/**



 *  Horizontal Buttons



 */



.jcarousel-skin-tango .jcarousel-next-horizontal {



	position: absolute;



	top: 0px;



	right: 0px;



	width: 22px;



	height: 22px;



	cursor: pointer;



	background: transparent url(../images/right_desti_arrow.jpg) no-repeat 0 0;



	margin:420px 65px 0 0px;



}



.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {



	left: 5px;



	right: auto;



	background-image: url(../images/left_desti_arrow.jpg);



}



.jcarousel-skin-tango .jcarousel-next-horizontal:hover {



	background-position: 0px 0;



}



.jcarousel-skin-tango .jcarousel-next-horizontal:active {



	background-position: 0px 0;



}



.jcarousel-skin-tango .jcarousel-next-disabled-horizontal, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {



	cursor: default;



	background-position: -96px 0;



}



.jcarousel-skin-tango .jcarousel-prev-horizontal {



	position: absolute;



	top: 0px;



	left: 5px;



	width: 22px;



	height: 22px;



	cursor: pointer;



	background: transparent url(../images/left_desti_arrow.jpg) no-repeat 0 0;



	margin:420px 0 0 80px;



}



.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {



	left: auto;



	right: 5px;



	background-image: url(../images/right_desti_arrow.jpg);



}



.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {



	background-position: 0px 0;



}



.jcarousel-skin-tango .jcarousel-prev-horizontal:active {



	background-position: 0px 0;



}



.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {



	cursor: default;



	background-position: -96px 0;



}



/**



 *  Vertical Buttons



 */



.jcarousel-skin-tango .jcarousel-next-vertical {



	position: absolute;



	bottom: 5px;



	left: 43px;



	width: 7px;



	height: 10px;



	cursor: pointer;



	background: transparent url(../images/next-vertical.png) no-repeat 0 0;



}



.jcarousel-skin-tango .jcarousel-next-vertical:hover {



	background-position: 0 -32px;



}



.jcarousel-skin-tango .jcarousel-next-vertical:active {



	background-position: 0 -64px;



}



.jcarousel-skin-tango .jcarousel-next-disabled-vertical, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {



	cursor: default;



	background-position: 0 -96px;



}



.jcarousel-skin-tango .jcarousel-prev-vertical {



	position: absolute;



	top: 5px;



	left: 43px;



	width: 32px;



	height: 32px;



	cursor: pointer;



	background: transparent url(../images/prev-vertical.png) no-repeat 0 0;



}



.jcarousel-skin-tango .jcarousel-prev-vertical:hover {



	background-position: 0 -32px;



}



.jcarousel-skin-tango .jcarousel-prev-vertical:active {



	background-position: 0 -64px;



}



.jcarousel-skin-tango .jcarousel-prev-disabled-vertical, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {



	cursor: default;



	background-position: 0 -96px;



}

.search{

	min-width:70px;}

	



















/*#android-bg .jcarousel-container-horizontal {



	width: 188px;



}



#android-bg .jcarousel-clip-horizontal {



	width:  188px;



}



#blackberry-bg .jcarousel-container-horizontal {



	width: 210px!important;



}



#blackberry-bg .jcarousel-clip-horizontal {



	width:  210px;



}



#android-bg .jcarousel-prev-horizontal {



	position: absolute;



	top: 0px;



	left: 5px;



	width: 22px;



	height: 22px;



	cursor: pointer;



	background: transparent url(../images/left_desti_arrow.jpg) no-repeat 0 0;



	margin:420px 0 0 68px!important;



}



#blackberry-bg .jcarousel-prev-horizontal {



	position: absolute;



	top: 0px;



	left: 5px;



	width: 22px;



	height: 22px;



	cursor: pointer;



	background: transparent url(../images/left_desti_arrow.jpg) no-repeat 0 0;



	margin:420px 0 0 90px!important;



}*/





.terms-cond{

	color:#0460F1;

	font-size:14px;

	text-decoration:underline;

}

.terms-cond:hover{

	text-decoration:none;

}

.new-width{

	margin-left:0px!important;

}



.rate-list-text td{

	font-size:14px;	

	padding:10px;

	font-weight:bold;

	border-left:1px solid #ddd!important;

	border-top:1px solid #ddd;

	

}

.rate-list-text td:first-child, .rate-list-text-new td:first-child{

	border-left:none;

}

.rate-list-text .text-big, .rate-list-text .font-big{

	font-size:22px;



	

}

.rate-list-text-new td{

	font-size:11px;

	padding:10px 5px;

	font-weight:bold;

	border-left:1px solid #ddd;

	border-top:1px solid #ddd;

}

.rate-list-text .text-big{

	color:#000;

}

.rate-list-text-new p{

	margin:0!important;

	padding:0 0 0 11px!important;

	background: url(../images/rate-list-arrow.jpg) no-repeat 0 3px;	

	

}

	

.rate-list-text .cross-num{

	text-decoration:line-through;

}

.dark-red{

	color:#cd0000!important;

}

#left_part .now-botton, #left_part .feature-btn{

	width:90px;

	height:27px;

	border:none;

	float:left;

	cursor:pointer;	

	

}



#left_part .callling-btn{

	width:152px!important;

	height:28px;

	right:-136px!important;

	top:26px;

	cursor:pointer;

	border:0;

	position:absolute;

	background: url(../images/dialing_instrucation_sk.png) no-repeat 0 0;	

}





#left_part .now-botton{

	background: url(../images/buy-now-btn.png) no-repeat 0 0;	

	margin:0 0 0 339px;

	width:139px!important;

	height:44px!important;

}

#left_part .now-botton:hover{

	background: url(../images/buy-now-btn.png) no-repeat 0 bottom;

	

}



#left_part .feature-btn{

	background: url(../images/feature-btn.png) no-repeat 0 0;

	width:80px!important;

}

#left_part .feature-btn:hover{

	background: url(../images/feature-btn.png) no-repeat 0 -28px;

}





/*local assess number css start*/

.local-access h3{

	background:#f3f3f3;

	font-size:13px;

	border-bottom:1px solid #ddd;

	padding-bottom:10px;

}

.local-access label {

	width:150px;

	float:left;

	font-size:14px;

	padding-top:11px;

	

}

.local-access input, .local-access select{

	margin-right:20px;

	border:1px solid #ddd;

	padding:7px 10px;

	float:left;

	margin-top:5px;

}

.local-access .text{

		float:left;

		margin-top:10px

}

.local-access input{

	width:80px;

}

.local-access {	

	width:100%;

	float:left;

	margin-bottom:18px;

}

.local-access select{

	width:200px;

}

.local-access td{

	width: 50%;

	font-size:14px;

}

.local-access fieldset {

	border:none;

	width:97%;

	float:left;

}

.local-access .search-btn {

	background: url(../images/search-btn.png) no-repeat 0 0;

	width:99px;

	float:right;

	margin-top:5px;

	height:30px;

	border:none!important;

	cursor:pointer;

	

}

.local-access .search-btn:hover {

	background: url(../images/search-btn.png) no-repeat 0 bottom;

	

}

.local-access td{

	padding:8px 10px;

	width:49%!important;

	border-bottom:1px solid #ddd;

}



.local-access .border-top{

	border-top:1px solid #ddd;

}

.repeat-scroller-bg .addopen{

	color:#699FF7;

	background:#f3f3f3 url(../images/add-icon-hov.png) no-repeat 666px 9px!important;

	

}
.repeat-scroller-bg .addopen-new{
	color:#699FF7;
	background:#f3f3f3 url(../images/add-icon-hov.png) no-repeat 958px 9px!important;

}

.click-chat-btn{

	background: url(../images/click-to-chat-btn.png) no-repeat left top;

	width:140px;

	height:32px;

	float:left;

	margin-top:9px;

	margin-left:20px;

}





.style1 {

	font-weight:normal;

	font-size:12px!important;

}

.black{

	color:#000!important;

}



.right-new{

	margin-left:41px!important;



}

.amout-refill {

	float:left;

	width:150px;

	margin-left:150px;

	font-size:15px;

	font-weight:bold;

}

.agree-text{

	margin-left:100px!important;

	width:217px;!important

	

}

.box-check {

	float:left;

	margin-left:10px;

}

.add-new-bot{

	width:928px;

	float:left;

	height:31px;

	padding-top:115px;

	background: url(../images/auto_banner_recharge.png) no-repeat left top;

}

.sele_rei {

	margin-top:-7px!important;

	border:1px solid #ddd!important;

}

.five_thousand{

	color:#C00000!important;

	font-size:23px;}

	

.new-member{

	width:354px!important}

.margin-10r{	

	margin-right:10px!important;

}



.rate-css td{

	font-size:18px!important;

	font-weight:bold;

	color:#cd0000!important;

	padding:10px!important;

	border-top:1px solid #ddd;

}

.rate-css td:first-child{

	border-left:none;

}

.mar_right{

	margin-left:196px;

	margin-top:12px;

	font-style:italic;

	color:#666;

	font-size:12px!important;

}

.rate_font{

	font-size:55px!important;

}

.rate_font_2{

	font-size:20px!important;

}





