@charset "utf-8";
/* CSS Document */
html,ol,ul,li,a,p,h1,h2,h3{padding:0; margin:0;}
body{padding:0; margin:0; font-family: Tahoma,Geneva,Kalimati,sans-serif; font-weight: 400; background:url(../images/promotion_image/selfiecontest/banner_bg.jpg) no-repeat top center #40210f; }
img{border:0; outline:0;}
a{outline:0;}
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;}
.wrapper{width:1100px; height:880px; margin:0 auto;  position:relative;}
.triangle{position: absolute; top: 70px; left: 287px;}
.logo{position:absolute; top:200px; left:450px;}
.family{position:absolute; top:70px; left:20px;}
.faq{position:absolute; top:755px; left:170px;}
.opportunity{position: absolute; top: 80px; left: 290px;}
.opportunity h3{color: #fff; font-size: 18.05px;font-weight: bold;line-height: 24px;text-align: center;text-transform: uppercase;}
.contest{position: absolute; top: 255px; left: 370px;}
.contest h3{font-size: 20.50px;  line-height: 24px; color: #fff; text-align: center; text-transform: uppercase; font-weight: bold;}
.app_box{top:420px; left: 405px; position: absolute;}
.app_box h3{text-align: center; font-size:20px;  font-weight: bold; color: #000000;}
.star_plus{position: absolute; left: 490px; top: 510px;}
.mobile{text-align:center; margin-top: 28px;}
.app_sites{margin-top: 8px;}
.itune{position: relative; left: 40px;}
.play_store{margin-top: 10px; position:relative; left:60px; top: -9px;}
.minutes{margin-top: 35px;}
.subscribe{width: 360px; padding: 25px; background-color: #271511; float: right; margin: 30px 0; position:relative;}
.video{border:1px solid #564845; width:311px; background-color: #000000; margin-bottom: 20px; min-height:175px;}
.video > img{width: 100%; height: 100%;}
.subscribe h3{font-size: 16px; font-weight: 400; color: #fff; margin-bottom: 10px;}
.movie{background-color: #fff; padding: 15px 0 15px 10px; display: block; float: left; width: 100%;}
.movie h3{font-size: 16px; color: #000000;}
.movie_list{padding: 0; margin-left:-3px;}
.movie_list li{list-style: none; font-size:15px; float: left; margin-right: 10px; color: #000; font-weight: 400; margin-bottom: 3px;}
.upload_box{background-color: #fff; position:relative; margin-top: 20px; height: 38px; padding: 9px; width: 225px; float: left;} 
.upload_txt{font-size: 16px; color: #000; font-weight: 400;}
.brows a{float: right; padding: 3px 8px; background-color: #3b3b3b; margin-top: -3px; font-size: 15px; text-align: center; color: #fff; text-decoration: none;}
.command { border: medium none; border-radius: 0; box-shadow: none;  color: #000000; float: right; font-size: 15px; height: 41px; font-weight: 400; cursor: pointer;  margin-top: 18px; background: url(../images/command.png) no-repeat; display: block; width: 77px;}
.command:focus{outline: none;}
.image_type{font-size: 10px; color: #aba7a6; margin-top: 4px; margin-bottom: 15px;}
.clear{padding: 0; margin: 0; clear: both;}
.client_name{background-color: #fff;  padding: 10px; height: 38px; color: #000000; font-size: 16px; font-weight: 400;  width: 100%; border:none; margin-bottom: 18px;}
.enquiry{text-align: center;}
.success_but{margin-top:-6px; cursor: pointer; background-color: #170c09; border:1px solid #684f49 !important; color: #fff; font-size: 14px; font-weight: 400; padding:8px 15px; border:none;}
.success_but:hover{ background:#351c15;}
.success_but:focus{outline: none;}
.terms{float: left; margin-right: 8px; margin-top: 0;}
.terms_txt{font-size: 12px; color: #fff;}
.terms_txt a{color: #fff;}
.terms_txt a:hover{text-decoration:none;}
.condition{margin-top: 10px;}
.copy_right{position: absolute; top:840px; width: 100%; text-align: center;}
.shadow{ width: 399px; height: 87px; background: url(../images/shadow.png) no-repeat; float: left; position: absolute; bottom:-87px; left:-28px;}
.loader {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url('../images/Preloader_71.gif') 50% 50% no-repeat rgba(0,0,0,0.8);}

.brows {position: absolute;right: 10px;}