@{
    ViewBag.Title = "Confirmation";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center sub_titile"><i class="fa fa-check-circle confirm_check"></i>
                </h3>
                <div class="border_line"></div>
                <h3 class="text-center sub_titile">Your order is Confirmed !!</h3>
                <p>Please call the customer service to activate your newly registered account.</p>
                <div class="border_line"></div>
                <p class="text-center">Thank you for your business with Raza.com Keep talking !!</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <h4>Dialing Instructions :</h4>
        <div class="inst_box">
            <div class="row">
                <div class="col-xs-12">
                    <h5>1. Dial Raza Access Number</h5>
                    <h5>2. Dial 011 + the Country Code + the
                        Phone Number followed by #.</h5>
                    <p>
                        (To call from Europe, dial 00 + the Country
                        Code + the Phone Number followed by #.)
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid bline">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-xs-8">
                <h4>Don’t have an Access Number ?</h4>
            </div>
            <div class="col-sm-2 col-xs-4">
                <a class="btn recharge_buy" href="@Url.Action("LocalAccessNumber","Support")">Click Here</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <p>
                    <b>Disclaimer :</b> Choosing an access number is
                    completely customers responsibility, please make
                    sure that the number you are going to dial is free
                    or local for you. We advice you to call your phone
                    service provider before using our local access
                    number. Raza.com will not reimburse for any
                    charges from your phone service provider against
                    using our access number.
                </p>
                <p>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h4>Reach Us Anytime 24X7, 365 Days..!!</h4>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="col-sm-12 col-xs-12 table-bordered form_mar">
                    <p class="rates_mar text-center">U.S.A Toll Free : 1-877-463-4233</p>
                </div>
                <div class="col-sm-12 col-xs-12 table-bordered form_mar">
                    <p class="rates_mar text-center">CANADA Toll Free :1-800-550-3501</p>
                </div>
                <div class="col-sm-12 col-xs-12 table-bordered form_mar">
                    <p class="rates_mar text-center">UK Toll-Free : 1-877.463.4233</p>
                </div>  
                <div class="col-sm-12 col-xs-12 table-bordered form_mar">
                    <p class="rates_mar text-center">Chicago Local : 1-773-792-8150</p>
                </div>
                <div class="col-sm-12 col-xs-12 table-bordered form_mar">
                    <p class="rates_mar text-center">UK London : + 44 207-100-3090</p>
                </div>
                
            </div>
            <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 recharge_buy form_mar">
                <a href="javascript:void();" onclick="openChatWindow();">
                    <h4 class="text_color text-center">Live Chat<span class=" comment fa fa-comments"></span></h4>
                </a>
            </div>
        </div>
    </div>
</div>


