@{
    ViewBag.Title = "TopUpSuccessfull";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center sub_titile"><i class="fa fa-check-circle confirm_check"></i>
                </h3>
                <div class="border_line"></div>
                <h3 class="text-center sub_titile">Top Up Successfull !!</h3>
                <div class="border_line"></div>
                <p class="text-center">Thank you for your business with Raza.com Keep talking !!</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h4 class="text-center">Reach Us Anytime 24X7, 365 Days..!!</h4>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 table-bordered form_mar">
                    <p class="rates_mar text-center">U.S.A Toll Free : 1-877-463-4233</p>
                </div>
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 table-bordered form_mar">
                    <p class="rates_mar text-center">CANADA Toll Free :1-800-550-3501</p>
                </div>
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 table-bordered form_mar">
                    <p class="rates_mar text-center">Chicago Local : 1-773-792-8150</p>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 recharge_buy form_mar">
                <a href="javascript:void();" onclick="openChatWindow();">
                    <h4 class="text_color text-center">Live Chat<span class=" comment fa fa-comments"></span></h4>
                </a>
            </div>
        </div>
    </div>
</div>

