@{
    ViewBag.Title = "Tryus Free Faq";
}


<div class="container-fluid ">
    <div class="container">
        <h1 class=" title_login">FAQ's - Free Trial Offer </h1>
        <div class="row">
            <div class="col-xs-12">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid ">
    <div class="bwl_acc_container" id="accordion_8">
        <!-- end .bwl_acc_container -->

        <div class="search_result_container"></div>
        <!-- end .search_result_container -->

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">What is a free Trial Offer?</a>
            </h2>
            <div class="acc_container" style="display: none;">
                <div class="block" style="opacity: 0;">
                    <h4></h4>
                    <p>Get up to 100 Minutes to over 25 different countries! New customers can Sign-up today to experience quality long-distance service that only Raza.com can offer. There are no restrictions, taxes or hidden fees. Call any body, anywhere, any time.</p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">How many FREE minutes will I get to the country I am calling?</a>
            </h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>COUNTRY</th>
                                        <th>MIN.</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <!--first row-->
                                    <tr>
                                        <td>Afghanistan</td>
                                        <td>10 </td>
                                    </tr>
                                    <tr>
                                        <td>Bangladesh</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Bulgaria</td>
                                        <td>60</td>
                                    </tr>
                                    <tr>
                                        <td>Canada</td>
                                        <td>104</td>
                                    </tr>
                                    <tr>
                                        <td>China</td>
                                        <td>103</td>
                                    </tr>
                                    <tr>
                                        <td>Egypt</td>
                                        <td>13</td>
                                    </tr>
                                    <tr>
                                        <td>Ghana</td>
                                        <td>15</td>
                                    </tr>
                                    <tr>
                                        <td>India</td>
                                        <td>100</td>
                                    </tr>
                                    <tr>
                                        <td>Indonesia</td>
                                        <td>24</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>COUNTRY</th>
                                        <th>MIN.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--second row-->
                                    <tr>
                                        <td>Japan</td>
                                        <td>82 </td>
                                    </tr>
                                    <tr>
                                        <td>Jordan</td>
                                        <td>60</td>
                                    </tr>
                                    <tr>
                                        <td>Lithuania</td>
                                        <td>45</td>
                                    </tr>
                                    <tr>
                                        <td>Mexico</td>
                                        <td>25</td>
                                    </tr>
                                    <tr>
                                        <td>Nepal</td>
                                        <td>30</td>
                                    </tr>
                                    <tr>
                                        <td>Nigeria</td>
                                        <td>20</td>
                                    </tr>
                                    <tr>
                                        <td>Oman</td>
                                        <td>12</td>
                                    </tr>
                                    <tr>
                                        <td>Pakistan</td>
                                        <td>30</td>
                                    </tr>
                                    <tr>
                                        <td>Philippines</td>
                                        <td>20</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>COUNTRY</th>
                                        <th>MIN.</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <!--third row-->

                                    <tr>
                                        <td>Poland</td>
                                        <td>113 </td>
                                    </tr>
                                    <tr>
                                        <td>Qatar</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Saudi Arabia</td>
                                        <td>20</td>
                                    </tr>
                                    <tr>
                                        <td>South Korea</td>
                                        <td>70</td>
                                    </tr>
                                    <tr>
                                        <td>Sri Lanka</td>
                                        <td>30</td>
                                    </tr>
                                    <tr>
                                        <td>Ukraine</td>
                                        <td>20</td>
                                    </tr>
                                    <tr>
                                        <td>United Arab Emirates</td>
                                        <td>12</td>
                                    </tr>
                                    <tr>
                                        <td>United Kingdom</td>
                                        <td>30</td>
                                    </tr>
                                    <tr>
                                        <td>United States</td>
                                        <td>103</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">Do I have to make any purchase in order to get this free trial offer?</a>
            </h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <p>
                        <strong>NO!</strong> purchase is necessary to get the free trial offer.
                    </p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">After I have used Free Trial offer, will I be able to recharge the same plan/account?</a>
            </h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <p>
                        <strong>YES!</strong> You will be able to recharge the free trial offer online or by calling our 24/7 customer service.
                    </p>

                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">What will be per minute rate after the Free trial offer?</a>
            </h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <h4></h4>
                    <p>Visit our home page at www.raza.com and select the calling from and calling to countries for our regular rates.</p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">Is this Free trial offer for New customers only?</a>
            </h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <p>
                        <strong>YES!</strong> This offer is for New customers only.
                    </p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">Is this Free trial offer available ONLINE only?</a>
            </h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <p>
                        <strong>YES!</strong> This offer is valid only ONLINE.
                    </p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">Is there any coupon code for the offer?</a>
            </h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <p>
                        <strong>NO!</strong> There is no coupon code required for this offer.
                    </p>

                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">Can we view our call details?</a>
            </h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">

                    <p>
                        <strong>YES!</strong> You can view call details online.
                    </p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">Is the Free trial offer for USA, Canada and UK customers?</a>
            </h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <p>
                        <strong>YES!</strong> The trial offer is available for new customers in the U.S., Canada and the U.K.
                    </p>
                </div>
            </div>
        </section>

        <section>
            <h2 class="acc_title_bar default-title-bar"><a href="#">When are free minutes effective?</a>
            </h2>
            <div class="acc_container" style="">
                <div class="block" style="opacity: 0;">
                    <p>As soon as you sign-up, you account will be activated, and you can enjoy Free Trial offer.</p>
                </div>
            </div>
        </section>





    </div>
</div>


