@{
    ViewBag.Title = "Index";
}

<img class="img-responsive" src="@Url.Content("~/Content/MobileTheme/images/search_rates.jpg")">
<div class="container-fluid">
    <div class="container demo">
        <h1 class="title_sam">Search Lowest Rates</h1>
        @{Html.RenderAction("HomeSearchBox", "UiControls");}
    </div>
</div>


@section scripts{
    <script>

        //$("#CallingFrom").change(function () {
        //    alert("hi");
        //});

        var dropSearch = $("#callingto-search");
        var rateperSign = " ¢/min";
        var rateSearchUrl = '@Url.Action("Index", "Rate")';
        dropSearch.dropdown(
        {
            onChange: function(value, text, $selectedItem) {
                var callingfrom = $("#CallingFrom option:selected").val();
                if (callingfrom == undefined)
                    return;

                rateSearchUrl = '@Url.Action("SearchRate", "Rate")' + '?countryfrom=' + callingfrom + '&countryto=' + value;
                if (callingfrom == 3) {
                    rateperSign = " p/min";
                } else {
                    rateperSign= " ¢/min";
                }
                //if (callingfrom == 1) {
                //    SplitRates($selectedItem.data("us"));
                //} else if (callingfrom == 2) {
                //    SplitRates($selectedItem.data("canada"));
                //} else if (callingfrom == 3) {
                //    rateperSign = " p/min";
                //    SplitRates($selectedItem.data("uk"));
                //} else {
                //    GetRateFromServer(callingfrom, value);
                //}
                GetRateFromServer(callingfrom, value);
                $("#rateViewRow").slideDown();
            }
        });

        function GetRateFromServer(callingfrom, callingto) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetLowestRate", "Account")',
                data: {
                    callingFrom: callingfrom,
                    callingTo: callingto
                },
                success: function(res) {
                    UpdateLowestRate(res.MobileRate, res.LandLineRate);
                }
            });
        }

        function SplitRates(data) {
            var mobile = data.split('~')[0];
            var landline = data.split('~')[1];
            UpdateLowestRate(mobile, landline);
        }

        function UpdateLowestRate(mobileRate, landlineRate) {
            $("#mobileLowestRate").text(mobileRate + rateperSign);
            $("#landlineLowestRate").text(landlineRate + rateperSign);
        }

        $("#btn-lowest-RateSearch").click(function() {
            debugger;
            window.location.href = rateSearchUrl;
        });
    </script>
}