@{
    ViewBag.Title = "IndiaOneCent";
}

<div class="container-fluid onecent_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h1 class="user-title text-center">CALL INDIA 1¢ only</h1>
                <h3 class="text-center">Choose from three incredible plans </h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container tab_container">
        <div class="row">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                        <h2 class="text-center">1¢</h2>
                        <p class="text-center text_size">Per Mintute</p>
                        <h5 class="text-center ptext_size">Land Line &amp; Mobiles</h5>
                    </a></li>
                    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                        <h2 class="text-center">1¢</h2>
                        <p class="text-center text_size">Per Mintute</p>
                        <h5 class="text-center ptext_size">Talk Mobile</h5>
                    </a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                        <h2 class="text-center">1.2¢</h2>
                        <p class="text-center text_size">Per Mintute</p>
                        <h5 class="text-center ptext_size">Major Cities</h5>
                    </a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="home">
                        <div class=" container-fluid">
                            <div class="row">
                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class="call_icon pull-left"></div>
                                    <p class="indicon_pad">Call Any</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <div class="phone_icon pull-left"></div>
                                    <div class="mobile_icon pull-right"></div>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class="crystal_icon pull-left"></div>
                                    <p class="indicon_pad">Crystal Clear Connections </p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class=" onetouch_icon pull-left"></div>
                                    <p class="indicon_pad">One Touch Dial</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class="service_icon pull-left"></div>
                                    <p class="indicon_pad">Service Fees </p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="indtotal_pad text-center">$4.99</h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class="daily_icon pull-left"></div>
                                    <p class="indicon_pad">No Daily Limit</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class=" nocontact_icon pull-left"></div>
                                    <p class="indicon_pad">No Contract</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class=" nointernet_icon pull-left"></div>
                                    <p class="indicon_pad">No Internet </p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class=" autorefill_icon pull-left"></div>
                                    <p class="indicon_pad">Auto Refill</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-6 col-sm-9 col-md-10 profile para_pad">
                                    <div class=" nocontact_icon pull-left"></div>
                                    <p class="indicon_pad">Expiration</p>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 profile para_pad india_pad">
                                    <h4 class="indtotal_pad text-center ">No Exp. Date</h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class=" pinless_icon pull-left"></div>
                                    <p class="indicon_pad">Pinless Setup</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-8 col-sm-10 col-md-10 profile para_pad india_pad">
                                    <div class="total_icon pull-left"></div>
                                    <h4 class="indtotalo_pad indicon_pad">Total Charge</h4>
                                </div>
                                <div class="col-xs-4 col-sm-2 col-md-2 profile para_pad india_pad ">
                                    <h4 class="sub_titile indtotal_pad ">$19.99</h4>
                                </div>

                                <div class="col-xs-7 col-sm-10 col-md-10 profile para_pad india_pad">
                                    <div class=" minutes_icon pull-left"></div>
                                    <h4 class="indtotalo_pad indicon_pad">Total Minutes</h4>
                                </div>
                                <div class="col-xs-5 col-sm-2 col-md-2 profile para_pad india_pad ">
                                    <h4 class="sub_titile indtotal_pad ">1500 Min</h4>
                                </div>
                            </div>
                            <div class="row">
                                @using (Html.BeginForm("IndiaOneCent", "Rate", FormMethod.Post))
                                {
                                    @Html.Hidden("PlanType", "IO1")
                                    <div class="col-sm-12 col-xs-12 form_mar">
                                        <button type="submit" class="btn btn-primary btn-block form_mar btn_bgreen">Buy</button>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="profile">
                        <div class=" container-fluid">
                            <div class="row">
                                <div class="col-xs-10 col-sm-11 col-md-11 profile para_pad">
                                    <div class="call_icon pull-left"></div>
                                    <p class="indicon_pad">Call Any</p>
                                </div>
                                <div class="col-xs-2 col-sm-1 col-md-1 profile para_pad india_pad">
                                    <div class="mobile_icon "></div>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class="crystal_icon pull-left"></div>
                                    <p class="indicon_pad">Crystal Clear Connections </p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class=" onetouch_icon pull-left"></div>
                                    <p class="indicon_pad">One Touch Dial</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class="service_icon pull-left"></div>
                                    <p class="indicon_pad">Service Fees </p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="indtotal_pad text-center">$2.99</h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class="daily_icon pull-left"></div>
                                    <p class="indicon_pad">No Daily Limit</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class=" nocontact_icon pull-left"></div>
                                    <p class="indicon_pad">No Contract</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class=" nointernet_icon pull-left"></div>
                                    <p class="indicon_pad">No Internet </p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class=" autorefill_icon pull-left"></div>
                                    <p class="indicon_pad">Auto Refill</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-6 col-sm-9 col-md-10 profile para_pad">
                                    <div class=" nocontact_icon pull-left"></div>
                                    <p class="indicon_pad">Expiration</p>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 profile para_pad india_pad">
                                    <h4 class="indtotal_pad text-center ">No Exp. Date</h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class=" pinless_icon pull-left"></div>
                                    <p class="indicon_pad">Pinless Setup</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-8 col-sm-10 col-md-10 profile para_pad india_pad">
                                    <div class="total_icon pull-left"></div>
                                    <h4 class="indtotalo_pad indicon_pad">Total Charge</h4>
                                </div>
                                <div class="col-xs-4 col-sm-2 col-md-2 profile para_pad india_pad ">
                                    <h4 class="sub_titile indtotal_pad ">$12.99</h4>
                                </div>

                                <div class="col-xs-7 col-sm-10 col-md-10 profile para_pad india_pad">
                                    <div class=" minutes_icon pull-left"></div>
                                    <h4 class="indtotalo_pad indicon_pad">Total Minutes</h4>
                                </div>
                                <div class="col-xs-5 col-sm-2 col-md-2 profile para_pad india_pad ">
                                @if (Session["CountrybyIp"] == null)
                                {
                                    <h4 class="sub_titile indtotal_pad ">1000 Min</h4>
                                }
                                else
                                {
                                    if (Convert.ToInt16(Session["CountrybyIp"]) == 2)
                                    {
                                        <h4 class="sub_titile indtotal_pad ">800 Min</h4>
                                    }
                                    else
                                    {
                                        <h4 class="sub_titile indtotal_pad ">1000 Min</h4> 
                                    }

                                }
                                </div>
                            </div>
                            <div class="row">
                                @using (Html.BeginForm("IndiaOneCent", "Rate", FormMethod.Post))
                                {
                                    @Html.Hidden("PlanType", "IO2")
                                    <div class="col-sm-12 col-xs-12 form_mar">
                                        <button type="submit" class="btn btn-primary btn-block form_mar btn_bgreen">Buy</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <div class=" container-fluid">
                            <div class="row">
                                <div class="col-xs-10 col-sm-11 col-md-11 profile para_pad">
                                    <div class="call_icon pull-left"></div>
                                    <p class="indicon_pad">Call Any</p>
                                </div>
                                <div class="col-xs-2 col-sm-1 col-md-1 profile para_pad india_pad">
                                    <div class="phone_icon"></div>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class="crystal_icon pull-left"></div>
                                    <p class="indicon_pad">Crystal Clear Connections </p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class=" onetouch_icon pull-left"></div>
                                    <p class="indicon_pad">One Touch Dial</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class="service_icon pull-left"></div>
                                    <p class="indicon_pad">Service Fees </p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="indtotal_pad text-center">$2.99</h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class="daily_icon pull-left"></div>
                                    <p class="indicon_pad">No Daily Limit</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class=" nocontact_icon pull-left"></div>
                                    <p class="indicon_pad">No Contract</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class=" nointernet_icon pull-left"></div>
                                    <p class="indicon_pad">No Internet </p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class=" autorefill_icon pull-left"></div>
                                    <p class="indicon_pad">Auto Refill</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-6 col-sm-9 col-md-10 profile para_pad">
                                    <div class=" nocontact_icon pull-left"></div>
                                    <p class="indicon_pad">Expiration</p>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 profile para_pad india_pad">
                                    <h4 class="indtotal_pad text-center ">No Exp. Date</h4>
                                </div>

                                <div class="col-xs-9 col-sm-10 col-md-10 profile para_pad">
                                    <div class=" pinless_icon pull-left"></div>
                                    <p class="indicon_pad">Pinless Setup</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 col-md-2 profile para_pad india_pad">
                                    <h4 class="sub_titile indtotal_pad "><i class="fa fa-check"></i></h4>
                                </div>

                                <div class="col-xs-8 col-sm-10 col-md-10 profile para_pad india_pad">
                                    <div class="total_icon pull-left"></div>
                                    <h4 class="indtotalo_pad indicon_pad">Total Charge</h4>
                                </div>
                                <div class="col-xs-4 col-sm-2 col-md-2 profile para_pad india_pad ">
                                    <h4 class="sub_titile indtotal_pad ">$12.99</h4>
                                </div>

                                <div class="col-xs-7 col-sm-10 col-md-10 profile para_pad india_pad">
                                    <div class=" minutes_icon pull-left"></div>
                                    <h4 class="indtotalo_pad indicon_pad">Total Minutes</h4>
                                </div>
                                <div class="col-xs-5 col-sm-2 col-md-2 profile para_pad india_pad ">
                                    <h4 class="sub_titile indtotal_pad ">850 Min</h4>
                                </div>
                            </div>
                            <div class="row">
                                @using (Html.BeginForm("IndiaOneCent", "Rate", FormMethod.Post))
                                {
                                    @Html.Hidden("PlanType", "IO3")
                                    <div class="col-sm-12 col-xs-12 form_mar">
                                        <button type="submit" class="btn btn-primary btn-block form_mar btn_bgreen">Buy</button>
                                    </div>
                                }
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 form_mar">
                <h3>Plan Details </h3>
                <p>Choose from the above three plans to call India Mobiles and Landlines. You can make calls to anywhere in the world using these plans; however rates will vary. To avail this plan it is necessary to enroll in our auto-refill feature (recharges automatically when your balance falls below $2). Auto Refill bonus and Raza Rewards are not eligible for these plans. Speed dialing feature is not available for Talk Mobile and Talk City plans. Call details are not available under 1cent to call both landlines and mobiles plan. There is no refund policy for any of these plans. Toll free number users will be charged 2 c/min additional. </p>
                <p>Raza.com reserves the rights to withdraw or alter 1cent plans at any time without prior notice. </p>
            </div>
        </div>
    </div>
</div>

