<div class="col-xs-12 search_scroll">
    <ul class="list-inline list-unstyled profile ">
        <li class="ac_number">( Global Toll Free )</li>
        <li class="">00-80090980844</li>
    </ul>
    <ul class="list-inline list-unstyled profile ">
        <li class="ac_number">PLOVDIV</li>
        <li class="">35932570115</li>
    </ul>
    <ul class="list-inline list-unstyled profile ">
        <li class="ac_number">SOFIA</li>
        <li class="">35924917078</li>
    </ul>
    <ul class="list-inline list-unstyled profile ">
        <li class="ac_number">VARNA</li>
        <li class="">35952919522</li>
    </ul>
</div>
