@model MvcApplication1.Areas.Mobile.ViewModels.LocalAccessNumberViewModel
<div class="col-xs-12 search_scroll">

    @if (Model.AccessCountry == "3")
    {
        <div class="row profile ">
            <div class="col-xs-6">
                <p>( Toll free ) </p>
            </div>
            <div class="col-xs-6">
                <p>08081013381</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>( Global Toll Free ) </p>
            </div>
            <div class="col-xs-6">
                <p>00-80090980844</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>Belfast</p>
            </div>
            <div class="col-xs-6">
                <p>2891898638</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>Birmingham</p>
            </div>
            <div class="col-xs-6">
                <p>1213145767</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>Bristol</p>
            </div>
            <div class="col-xs-6">
                <p>1179114113</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>Glasgow</p>
            </div>
            <div class="col-xs-6">
                <p>1415308388</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>Leeds</p>
            </div>
            <div class="col-xs-6">
                <p>1133508174</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>Liverpool</p>
            </div>
            <div class="col-xs-6">
                <p>1519098242</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>London(207)</p>
            </div>
            <div class="col-xs-6">
                <p>2071007058</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>London(208)</p>
            </div>
            <div class="col-xs-6">
                <p>2080995711</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>Manchester</p>
            </div>
            <div class="col-xs-6">
                <p>1616605722</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>NewCastle</p>
            </div>
            <div class="col-xs-6">
                <p>1914328103</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>Nottingham</p>
            </div>
            <div class="col-xs-6">
                <p>1158712148</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>Sheffield</p>
            </div>
            <div class="col-xs-6">
                <p>1142998471</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>Toll Free - Pin-less</p>
            </div>
            <div class="col-xs-6">
                <p>448000488955</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>With-pin Access</p>
            </div>
            <div class="col-xs-6">
                <p>448000488956</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>Customer Service ( London 207)</p>
            </div>
            <div class="col-xs-6">
                <p>2071003090</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>Customer Service ( Toll Free )</p>
            </div>
            <div class="col-xs-6">
                <p>448005200329</p>
            </div>
        </div>
    }
    else if (Model.AccessCountry == "9")
    {
        <!--===============================================================BELGIUM=======================================================-->
        <div class="row profile ">
            <div class="col-xs-6">
                <p>landline</p>
            </div>
            <div class="col-xs-6">
                <p>8003201111</p>
            </div>
        </div>
                 
        <div class="row profile ">
            <div class="col-xs-6">
                <p>( Toll free )</p>
            </div>
            <div class="col-xs-6">
                <p>080076385</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>mobile </p>
            </div>
            <div class="col-xs-6">
                <p>8003202222</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>payphone</p>
            </div>
            <div class="col-xs-6">
                <p>8003203333</p>
            </div>
        </div>      
        <!--===============================================================BELGIUM=======================================================-->
    }
    else if (Model.AccessCountry == "10")
    {
        <!--===============================================================BULGARIA=======================================================-->
        <div class="row profile ">
            <div class="col-xs-6">
                <p>( Global Toll Free ) </p>
            </div>
            <div class="col-xs-6">
                <p>00-80090980844</p>
            </div>
        </div>

        <div class="row profile ">
            <div class="col-xs-6">
                <p>PLOVDIV</p>
            </div>
            <div class="col-xs-6">
                <p>35932570115 </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>SOFIA</p>
            </div>
            <div class="col-xs-6">
                <p>35924917078</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>VARNA</p>
            </div>
            <div class="col-xs-6">
                <p>35952919522</p>
            </div>
        </div>
        <!--===============================================================BULGARIA=======================================================-->
    }
    else if (Model.AccessCountry == "27")
    {
        <!--===============================================================CRECH REPUBLIC=======================================================-->
        <div class="row profile ">
            <div class="col-xs-6">
                <p>Brno</p>
            </div>
            <div class="col-xs-6">
                <p>420539053130</p>
            </div>
        </div>

        <div class="row profile ">
            <div class="col-xs-6">
                <p>LIBEREC</p>
            </div>
            <div class="col-xs-6">
                <p>420487359110 </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>Ostrava</p>
            </div>
            <div class="col-xs-6">
                <p>420558115130</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>PLZEN</p>
            </div>
            <div class="col-xs-6">
                <p>420378600130</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>PRAGUE</p>
            </div>
            <div class="col-xs-6">
                <p>420246019321</p>
            </div>
        </div>
        <!--===============================================================CRECH REPUBLIC=======================================================-->
    }
    else if (Model.AccessCountry == "11")
    {
        <!--===============================================================DENMARK=======================================================-->
        <div class="row profile ">
            <div class="col-xs-6">
                <p>( Toll free ) </p>
            </div>
            <div class="col-xs-6">
                <p>80889804</p>
            </div>
        </div>
                 
        <div class="row profile ">
            <div class="col-xs-6">
                <p>landline</p>
            </div>
            <div class="col-xs-6">
                <p>8004501111 </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>mobile</p>
            </div>
            <div class="col-xs-6">
                <p>8004502222</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>payphone</p>
            </div>
            <div class="col-xs-6">
                <p>8004503333</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>( Global Toll Free ) </p>
            </div>
            <div class="col-xs-6">
                <p>00-80090980844 </p>
            </div>
        </div>    
        <!--===============================================================DENMARK=======================================================-->
    }
    else if (Model.AccessCountry == "12")
    {
        <!--===============================================================FRANCE=======================================================-->
        <div class="row profile ">
            <div class="col-xs-6">
                <p>( Toll free ) </p>
            </div>
            <div class="col-xs-6">
                <p>0800902636</p>
            </div>
        </div>
                 
        <div class="row profile ">
            <div class="col-xs-6">
                <p>( Global Toll Free )</p>
            </div>
            <div class="col-xs-6">
                <p>00-80090980844 </p>
            </div>
        </div>
        <!--===============================================================FRANCE=======================================================-->
    }
    else if (Model.AccessCountry == "13")
    {
        <!--===============================================================GERMANY=======================================================-->
        <div class="row profile ">
            <div class="col-xs-6">
                <p>( Toll free ) </p>
            </div>
            <div class="col-xs-6">
                <p>08001816331</p>
            </div>
        </div>
                 
        <div class="row profile ">
            <div class="col-xs-6">
                <p>landline</p>
            </div>
            <div class="col-xs-6">
                <p>8004901111 </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>mobile</p>
            </div>
            <div class="col-xs-6">
                <p>8004902222</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>payphone</p>
            </div>
            <div class="col-xs-6">
                <p>8004903333</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>( Global Toll Free ) </p>
            </div>
            <div class="col-xs-6">
                <p>00-80090980844 </p>
            </div>
        </div>
        <!--===============================================================GERMANY=======================================================-->
    }
    else if (Model.AccessCountry == "44")
    {
        <!--===============================================================HUNGARY=======================================================-->
        <div class="row profile ">
            <div class="col-xs-6">
                <p>BUDAPEST</p>
            </div>
            <div class="col-xs-6">
                <p>3617008257</p>
            </div>
        </div>
                 
        <div class="row profile ">
            <div class="col-xs-6">
                <p>DEBRECEN</p>
            </div>
            <div class="col-xs-6">
                <p>3652808313 </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>MISKOLC</p>
            </div>
            <div class="col-xs-6">
                <p>3646808130</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>SZEGED</p>
            </div>
            <div class="col-xs-6">
                <p>3662808143</p>
            </div>
        </div>
        <!--===============================================================HUNGARY=======================================================-->
    }
    else if (Model.AccessCountry == "17")
    {
        <!--===============================================================ITALY=======================================================-->
        <div class="row profile ">
            <div class="col-xs-6">
                <p>( Toll free ) </p>
            </div>
            <div class="col-xs-6">
                <p>800789144</p>
            </div>
        </div>
                 
        <div class="row profile ">
            <div class="col-xs-6">
                <p>landline</p>
            </div>
            <div class="col-xs-6">
                <p>8003901111</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>mobile</p>
            </div>
            <div class="col-xs-6">
                <p>8003902222</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>payphone</p>
            </div>
            <div class="col-xs-6">
                <p>8003903333</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>( Global Toll Free )</p>
            </div>
            <div class="col-xs-6">
                <p>00-80090980844</p>
            </div>
        </div>
        <!--===============================================================ITALY=======================================================-->
    }
    else if (Model.AccessCountry == "50")
    {
        <!--===============================================================LITHUANIA=======================================================-->
        <div class="row profile ">
            <div class="col-xs-6">
                <p>VILNIUS</p>
            </div>
            <div class="col-xs-6">
                <p>37052110098</p>
            </div>
        </div>
                 
        <div class="row profile ">
            <div class="col-xs-6">
                <p>AGUASCALIENTES</p>
            </div>
            <div class="col-xs-6">
                <p>524492354510</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>CELAYA</p>
            </div>
            <div class="col-xs-6">
                <p>524611624669</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>CORDOBA</p>
            </div>
            <div class="col-xs-6">
                <p>522717136060</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>GUADALAJARA</p>
            </div>
            <div class="col-xs-6">
                <p>523350047298</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>IRAPUATO</p>
            </div>
            <div class="col-xs-6">
                <p>524623874703</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>JALAPA </p>
            </div>
            <div class="col-xs-6">
                <p>522288500075</p>
            </div>
        </div>
                 
        <div class="row profile ">
            <div class="col-xs-6">
                <p>LEON</p>
            </div>
            <div class="col-xs-6">
                <p>524774934423</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>MEXICO CITY </p>
            </div>
            <div class="col-xs-6">
                <p>525511638659</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>MONTERREY</p>
            </div>
            <div class="col-xs-6">
                <p>528150307344</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>NUEVO LAREDO</p>
            </div>
            <div class="col-xs-6">
                <p>528672334681</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>ORIZABA</p>
            </div>
            <div class="col-xs-6">
                <p>522727286051</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>PUEBLA</p>
            </div>
            <div class="col-xs-6">
                <p>522225006802</p>
            </div>
        </div>
                 
        <div class="row profile ">
            <div class="col-xs-6">
                <p>QUERETARO</p>
            </div>
            <div class="col-xs-6">
                <p>524424778299</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>RZESZOW</p>
            </div>
            <div class="col-xs-6">
                <p>48177837239</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>SALTILLO</p>
            </div>
            <div class="col-xs-6">
                <p>528442504674</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>SZCZECIN</p>
            </div>
            <div class="col-xs-6">
                <p>48918851072</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>SAN LUIS POTOSI </p>
            </div>
            <div class="col-xs-6">
                <p>524442400289 </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>TEHUACAN</p>
            </div>
            <div class="col-xs-6">
                <p>522381240056 </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>TOLUCA</p>
            </div>
            <div class="col-xs-6">
                <p>527222877697 </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>VERACRUZ </p>
            </div>
            <div class="col-xs-6">
                <p>522299102537 </p>
            </div>
        </div>
        <!--===============================================================LITHUANIA=======================================================-->    
    }
    else if (Model.AccessCountry == "20")
    {
        <!--===============================================================NEW ZEALAND=======================================================-->
        <div class="row profile ">
            <div class="col-xs-6">
                <p>( Toll free ) </p>
            </div>
            <div class="col-xs-6">
                <p>0800449670</p>
            </div>
        </div>
                 
        <div class="row profile ">
            <div class="col-xs-6">
                <p>landline</p>
            </div>
            <div class="col-xs-6">
                <p>8006401111</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>mobile</p>
            </div>
            <div class="col-xs-6">
                <p>8006402222</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>payphone</p>
            </div>
            <div class="col-xs-6">
                <p>8006403333</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>( Global Toll Free )</p>
            </div>
            <div class="col-xs-6">
                <p>00-80090980844</p>
            </div>
        </div>
        <!--===============================================================NEW ZEALAND=======================================================-->
    }
    else if (Model.AccessCountry == "21")
    {
        <!--===============================================================POLAND=======================================================-->
        <div class="row profile ">
            <div class="col-xs-6">
                <p>( Toll free ) </p>
            </div>
            <div class="col-xs-6">
                <p>008001124083</p>
            </div>
        </div>
                 
        <div class="row profile ">
            <div class="col-xs-6">
                <p>( Global Toll Free ) </p>
            </div>
            <div class="col-xs-6">
                <p>00-80090980844</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>BIALYSTOK</p>
            </div>
            <div class="col-xs-6">
                <p>48858730147</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>BIELSKO - BIALA </p>
            </div>
            <div class="col-xs-6">
                <p>48334865074</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>Bristol</p>
            </div>
            <div class="col-xs-6">
                <p>1179114113</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>BYDGOSZCZ</p>
            </div>
            <div class="col-xs-6">
                <p>48525110007</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>GDANSK </p>
            </div>
            <div class="col-xs-6">
                <p>48587421435</p>
            </div>
        </div>
                 
        <div class="row profile ">
            <div class="col-xs-6">
                <p>KATOWICE</p>
            </div>
            <div class="col-xs-6">
                <p>48327570347</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>KRAKOW</p>
            </div>
            <div class="col-xs-6">
                <p>48123953160</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>LODZ</p>
            </div>
            <div class="col-xs-6">
                <p>48422980089</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>LUBLIN</p>
            </div>
            <div class="col-xs-6">
                <p>48814403015</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>NOWY SACZ </p>
            </div>
            <div class="col-xs-6">
                <p>48185404031</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>OLSZTYN</p>
            </div>
            <div class="col-xs-6">
                <p>48896701011</p>
            </div>
        </div>
                 
        <div class="row profile ">
            <div class="col-xs-6">
                <p>POZNAN</p>
            </div>
            <div class="col-xs-6">
                <p>48616416094</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>RZESZOW</p>
            </div>
            <div class="col-xs-6">
                <p>48177837239</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>SOPOT</p>
            </div>
            <div class="col-xs-6">
                <p>48587421008</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>SZCZECIN</p>
            </div>
            <div class="col-xs-6">
                <p>48918851072</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>TARNOW</p>
            </div>
            <div class="col-xs-6">
                <p>48146913024 </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>WARSAW</p>
            </div>
            <div class="col-xs-6">
                <p>48223983730 </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>WARSAW</p>
            </div>
            <div class="col-xs-6">
                <p>48223988180 </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>WLOCLAWEK </p>
            </div>
            <div class="col-xs-6">
                <p>48544202072 </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>WROCLAW </p>
            </div>
            <div class="col-xs-6">
                <p>48717181951 </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6">
                <p>ZAMOSC </p>
            </div>
            <div class="col-xs-6">
                <p>48845398058 </p>
            </div>
        </div>
        <!--===============================================================POLAND=======================================================-->
    }
    else if (Model.AccessCountry == "57")
    {
        <!--===============================================================OTHER COUNTRIES=======================================================-->
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>AUSTRALIA </p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>1800211849 ( Toll free ) </p>
            </div>
            <div class="col-xs-6 col-xs-offset-6 col-md-4 col-md-offset-0">
                <p>0011-80090980844 ( Global Toll Free )</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>FRANCE</p>
            </div>
            <div class="col-xs-6  col-md-4">
                <p>0800902636 ( Toll free ) </p>
            </div>
            <div class="col-xs-6 col-xs-offset-6  col-md-4 col-md-offset-0">
                <p>00-80090980844 ( Global Toll Free )</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>GUATEMALA-Guatemala City ( Pin-less)  </p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>50223784404</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>GUATEMALA-Guatemala City ( Physical ) 	 </p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>50223784405 </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>HONG KONG  </p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>800930333 ( Toll free )  </p>
            </div>
            <div class="col-xs-6 col-xs-offset-6 col-md-4 col-md-offset-0">
                <p>001-80090980844 ( Global Toll Free ) </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>INDIA  </p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>0008001007432 ( Toll free ) </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>INDONESIA </p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>0018030179026 ( Toll free ) </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>ISRAEL </p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>1809259026 ( Toll free ) </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>LUXEMBOURG </p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>80023298 ( Toll free ) </p>
            </div>
            <div class="col-xs-6 col-xs-offset-6 col-md-4 col-md-offset-0">
                <p>00-80090980844 ( Global Toll Free )</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>MALAYSIA </p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>1800814372 ( Toll free )</p>
            </div>
            <div class="col-xs-6 col-xs-offset-6 col-md-4 col-md-offset-0">
                <p>00-80090980844 ( Global Toll Free )</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>MEXICO </p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>0018005149026 ( Toll free ) </p>
            </div>
            <div class="col-xs-6 col-xs-offset-6 col-md-4 col-md-offset-0">
                <p>00-80090980844 ( Global Toll Free )</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-12  col-md-4">
                <p>SLOVENIA  </p>
            </div>
            <div class="col-xs-6 col-xs-offset-6  col-md-4  col-md-offset-4">
                <p>00-80090980844 ( Global Toll Free ) </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-12  col-md-4">
                <p>SOUTH AFRICA  </p>
            </div>
            <div class="col-xs-6 col-xs-offset-6  col-md-4 col-md-offset-4">
                <p>00-80090980844 ( Global Toll Free ) </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>SPAIN </p>
            </div>
            <div class="col-xs-6 col-md-4 col-md-offset-4">
                <p>900937636</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>SWEDEN </p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>020797223</p>
            </div>
            <div class="col-xs-6 col-xs-offset-6 col-md-4 col-md-offset-0">
                <p>00-80090980844 ( Global Toll Free ) </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>SWEDEN-STOCKHOLM  </p>
            </div>
            <div class="col-xs-6 col-md-4 col-md-offset-4">
                <p>46852500814</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>SWITZERLAND  </p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>0800890171 ( Toll free )</p>
            </div>
            <div class="col-xs-6 col-xs-offset-6 col-md-offset-0">
                <p>00-80090980844 ( Global Toll Free ) </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>SWITZERLAND </p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>8004101111 - landline </p>
            </div>
            <div class="col-xs-6 col-xs-offset-6 col-md-4 col-md-offset-0">
                <p>8004102222 - mobile </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>SWITZERLAND-ZURICH  </p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>41435004194</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>SLOVENIA-LJUBLJANA </p>
            </div>
            <div class="col-xs-6 col-md-4 ">
                <p>38616002705</p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4">
                <p>SLOVAKIA-KOSICE  </p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>421552302856 </p>
            </div>
        </div>
        <div class="row profile ">
            <div class="col-xs-6 col-md-4 col-md-4">
                <p>ROMANIA-BUCHAREST  </p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>1800211849 ( Toll free ) </p>
            </div>
        </div>


        <!--===============================================================OTHER COUNTRIES=======================================================-->

      
    }





</div>
