@charset "utf-8";
/* CSS Document */

*{
	margin:0; 
	padding:0;
}
body {
	background:#212121;
}
.clear {clear:both;}
#outerContainer {
	width:1133px; margin:0 auto; 
	background:url(../images/bg-icc.jpg) no-repeat center top; 
	min-height:895px; 
	box-shadow: 0 0 20px rgba(0,0,0,0.5)
}
#innerContainer {
	width:896px; 
	margin:0 auto;
}
.winaChance {
	float:left;
	width:363px;
	padding:177px 0 50px 115px;	
}
.player {
	float:right;
	width:343px;
	padding:129px 30px 0 35px;	
	background:url(../images/player.png) no-repeat;
	min-height:280px;
	position: relative;
}
.faqs {
	position:absolute;
	bottom:-27px;
	right:-24px; 
	z-index:100;	
}
.downloadApps {
	float:left;
	width:310px;
	min-height:360px;
	background:url(../images/downloadapp.jpg) no-repeat left top;	
	padding: 25px 0 0 10px;
}
.itune {
	float:left;
	width:132px;	
}
.googleplay {
	float:left;
	width:151px;	
}
.ticket {
	float::left;
	padding:71px 0 0 0;
}
.talkmins {
	float:left;
	padding:0 0 0 70px;
}
.copyright {
	float:left;
	width:100%;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;	
	padding-top:70px;
	font-weight:600;
}