<div class="full_height">
    <div class="container-fluid ">
        <div class="container">
            <h1 class=" title_login">Error 404 Page</h1>
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text_center error_title">404</h1>
                    <h1 class="text_center">We’re Deeply Sorry for your loss.</h1>
                    <h3 class="text_center">Condolences can be found at the </h3>
                    <h4 class="home_btn text_center"><a href="@Url.Action("Index", "Account")">Home page</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
