<!-- ==========================================start header========================================= -->
<div class="container-fluid header_bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-1 col-sm-1 ">
                <a href="#menu"><span class="fa fa-navicon header_size"></span></a>
            </div>
            <div class="col-xs-4 col-xs-offset-3 col-sm-2 col-sm-offset-4">
                <a href="@Url.Action("Index", "Account")">
                    <img class="img-responsive header_logo" src="@Url.Content("~/Content/MobileTheme/images/raza_logo.png")"></a>
            </div>
            <div class="col-xs-3  col-sm-2 col-sm-offset-2">
                <div class="demo">
                    <div class="ui fluid selection dropdown dropdown_lan " id="ddl-global-country">
                        <div type="hidden" name="country"></div>
                        <i class="dropdown icon"></i>
                        <div class="text" tabindex="0"><i class="us flag"></i></div>
                        <div class="menu" tabindex="-1">
                            <div class="item " data-value="1"><i class="us flag"></i></div>
                            <div class="item" data-value="2"><i class="ca flag"></i></div>
                            <div class="item" data-value="3"><i class="gb flag"></i></div>
                        </div>
                    </div>


                </div>


            </div>
            <div class="col-xs-1 col-sm-1"><a href="@Url.Action("LogOn", "Account")"><span class="fa fa-user header_user"></span></a></div>
        </div>
    </div>
</div>
<!-- ==========================================start header========================================= -->

