@{
    ViewBag.Title = "_SessionExpiredError";
}

<div class="full_height">
    <div class="container-fluid ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="session_mar">
                        <h1 class="text_center">Your Session Expired</h1>
                        <h3 class="text_center">Your session has expired due to inactivity. Please try again</h3>
                        <h4 class="home_btn text_center"><a href="@Url.Action("Index","Account")">Continue</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
