@{
    ViewBag.Title = "Index";
}


<div class="container-fluid">
    <div class="container">
        <h1 class=" title_login">User Information</h1>
    </div>
</div>
<div class="plan_tbg">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <h1 class=" title_plan">Billing Information</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <input type="text" class="form-control form_mar " id="exampleInputEmail1" placeholder="Address">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <input type="text" class="form-control form_mar " id="exampleInputEmail1" placeholder="Apartment/Unit #">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <input type="text" class="form-control form_mar " id="exampleInputEmail1" placeholder="Zip/ Postal Code">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <input type="text" class="form-control form_mar " id="exampleInputEmail1" placeholder="City">
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <select class="form-control form_mar">
                        <option>Select Country</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <select class="form-control form_mar">
                        <option>Select State</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="plan_tbg">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <h1 class=" title_plan">Payment Information</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="form_mar">Select Card Type</div>
                    <select class="form-control form_mar ">
                        <option value="0">Visa</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>
                        <input type="radio" value="C">
                    </label>
                    <span>Select Card Type</span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>
                        <input type="radio">
                    </label>
                    <span>Add New Card</span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="**** **** ****">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <select class="form-control form_mar">
                        <option>select Date</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="form-group">
                    <select class="form-control form_mar ">
                        <option value="0">select Year</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="form-group">
                    <input type="text" class="form-control form_mar" id="exampleInputEmail1">
                </div>
            </div>
            <div class="col-xs-5 form_inline">
                <h5><a href="#" data-toggle="modal" data-target=".demo_dilogbox">What is CVV?</a></h5>
            </div>
        </div>
    </div>
</div>
<div class="plan_tbg">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <h1 class=" title_plan">Review Your Order</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="text_bold">
            <div class="row profile">
                <div class="col-xs-12  ">
                    <h3 class=" review_titile">Real Time Recharge</h3>
                </div>
            </div>
            <div class="row profile">
                <div class="col-xs-12  ">
                    <h3 class=" review_titile">Carrier : Simple Mobile RTR</h3>
                </div>
            </div>
            <div class="row profile">
                <div class="col-xs-12  ">
                    <h3 class=" review_titile">Amount : $25 TNT ONLY - 30 DAYS</h3>
                </div>
            </div>
            <div class="row profile">
                <div class="col-xs-12  ">
                    <h3 class=" review_titile">Phone# (Receiver) : 15421254123651</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12  ">
                    <h3 class=" review_titile">Service Fee : $0</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="plan_lbg">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <h1 class="title_total">Total Amount : $10</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-block form_mar btn_bgreen">Submit <span class=" btn_next fa fa-chevron-right"></span></button>
            </div>
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-block form_mar btn_bgray"><span class=" btn_prev fa fa-chevron-left"></span>Back</button>
            </div>
        </div>
    </div>
</div>



